.catalog-detail {
    padding-top: var(--page-top-padding);
    padding-bottom: 9rem;
    @include breakpoint(mobile) {
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
}

.catalog-detail__main-heading {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.7rem;
    margin-bottom: 5rem;
    margin-top: 2.7rem;
    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1.9rem;
        line-height: 2.3rem;
        margin-bottom: 2.5rem;
    }
}

.catalog-detail__layout {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.catalog-detail__layout-main {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        display: contents;
    }
}

.catalog-detail__layout-sidebar {
    width: 44rem;
    flex-shrink: 0;
    margin-left: 7.8rem;
    will-change: min-height;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
        order: -1;
    }
}

.catalog-detail__layout-sidebar-content {
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

.catalog-detail__price {
    margin-bottom: 3rem;
}

.catalog-detail__current-price {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.7rem;
    letter-spacing: 0.01em;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        letter-spacing: 0.01em;
        margin-bottom: 0.8rem;
    }
}

.catalog-detail__minimal-price {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #99a6b6;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.catalog-detail__actions {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #edf0f5;
    @include breakpoint(mobile) {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
}

.catalog-detail__timer {
    width: 40%;
    flex-grow: 1;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1.3rem;
    padding: 1.6rem 1.8rem;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: var(--text-color);
    }

    @include breakpoint(mobile) {
        padding: 1.4rem;
    }
}

.catalog-detail__timer-countdown {
    width: 3.8rem;
    height: 3.8rem;
    flex-shrink: 0;
    margin-right: 1.4rem;

    svg {
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
        circle:nth-child(2) {
            transition: stroke-dashoffset 0.2s;
            stroke-dashoffset: calc(500px - 500px * var(--lot-progress, 0));
        }
    }

    @include breakpoint(mobile) {
        width: 2.7rem;
        height: 2.7rem;
        margin-right: 1rem;
    }
}

.catalog-detail__timer-content {
    width: 50%;
    flex-grow: 1;
}

.catalog-detail__timer-buy-text {
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.3rem;
    margin-bottom: 0.4rem;

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 0.4rem;
    }
}

.catalog-detail__remaining-time {
    font-size: 1.2rem;
    line-height: 1.5rem;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.catalog-detail__like-btn {
    flex-shrink: 0;
    color: var(--primary-color);
    margin-left: 2rem;
    margin-right: 2rem;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &.active,
    &:hover {
        svg {
            fill: var(--primary-color);
        }
    }
    svg {
        width: 3.4rem;
        height: 3.4rem;
        display: block;
        flex-shrink: 0;
        fill: transparent;
        transition: fill 0.2s;
        @include breakpoint(mobile) {
            width: 32px;
            height: 32px;
        }
    }

    @include breakpoint(mobile) {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
}

.catalog-detail__additional-actions {
    margin-bottom: 6rem;
    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.catalog-detail__additional-actions-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -1.6rem;
    margin-bottom: -1.6rem;
}

.catalog-detail__additional-actions-list-item {
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
}

.catalog-detail__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border: 2px solid #d1dae6;
    border-radius: 1rem;
    padding: 1.1rem 1.5rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    user-select: none;
    svg {
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
        margin-right: 0.7rem;

        &.icon-pencil {
            width: 1.4rem;
            height: 1.4rem;
        }

        &.icon-doc {
            width: 1.5rem;
            height: 1.5rem;
        }

        &.icon-rub {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        color: white;
    }
}

.catalog-detail__general-info {
    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.catalog-detail__general-info-table {
    margin-bottom: 4.4rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 3.2rem;
    }

    table {
        display: block;
        thead,
        tbody,
        tr,
        td {
            text-align: left;

            display: block;
        }

        tr {
            display: flex;
            align-items: baseline;
            margin-bottom: 2.2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }

        th,
        td {
            width: 50%;
            font-size: 1.5rem;
            line-height: 1.8rem;
        }

        th {
            color: #99a6b6;
            display: flex;
            align-items: baseline;
            font-weight: 400;
            &::after {
                content: '';
                width: 1px;
                height: 1px;
                flex-shrink: 0;
                flex-grow: 1;
                border-bottom: 1px dashed rgba(#050c42, 0.2);
                margin: 0 0.6rem;
            }

            @include breakpoint(mobile) {
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }

        td {
            .locked {
                display: flex;
                align-items: center;
                color: #99a6b6;
                white-space: nowrap;
               
            }


            .locked__remark {
                margin-left: 1rem;
                flex-shrink: 0;
                position: relative;
                display: block;
                svg {
                    flex-shrink: 0;
                    width: 1.4rem;
                    height: 1.4rem;


                    @include breakpoint(mobile) {
                        height: 14px;
                        width: 14px;
                    }
                    
                }

                &:hover {
                    .locked__dropdown {
                        opacity: 1;
                        visibility: visible;
                        transition: opacity .3s, visibility .3s;
                    }
                }
            }

            .locked__dropdown {
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                z-index: 40;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s, visibility 0s linear 0.3s;
                padding-top: 1rem;
                display: block;
                width: 33rem;

                @include breakpoint(mobile) {
                    left: auto;
                    right: 0;
                    transform: none;
                    width: auto;
                    width: calc(100vw - 2 * var(--content-padding));
                }
            }

            .locked__dropdown-inner {
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.5rem;
                padding: 0.9rem 1.8rem;
                background: #D9F3EB;
                border-radius: 0.9rem;
                position: relative;
                display: block;
                color: var(--text-color);

                @include breakpoint(mobile) {
                    text-align: center;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 2.2rem;
                    height: 2.2rem;
                    top: -1.1rem;
                    background-image: url("data:image/svg+xml,%0A%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.78 19.06'%3E%3Cpath d='M7.23 1.6a3 3 0 015.31 0l6.89 13.07a3 3 0 01-2.66 4.39H3a3 3 0 01-2.65-4.39z' fill='%23d9f3eb'/%3E%3C/svg%3E");


                    @include breakpoint(mobile) {
                        left: auto;
                        right: 0;
                        transform: none;
                        width: 1.8rem;
                        height: 1.8rem;
                        top: -.8rem;
                    }
                }


                a {
                    text-decoration: underline;
                    &:link,
                    &:visited {
                        color: var(--primary-color);

                    }
                }
            }
        }

        a {

            &:link,
            &:visited {
                color: var(--primary-color);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--medium-first-col {
        table {
            // tr {
            //     @include breakpoint(mobile) {
            //         display: grid;
            //         grid-template-columns: minmax(min-content, 1fr) min-content;
            //     }
            // }
           
            th {
                width: 35%;
                @include breakpoint(mobile) {
                    width: auto;
                   
                    flex-grow: 1;
                }
            }

            td {
                width: 65%;
                @include breakpoint(mobile) {
                    width: auto;
                    width: min-content;
                    &:nth-child(2) {
                        text-align: right;
                    }

                    a {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    &--short-first-col {
        table {
            th {
                width: 20%;
                @include breakpoint(mobile) {
                    width: 50%;
                }
            }

            td {
                width: 80%;
                @include breakpoint(mobile) {
                    width: 50%;
                }
            }
        }
    }
}

.catalog-detail__gallery {
    display: flex;
    margin-bottom: 4.8rem;
    @include breakpoint(mobile) {
        margin-bottom: 2.8rem;
        order: -3;
    }
}

.catalog-detail__gallery-thumbs {
    width: 6.2rem;
    margin-right: 2.2rem;
    flex-shrink: 0;

    .swiper-container,
    .swiper-wrapper {
        height: 100%;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.catalog-detail__gallery-main {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;

        .swiper-container {
            overflow: visible;
        }
    }
}

.catalog-detail__gallery-card {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 56.25%;
        padding-bottom: 70%;
    }
}

.catalog-detail__gallery-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.catalog-detail__gallery-thumbs-card {
    display: block;
    width: 100%;
    position: relative;
    border-radius: 1.7rem;
    overflow: hidden;
    cursor: pointer;
    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.7rem;
        border: 0.3rem solid var(--primary-color);
        transition: opacity 0.3s;
        opacity: 0;
    }

    .swiper-slide-thumb-active & {
        &::after {
            opacity: 1;
        }
    }
}

.catalog-detail__gallery-thumbs-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.catalog-detail__accordion {
    margin-bottom: 3rem;
    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
    }
}

.catalog-detail__accordion-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ebf1f5;
    border-radius: 1.3rem;
    padding: 2rem 2.7rem;
    min-height: 6.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    cursor: pointer;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 1.4rem 2rem;
        min-height: auto;
    }
}

.catalog-detail__accordion-btn-cross {
    width: 14px;
    height: 14px;
    position: relative;
    flex-shrink: 0;
    margin-left: 1rem;

    & > span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateZ(0) translate(-50%, -50%);
        height: 2px;
        width: 100%;
        background-color: var(--text-color);
        transition: transform 0.2s;
        &:nth-child(2) {
            transform: translateZ(0) translate(-50%, -50%) rotate(90deg);
        }
    }

    @include breakpoint(mobile) {
        width: 12px;
        height: 12px;
    }
}

.catalog-detail__accordion.active .catalog-detail__accordion-btn-cross > span {
    &:nth-child(2) {
        transform: translateZ(0) translate(-50%, -50%) rotate(90deg) scaleX(0);
    }
}

.catalog-detail__accordion-content {
    max-height: 0;
    transition: max-height 0.4s;
    overflow: hidden;
}

.catalog-detail__accordion-content--fullwidth {
    @include breakpoint(mobile) {
        margin: 0 calc(-1 * var(--content-padding));
    }
}

.catalog-detail__accordion-content-inner {
    padding-top: 3.2rem;
    @include breakpoint(mobile) {
        padding-top: 2rem;
    }
}

.catalog-detail__description {
    font-size: 1.9rem;
    line-height: 2.7rem;

    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}

.catalog-detail__accordion-link {
    margin-top: 3.2rem;
    @include breakpoint(mobile) {
        margin-top: 2rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        min-height: 6rem;
        width: 100%;
    }
}

.catalog-detail__register-info-heading {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2.3rem;
    margin-bottom: 2.4rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1;
        margin-bottom: 2rem;
    }
}

.catalog-detail__accordion-table {
    margin-bottom: 0;
}

.catalog-detail__price-dynamics {
    @include breakpoint(mobile) {
        position: relative;
        // &::after {
        //     content: '';
        //     position: absolute;
        //     right: 0;
        //     top: 0;
        //     height: 100%;
        //     width: 1.5rem;
        //     background-image: linear-gradient(to left, rgba(white, 1), rgba(white, 0));
        // }
    }
}

.catalog-detail__btn--table-btn {
    @include breakpoint(mobile) {
        position: sticky;
        top: 0;
        left: var(--content-padding);
        min-height: 6rem;
        width: calc(100vw - (2 * var(--content-padding)));
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

.catalog-detail__price-dynamics {
    @include breakpoint(mobile) {
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 1rem;

        width: auto;
    }
}

.catalog-detail__price-dynamics-actual {
    @include breakpoint(mobile) {
        padding: 0 var(--content-padding);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        @include breakpoint(mobile) {
            width: auto;
            width: max-content;
        }
        thead,
        tbody {
            display: block;
        }

        th,
        td {
            text-align: left;

            display: block;
            font-size: 1.5rem;
            line-height: 1.8rem;

            @include breakpoint(mobile) {
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }

        tr {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            display: grid;
            margin-bottom: 2rem;
            @include breakpoint(mobile) {
                margin-bottom: 1.5rem;
            }
        }

        th {
            color: #99a6b6;
            font-weight: 400;
        }

        td {
            &[colspan='4'] {
                grid-column: span 4;
            }
            &:nth-child(3) {
                font-weight: 700;
            }
        }

        tbody {
            tr {
                &:first-child {
                    td,
                    th {
                        font-size: 1.9rem;
                        line-height: 2.3rem;

                        @include breakpoint(mobile) {
                            font-size: 1.5rem;
                            line-height: 1.8rem;
                        }
                    }
                }
            }
        }

        tr.old {
            td {
                color: #99a6b6;
            }
        }

        &.old-hidden tr.old {
            display: none;
        }
    }
}

.catalog-detail__announcement {
    padding: 2.5rem;
    background: #e9b6b6;
    border-radius: 1.4rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 3rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    &:last-child {
        margin-bottom: 0;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    @include breakpoint(mobile) {
        padding: 1.8rem;
        min-height: auto;
        margin-bottom: 4rem;
    }
}

.catalog-detail__announcement-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include objectFitCover();
}

.catalog-detail__announcement-heading {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: -0.01em;
    margin-bottom: 1.5rem;
    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
    }
}

.catalog-detail__link-text {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: auto;
    svg {
        width: 0.6rem;
        height: 0.85rem;
        flex-shrink: 0;
        margin-left: 0.9rem;
    }
}

.catalog-detail__rules-heading {
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.7rem;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0.8rem;
    }
}

.catalog-detail__rules-content {
    font-size: 1.9rem;
    line-height: 2.7rem;

    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.catalog-detail__documents-link {
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 1.9rem;
    &:last-child {
        margin-bottom: 0;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        color: var(--primary-color);
    }

    svg {
        width: 2.2rem;
        height: 2.8rem;
        flex-shrink: 0;
        margin-right: 1.7rem;
        margin-top: 0.37rem;
        @include breakpoint(mobile) {
            width: 2.6rem;
            height: 2.6rem;
            margin-right: 1.4rem;
        }
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.catalog-detail__documents-link-content {
    width: 50%;
    flex-grow: 1;
}

.catalog-detail__documents-link-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.catalog-detail__documents-link-format {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #99a6b6;
    @include breakpoint(mobile) {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}
