.change-browser {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 4000;
   

    @supports (display: grid) {
        display: none;
    }
}


.change-browser__message {
    background-color: var(--primary-color);
    padding: 1.5rem;
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
}