.main-heading {
    font-weight: bold;
    font-size: 6rem;
    line-height: 7.3rem;
    display: flex;
    align-items: baseline;
}

.main-heading__count {
    font-size: 3rem;
    line-height: 3.7rem;
    font-weight: 400;
    color: #99A6B6;
    margin-left: 1.3rem;
}
