.modals__modal {
    background: rgba(#050c42, 0.6);
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    padding: 2rem;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    @include noScrollbar();
    &.shown {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }
}

.modals__modal-content {
    margin: auto;
    max-width: 61.5rem;
    width: 100%;
    background: #ffffff;
    border-radius: 3rem;
    padding: 4.8rem 8.5rem;
    color: var(--text-color);
    position: relative;
    display: flex;
    flex-direction: column;

    &--wide {
        max-width: 78rem;
    }

    &--ultrawide {
        max-width: 96rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    @include breakpoint(mobile) {
        padding: 2rem;
        border-radius: 2rem;
    }
}

.modals__modal-close-btn {
    position: absolute;
    left: 100%;
    top: 0;
    width: 5.6rem;
    height: 5.6rem;
    background-color: #fff;
    box-shadow: 0px 0.4rem 4rem rgba(0, 0, 0, 0.14);
    border-radius: 1.5rem;
    margin-left: 2.4rem;
    transition: background-color 0.2s;
    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--text-color);
        transition: fill 0.2s;
    }

    &:hover {
        background-color: var(--primary-color);

        svg {
            fill: white;
        }
    }

    @include breakpoint(mobile) {
        position: relative;
        margin: 0;
        left: auto;
        top: auto;
        box-shadow: none;
        width: 4.6rem;
        height: 4.6rem;
        border-radius: 1.3rem;
        margin-bottom: 1.5rem;
        margin-left: auto;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.modals__heading {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2rem;

    &--text-align {
        text-align: left;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;

        br {
            display: none;
        }
    }
}

.modals__message {
    text-align: center;
    margin-bottom: 2.4rem;

    font-size: 1.9rem;
    line-height: 2.3rem;
    text-align: center;
    a {
        &:hover {
            text-decoration: underline;
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 1.2;
        br {
            display: none;
        }
    }
}

.modals__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__btn {
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2.3rem;
    text-align: center;
    padding: 2rem 3rem;
    min-width: 21rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: 2px solid var(--primary-color);
    margin-right: 2.4rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &--fullwidth {
        min-width: auto;
        width: 100%;
    }
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: var(--text-color);
        border-color: var(--text-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        min-width: auto;
        padding: 1.4rem 2rem;
        min-width: 13rem;
        border-radius: 1.3rem;
    }
}

.modal__btn--hollow {
    background-color: #fff;
    color: var(--primary-color);

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        background-color: var(--primary-color);
        color: white;
        border-color: var(--primary-color);
    }
}

.modals__card-number {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2.3rem;
    text-align: center;
    margin-bottom: 3.2rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.modals__form {
    margin-bottom: 3.2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.modals__form-row {
    margin-bottom: 3.2rem;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }

    .parsley-errors-list.filled {
        font-size: 1.5rem;
        line-height: 1.8rem;

        margin-top: 0.8rem;
        color: #fc5555;

        @include breakpoint(mobile) {
            font-size: 1.4rem;
            line-height: 1.2;
        }
    }
}

.modals__form-label {
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: #99a6b6;
    margin-bottom: 0.8rem;
    display: block;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.modals__form-input {
    border: 2px solid rgba(#13b17c, 0.3);
    border-radius: 1.5rem;
    height: 6.4rem;
    padding: 0 2rem;
    transition: border-color 0.2s;
    color: var(--text-color);
    &:focus {
        border-color: var(--primary-color);
    }

    &.parsley-error {
        border-color: rgba(#fc5555, 0.3);
        &:focus {
            border-color: #fc5555;
        }
    }

    @include breakpoint(mobile) {
        height: 5.4rem;
        border-radius: 1.3rem;
        font-size: 16px;
        padding: 0 1.6rem;
    }
}

textarea.modals__form-input {
    height: 12rem;
    padding: 1.5rem 2rem;
    resize: none;

    @include breakpoint(mobile) {
        padding: 1rem 1.6rem;
    }
}

.modals__lot-info {
    display: flex;
    margin-bottom: 3.2rem;
    align-items: flex-start;
}

.modals__lot-info-image-container {
    width: 4.8rem;
    height: 4.8rem;
    flex-shrink: 0;
    margin-right: 0.8rem;
    overflow: hidden;
    position: relative;
    border-radius: 2.1rem;
}

.modals__lot-info-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.modals__lot-info-content {
    width: 50%;
    flex-grow: 1;
}

.modals__lot-info-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 0.8rem;
    font-weight: 400;
}

.modals__lot-info-number {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #99a6b6;
    font-weight: 400;
}

.modals__lot-price {
    font-size: 1.9rem;
    line-height: 2.3rem;
    text-align: center;
    margin-bottom: 3.2rem;
    font-weight: 400;
    p {
        margin-bottom: 0.8rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.modals__lot-price-amount {
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: var(--primary-color);
}

.modal__buy-lot-btn {
    margin: 0;
    margin-bottom: 2.4rem;
}

.modal__checkbox {
    display: flex;
    align-items: flex-start;
    user-select: none;
    cursor: pointer;
    margin-bottom: 1.6rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.modal__checkbox-input {
    @include visuallyHidden();
}

.modal__checkbox-mark {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    position: relative;
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.3rem;
    border: 2px solid #d1dae6;
    transition: background-color 0.2s, border-color 0.2s;
    svg {
        width: 1.45rem;
        height: 1.45rem;
        fill: white;
        flex-shrink: 0;
        opacity: 0;
    }
}

.modal__checkbox-input:checked ~ .modal__checkbox-mark {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    svg {
        opacity: 1;
    }
}

.parsley-error .modal__checkbox-mark {
    border-color: rgba(#fc5555, 0.3);
}

.modal__checkbox-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #99a6b6;
    transition: color 0.2s;
    a {
        font-weight: 700;
        &:link,
        &:visited {
            color: inherit;
        }

        &:hover {
            color: var(--primary-color);
        }
    }
}

.modals__logo {
    margin: 0 auto;
    margin-bottom: 2.4rem;
    width: 19rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 16rem;
    }
}

.modals__form-input-password-wrapper {
    position: relative;

    .modals__form-input {
        padding-right: 5rem;

        &[type='password'] {
            color: var(--primary-color);
        }
    }
}

.modals__form-input-show-password-btn {
    position: absolute;
    color: #99a6b6;
    transition: color 0.2s;
    top: 50%;
    transform: translateY(-50%);
    right: 2.4rem;
    z-index: 70;
    svg {
        width: 2.2rem;
        height: 1.6rem;
        display: block;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.modals__sign-in-with {
    margin-bottom: 3.2rem;
}

.modals__sign-in-with-title {
    font-size: 1.9rem;
    line-height: 2.3rem;
    text-align: center;
    margin-bottom: 1.6rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.modals__sign-in-with-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modals__sign-in-with-link {
    margin-right: 3rem;
    flex-shrink: 0;
}

.modals__sign-in-with-link-image {
    display: block;
    width: 4rem;
    height: 4rem;
    @include objectFitContain();
}

.modals__not-registered {
    text-align: center;
}

.modals__not-registered-text {
    font-size: 1.9rem;
    line-height: 2.3rem;

    margin-bottom: 1.6rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    a {
        font-weight: 700;
        color: var(--primary-color);

        &:link,
        &:visited {
            color: var(--primary-color);
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.modals__remember-password {
    font-size: 1.9rem;
    line-height: 2.3rem;

    color: #99a6b6;
    transition: color 0.2s;

    &:link,
    &:visited {
        color: #99a6b6;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.modals__form-remark {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #99a6b6;
    margin-top: 0.8rem;
    display: block;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}

.modals__choose-your-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    @include breakpoint(mobile) {
        margin-top: 1rem;
    }
}

.modals__choose-your-plan-tab-btns {
    display: flex;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.modals__choose-your-plan-tab-btn {
    padding: 1.6rem 2.2rem;
    border: 2px solid #050c42;
    background-color: #fff;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.3rem;
    transition: background-color 0.2s, color 0.2s;

    &:link,
    &:visited {
        color: var(--text-color);
    }

    &.active {
        background-color: var(--text-color);
        color: white;
    }
    &:first-child {
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-right: none;
    }

    &:last-child {
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        padding: 1.5rem 1.8rem;
    }
}

.modals__choose-your-plan-tab-btn-remark {
    display: block;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 0.3rem;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
    }
}

.modals__choose-your-plan-intro {
    text-align: center;
    margin-bottom: 4.8rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.modals__choose-your-plan-heading {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.8rem;
    margin-bottom: 0.7rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
    }
}

.modals__choose-your-plan-text {
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: #99a6b6;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}

.modals__choose-your-plan-tabs {
    position: relative;
}

.modals__choose-your-plan-tab {
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, transform 0s linear 0.4s, visibility 0s linear 0.4s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform: translateX(20%);

    &.active {
        position: relative;
        opacity: 1;
        visibility: inherit;
        z-index: 2;
        transform: translateX(0);
        transition: all 0.4s, transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.modals__choose-your-plan-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 4rem;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.modals__choose-your-plan-item {
    background: #ebf1f5;
    border-radius: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        border-radius: 2rem;
    }
}

.modals__choose-your-plan-item-header {
    padding: 2.4rem 3.6rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.8rem;

    background: #d1dae6;

    @include breakpoint(mobile) {
        padding: 1.8rem 2.4rem;
    }
}

.modals__choose-your-plan-item-image {
    width: 3.4rem;
    height: 3.4rem;
    flex-shrink: 0;
    margin-right: 1.4rem;

    @include objectFitContain();

    @include breakpoint(mobile) {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.modals__choose-your-plan-item-price {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.7rem;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.modals__choose-your-plan-item-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.2;
        margin-bottom: 2.5rem;
    }
}

.modals__choose-your-plan-item-advantages-list {
    margin-bottom: 3.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.modals__choose-your-plan-item-advantages-list-item {
    font-size: 1.9rem;
    line-height: 2.3rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;

    svg {
        width: 2.2rem;
        height: 2.2rem;
        flex-shrink: 0;
        margin-right: 1.2rem;
        fill: var(--primary-color);

        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 0.8rem;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 1.8rem;
    }
}

.modals__choose-your-plan-item-content {
    padding: 3.6rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding: 2.4rem;
    }
}

.modals__choose-your-plan-item-btn {
    width: 100%;
    margin-top: auto;
    text-align: center;
    display: block;
}

.modals__heading-remark {
    font-size: 1.9rem;
    line-height: 2.3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #99A6B6;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.modals__select-payment {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(mobile) {
        margin-top: 2rem;
    }
}

.modals__select-payment-heading {
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4.4rem;

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 3rem;
    }
}


.modals__select-payment-cards {
    max-width: 44.5rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 2.4rem;
}


.modals__select-payment-cards-checkbox {
    display: block;
}


.modals__select-payment-cards-checkbox-input {
    @include visuallyHidden();
}


.modals__select-payment-submit {
    margin-top: 6rem;
    align-self: center;

    @include breakpoint(mobile) {
        width: 100%;
        margin-top: 3rem;
    }
}


.modals__select-payment-cards-checkbox-input ~ .user__cards-card {
    border: 2px solid #EBF1F5;
    transition: border-color .2s;
    cursor: pointer;

    @include breakpoint(mobile) {
        grid-template-areas:
        'image info';
    }
}

.modals__select-payment-cards-checkbox-input:checked ~ .user__cards-card {
    border: 2px solid var(--primary-color);
}