.offer-card {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    position: relative;
    z-index: 1;
    // background-color: var(--primary-color);
    border-radius: 1.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2.6rem;
    min-height: 25rem;
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &--white-text {
        &:link,
        &:visited {
            color: white;
        }
    }

    &:hover {
        .offer-card__image {
            transform: scale(1.03);
        }
    }

    @include breakpoint(mobile) {
        padding: 2.4rem;
        min-height: 18.9rem;
    }
}

.offer-card__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include objectFitCover();
    transition: transform 0.3s;
}

.offer-card__title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 2.5rem;
    max-width: 25rem;

    @include breakpoint(mobile) {
       
        font-size: 1.9rem;
        line-height: 2.3rem;
        max-width: 20rem;
    }
}

.offer-card__btn {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: auto;
    &--green {
        color: var(--primary-color);
    }
    svg {
        width: 0.8rem;
        height: 1.2rem;
        margin-left: 1rem;
        flex-shrink: 0;
        position: relative;
        bottom: -0.12em;
        @include breakpoint(mobile) {
            width: 0.6rem;
            height: 1rem;
            bottom: -0.08em;
            margin-left: 0.8rem;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }
}
