.page-footer {
    background: #050c42;
    color: white;
    padding-top: 4.8rem;
    padding-bottom: 5.2rem;
    position: relative;
    z-index: 20;
    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 4.2rem;
    }
}

.page-footer__grid {
    display: grid;
    grid-template-columns: 1fr minmax(auto, var(--max-inner-container-width)) 1fr;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 5rem;
    }
}

.page-footer__logo-wrapper {
    margin-bottom: 9rem;
    display: flex;
    grid-column: 1 / -1;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        margin-bottom: 0;
        grid-column: initial;
    }
}

.page-footer__logo-link {
    align-self: flex-start;
    flex-shrink: 0;
    &:link,
    &:visited {
        color: white;
    }
}

.page-footer__logo-image {
    display: block;
    width: 16rem;
    height: auto;
    @include breakpoint(mobile) {
        width: 18rem;
    }
}

.page-footer__main-content {
    max-width: var(--max-inner-container-width);
    margin: 0 auto;
    margin-bottom: 19rem;
    display: flex;
    @supports (display: grid) {
        max-width: none;
        margin: 0;
        margin-bottom: 19rem;
        display: grid;
        grid-template-columns: 1fr 36rem;
        grid-gap: 6.5rem;
        grid-column: 2 / 3;

        @include breakpoint(mobile) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-column: initial;
            grid-gap: 5rem;
            margin-bottom: 0;
        }
    }
}

.page-footer__contacts {
    display: flex;
    flex-direction: column;
    grid-row: span 2;
    grid-column: 1 / 2;
    @include breakpoint(mobile) {
        grid-row: initial;
        grid-column: initial;
    }
}

.page-footer__contacts-heading {
    font-weight: bold;
    font-size: 5rem;
    line-height: 6.1rem;
    margin-bottom: 5rem;
    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1.9rem;
        line-height: 2.4rem;
    }
}

.page-footer__contacts-links {
    margin-top: auto;
    display: flex;
    align-items: baseline;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: initial;
        grid-gap: 3.6rem;
        display: grid;
    }
}

.page-footer__contacts-link {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.7rem;
    color: #99a6b6;
    margin-right: 5.8rem;
    white-space: nowrap;
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: #99a6b6;
    }

    &:hover {
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 1.9rem;
        line-height: 2.3rem;
        margin: 0;
    }
}

.page-footer__nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    @supports (display: grid) {
        display: contents;
        @include breakpoint(mobile) {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 3.6rem;
        }
    }
}

.page-footer__nav-list {
    grid-column: span 1;
    grid-row: span 1;
    margin-bottom: 6.5rem;
    &:last-child {
        margin-bottom: 0;
    }

    @supports (display: grid) {
        margin-bottom: 0;
        @include breakpoint(mobile) {
            grid-row: initial;
            grid-column: initial;
        }
    }
}

.page-footer__nav-list-item {
    margin-bottom: 1.5rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
}

.page-footer__nav-link {
    color: #99a6b6;
    font-size: 1.9rem;
    line-height: 2.3rem;
    &:link,
    &:visited {
        color: #99a6b6;
    }

    &:hover {
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.page-footer__social {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    margin-right: 3rem;
    margin-bottom: 2rem;

    @supports (display: grid) {
        margin-bottom: 0;
        @include breakpoint(mobile) {
            grid-column: initial;
            margin: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}

.page-footer__social-link {
    color: #99a6b6;
    margin-bottom: 2.6rem;
    flex-shrink: 0;
    &:last-child {
        margin-bottom: 0;
    }
    svg {
        width: 2rem;
        height: 2rem;
        display: block;
        @include breakpoint(mobile) {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
    &:link,
    &:visited {
        color: #99a6b6;
    }

    &:hover {
        color: white;
    }

    @include breakpoint(mobile) {
        margin: 0;
        margin-right: 1.5rem;
    }
}

.page-footer__info {
    grid-column: 2 / -1;
    display: flex;
    // align-items: baseline;
    font-size: 1.5rem;
    line-height: 1.8rem;
    align-items: flex-end;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        grid-column: initial;
        font-size: 1.2rem;
        line-height: 1.5rem;
        align-items: baseline;
        margin-bottom: -1rem;
    }
}

.page-footer__copyright {
    margin-right: 4.6rem;
    color: rgba(white, 0.3);
    @include breakpoint(mobile) {
        margin-right: 3rem;
        margin-bottom: 1rem;
      
    }
}

.page-footer__info-link {
    color: #99a6b6;
    margin-right: 4.5rem;
    &:link,
    &:visited {
        color: #99a6b6;
    }

    &:hover {
        color: white;
    }

    @include breakpoint(mobile) {
        margin-right: 3rem;
        margin-bottom: 1rem;
    }
}

.page-footer__made-by {
    display: flex;
    align-items: baseline;

    

    &:link,
    &:visited {
        color: #99a6b6;
    }

    &:hover {
        color: white;
        .page-footer__made-by-logo {
            opacity: 1;
        }
    }

    @include breakpoint(mobile) {
        margin-left: 0;
        margin-right: 3rem;
        margin-bottom: 1rem;
        width: 100%;
        &:last-child {
            margin-right: 0;
        }

      
    }
}

.page-footer__made-by-logo {
    width: 9rem;
    flex-shrink: 0;
    margin-left: 1rem;
    position: relative;
    bottom: -0.85rem;
    opacity: 0.2;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        width: 6.8rem;
        margin-left: 0.8rem;
        bottom: -0.68rem;
    }
}
