.page-header {
    position: relative;
    z-index: 500;
}

.page-header__nav-row {
    display: flex;
    align-items: baseline;
    padding: 1.8rem 0;
    margin-bottom: 0.5rem;
    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__main-nav {
    margin-right: auto;
}

.page-header__how-to-use-link {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--primary-color);
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        color: var(--text-color);
    }
}

.page-header__main-nav-list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.page-header__main-nav-list-item {
    margin-right: 2.5rem;
}

.page-header__main-nav-link {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;

    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        color: var(--primary-color);
    }
}

.page-header__search-row {
    display: flex;
    align-items: center;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        margin-bottom: 2.2rem;
    }
}

.page-header__burger-header {
    @include breakpoint(mobile) {
        height: 9.4rem;
        display: flex;
        align-items: center;
    }
}

.page-header__logo-link {
    flex-shrink: 0;

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        position: relative;
        z-index: 700;
    }
}

.page-header__logo-image {
    width: 19rem;
    height: auto;
    display: block;

    @include breakpoint(mobile) {
        width: 18rem;
    }
}

.page-header__search-form {
    width: 50%;
    flex-grow: 1;
    margin: 0 4.8rem;
    background-color: #fff;
    border-radius: 2.1rem;
    min-height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 2.2rem;

    .white-bg & {
        background-color: #F3F7F9;
    }

    @include breakpoint(mobile) {
        margin: 0;
        width: 100%;
        flex-grow: 0;
        border-radius: 1.4rem;
        min-height: 5.4rem;
        padding: 0 1.7rem;
    }
}

.page-header__catalog-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--primary-color);
    flex-shrink: 0;
    position: relative;
    padding-right: 2rem;
    &::after {
        content: '';
        height: 37px;
        width: 2px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #edf0f5;
        @include breakpoint(mobile) {
            width: 1px;
        }
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        padding-right: 1.6rem;

        // display: none;
    }
}

.page-header__catalog-link-text {
    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__catalog-burger {
    margin-left: 1.6rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 2.2rem;
    flex-shrink: 0;

    & > span {
        width: 100%;
        height: 2px;
        display: block;
        background-color: var(--primary-color);
        border-radius: 1px;
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.page-header__search-form-input {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--text-color);
    padding: 0 1.8rem;
    width: 50%;
    flex-grow: 1;
    @include placeholder {
        color: #d1dae6;
        @include breakpoint(mobile) {
            color: #99a6b6;
        }
    }

    @include breakpoint(mobile) {
        font-weight: 400;
        padding: 0 1.3rem;
        font-size: 16px;
        line-height: 1.2;
    }
}

.page-header__search-form-submit {
    svg {
        display: block;
        width: 2rem;
        height: 2rem;
        fill: var(--primary-color);
    }

    &:hover {
        svg {
            fill: var(--text-color);
        }
    }
}

.page-header__user-links {
    display: flex;
    align-items: baseline;
    align-self: flex-start;
    margin-top: 1.6rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__user-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-right: 3rem;
    flex-shrink: 0;
    position: relative;

    &:not([href]) {
        cursor: default;
    }
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        color: var(--primary-color);
        .page-header__user-dropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.4s, visibility 0.4s;
            transform: translateX(-50%);
        }

        .page-header__user-account {
            transform: translateZ(0) translateY(0);
        }
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.page-header__user-link-icon-container {
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 0.5rem;
    svg {
        width: 100%;
        height: 100%;
        display: block;
    }

    @include breakpoint(mobile) {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 0.5rem;
    }
}

.page-header__user-link-amount {
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #ffffff;
    background: #fc5555;
    border-radius: 0.5rem;
    padding: 0.3rem 0.4rem;
    right: 0;
    top: 0;
    margin-top: -0.8rem;
    margin-right: -1.2rem;
    text-align: center;
}

.page-header__user-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    padding-top: 2rem;
    z-index: 50;
}

.page-header__user-account {
    width: 32rem;
    background-color: #fff;
    color: var(--text-color);
    box-shadow: 0 0 3.4rem rgba(10, 17, 70, 0.1);
    border-radius: 2rem;
    padding: 3rem;
    text-align: left;
    font-weight: 400;
    transition: transform 0.4s;
    transform: translateZ(0) translateY(2rem);
}

.page-header__user-account-username {
    display: flex;
    align-items: center;
    &:link,
    &:visited {
        color: inherit;
    }
}

.page-header__user-account-username-avatar {
    width: 5.1rem;
    height: 5.1rem;
    flex-shrink: 0;
    margin-right: 1.2rem;
    position: relative;
    background: #1353b1;
    border-radius: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 1.7rem;
    line-height: 2.1rem;
    letter-spacing: 0.03em;
    color: white;
    &--violet {
        background: #6c13b1;
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include objectFitCover();
    }
}

.page-header__user-account-username-content {
    width: 50%;
    flex-grow: 1;
}

.page-header__user-account-username-name {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.9rem;
    margin-bottom: 0.3rem;
}

.page-header__user-account-username-email {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #99a6b6;
    &:link,
    &:visited {
        color: #99a6b6;
    }

    &[href] {
        &:hover {
            color: var(--primary-color);
        }
    }
}

.page-header__user-account-nav {
    padding: 2.8rem 0;
    border-top: 1px solid #ebf1f5;
    border-bottom: 1px solid #ebf1f5;
    text-align: left;
    margin: 2.2rem 0;
}

.page-header__user-account-nav-list-item {
    margin-bottom: 2.2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__user-account-nav-link {
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.8rem;

    &:link,
    &:visited {
        color: var(--text-color);
    }

    &--red {
        &:link,
        &:visited {
            color: #fc5555;
        }
    }

    &:hover {
        color: var(--primary-color);
    }
}

.page-header__user-account-add-link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2.2rem;
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        color: var(--primary-color);
        .page-header__user-account-add-link-plus {
            background-color: var(--primary-color);

            color: white;
        }
    }
}

.page-header__user-account-add-link-plus {
    width: 5.1rem;
    height: 5.1rem;
    flex-shrink: 0;
    margin-right: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);

    background: #ebf1f5;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.page-header__mobile-menu-burger {
    color: var(--text-color);
    margin-left: auto;
    display: none;
    position: relative;
    z-index: 700;
    svg {
        width: 3rem;
        height: 3rem;
        display: block;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        display: block;
    }
}

.page-header__mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 600;
    padding-top: 11rem;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    opacity: 0;
    visibility: hidden;
    .mobile-menu-open & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }
}

.page-header__mobile-menu-user {
    background: #ebf1f5;
    border-radius: 3.5rem;
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 3.6rem;
    padding-top: 2rem;
    min-height: 9.2rem;
    justify-content: space-between;
}

.page-header__mobile-menu-content-width {
    padding: 0 var(--content-padding);
}

.page-header__mobile-menu-scroll-container {
    flex-grow: 1;
    max-height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.page-header__mobile-menu-navigation {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.page-header__mobile-menu-navigation-list-item {
    margin-bottom: 4rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__mobile-menu-navigation-link {
    display: flex;
    align-items: center;

    color: var(--text-color);
    font-size: 1.9rem;
    line-height: 2.3rem;

    &:link,
    &:visited {
        color: var(--text-color);
    }
    svg {
        width: 1.2rem;
        height: 0.8rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
    }
}

.page-header__mobile-menu-navigation-dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
}

.page-header__mobile-menu-navigation-dropdown-link {
    margin-bottom: 1.5rem;

    font-size: 1.8rem;
    line-height: 1.2;
    padding-left: 2.5rem;
    display: block;
    width: 100%;
    &:first-child {
        margin-top: 2rem;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        color: var(--primary-color);
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__mobile-regular-menu {
    background: #050c42;
    color: white;
    padding: 4rem var(--content-padding);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.8rem;
    display: grid;
}

.page-header__mobile-regular-menu-link {
    font-size: 1.5rem;
    line-height: 1.8rem;

    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        color: var(--primary-color);
    }
}
