.partners {
    padding-top: 6.5rem;
    padding-bottom: 1.5rem;

    @include breakpoint(mobile) {
        padding: 3.8rem 0;
        padding-bottom: 2.4rem;
    }
}

.partners__heading {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.7rem;
    text-align: center;
    margin-bottom: 6.5rem;
    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 3.2rem;
        text-align: left;
        margin-bottom: 4rem;
    }
}

.partners__row {
    height: 11.2rem;
    margin-bottom: 3rem;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        height: 5.7rem;
        margin-bottom: 4rem;
        &:last-child {
            margin-bottom: 0;
           
        }
       
    }
}

.partners__items-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partners__item {
    flex-shrink: 0;
    margin-right: 8rem;
    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        margin-right: 3rem;
    }
}

.partners__link-logo {
    display: block;

    max-height: 11rem;
    max-width: 27.5rem;
    height: auto;
    flex-shrink: 0;
    @include objectFitContain();

    @include breakpoint(mobile) {
        max-height: 5.7rem;
        max-width: 14rem;
    }
}
