.user {
    padding-top: var(--page-top-padding);
    padding-bottom: 8rem;

    @include breakpoint(mobile) {
        padding-bottom: 4rem;
        padding-top: 3rem;
    }
}

.user__layout {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.user__sidebar {
    width: 27.5rem;
    flex-shrink: 0;
    margin-right: 6.5rem;
    @include breakpoint(mobile) {
        display: none;
    }
}

.user__main {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.user__avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #1353b1;
    color: white;
    border-radius: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 1.6rem;
}

.user__name {
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 1.2;
    margin-bottom: 0.8rem;
}

.user__change-data {
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: inline-block;
    margin-bottom: 4.5rem;
    &:link,
    &:visited {
        color: #99a6b6;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.user__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3.4rem;
}

.user__nav-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 2.2rem;
    &:last-child {
        margin-bottom: 0;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        color: var(--primary-color);
    }
}

.user__logout-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #fc5555;
    display: inline-block;
    margin-bottom: 6.8rem;
    &:link,
    &:visited {
        color: #fc5555;
    }

    &:hover {
        color: var(--text-color);
    }
}

.user__try-premium {
    display: block;
    padding: 2.4rem;
    background: linear-gradient(91.34deg, #13b17c 2.06%, #0099cc 100%);
    border-radius: 2.5rem;
    color: white;
    margin-bottom: 5.5rem;
    &:link,
    &:visited {
        color: white;
    }
}

.user__try-premium-type {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
}

.user__try-premium-slogan {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2.3rem;
}

.user__other-accounts-heading {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3.3rem;
    color: #050c42;
}

.user__heading {
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.user__other-accounts-card {
    display: flex;
    align-items: center;

    &:link,
    &:visited {
        color: var(--text-color);
    }
}

.user__other-accounts-card-avatar {
    background: #6c13b1;
    border-radius: 2.1rem;
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    margin-right: 1.2rem;
    color: white;
    font-weight: 900;
    font-size: 1.7rem;
    line-height: 2.1rem;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user__other-accounts-card-content {
    width: 50%;
    flex-grow: 1;
}

.user__other-accounts-card-name {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

.user__other-accounts-card-email {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #99a6b6;
}

.user__other-accounts-create {
    display: flex;
    align-items: center;
    color: var(--text-color);
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        .user__other-accounts-create-icon {
            background-color: var(--primary-color);
            color: white;

            svg {
                fill: white;
            }
        }
    }
}

.user__other-accounts-create-icon {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    margin-right: 1.2rem;
    background: #ebf1f5;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s;
    svg {
        fill: var(--primary-color);
        width: 1.8rem;
        height: 1.8rem;
    }
}

.user__other-accounts-list {
    margin-bottom: 2.4rem;
}

.user__other-accounts-list-item {
    margin-bottom: 2.4rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.user__change-form {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    max-width: 70rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
        max-width: none;
    }
}

.user__change-form-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;

    .parsley-errors-list.filled {
        font-size: 1.2rem;
        line-height: 1.2;
        margin-top: 0.8rem;
        color: #fc5555;
    }

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.user__change-form-label {
    width: 25.5rem;
    flex-shrink: 0;
    padding-right: 2rem;
    font-size: 1.9rem;
    line-height: 2.3rem;
    padding-top: 2rem;

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 1.8rem;
        width: 100%;
        flex-shrink: 1;
        padding: 0;
        margin-bottom: 0.8rem;
    }
}

.user__change-form-input-wrapper {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.user__change-form-input {
    font-size: 1.9rem;
    height: 6.4rem;
    padding: 0 2.5rem;
    border: 2px solid #d1dae6;
    border-radius: 1.5rem;
    display: block;
    width: 100%;
    transition: border-color 0.2s;
    &:focus {
        border-color: var(--primary-color);
    }

    &.parsley-error {
        border-color: #fc5555;
    }

    @include placeholder {
        color: #d1dae6;
    }

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding: 0 2rem;
        height: 5.8rem;
    }
}

.user__change-form-label-remark {
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    color: #99a6b6;
    margin-top: 0.4rem;

    @include breakpoint(mobile) {
        margin: 0;
        display: inline;
        margin-left: 1rem;
    }
}

.user__change-form-input-wrapper {
    .choices {
        font-size: 1.9rem;
        line-height: 2.5rem;
        margin: 0;

        @include breakpoint(mobile) {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }

    .choices__inner {
        font-size: 1.9rem;
        line-height: 2.5rem;
        background: transparent;
        border: 2px solid #d1dae6;
        padding: 0;
        border-radius: 1.5rem;
        min-height: auto;
        transition: border-color 0.2s;
        @include breakpoint(mobile) {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding: 0;
    }

    .choices__list--single {
        padding: 0;
        padding-right: 4rem;
        height: 6.4rem;
        display: flex;
        align-items: center;
        padding-left: 2.6rem;

        @include breakpoint(mobile) {
            padding-left: 2rem;
            height: 5.8rem;
        }
    }

    .choices[data-type*='select-one']:after {
        border: none;
        right: 2rem;
        margin: 0;
        transform: translateY(-50%);
        transition: transform 0.3s;
        width: 1.6rem;
        height: 1rem;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.075 0.149994L5.25 3.97499L1.425 0.149994L0.25 1.33333L5.25 6.33333L10.25 1.33333L9.075 0.149994Z' fill='%23050C42'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 0.1rem;
    }

    .choices[data-type*='select-one'].is-open::after {
        transform: translateY(-60%) rotate(180deg);
    }

    .choices__list--dropdown {
        border: 2px solid var(--primary-color);
        border-radius: 1.5rem;
        margin-top: 1rem;
        word-break: initial;
        width: 100%;

        @include breakpoint(mobile) {
            width: 100%;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: var(--primary-color);
        color: white;
    }

    .choices__list--dropdown .choices__list {
        overflow-x: hidden;
        max-height: 40rem;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            border-radius: 0.5rem;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;
            background-color: #f5f5f5;
        }
    }

    .choices__list--dropdown .choices__item {
        padding: 1.2rem 1rem;
        font-size: 1.9rem;
        line-height: 2.3rem;
        white-space: nowrap;
        @include breakpoint(mobile) {
            white-space: initial;
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }

    .choices__placeholder {
        color: #d1dae6;
        opacity: 1;
    }

    .choices[data-type*='select-one'] .choices__input {
        padding: 1.2rem 1rem;
        font-size: 1.9rem;
        border-bottom: 2px solid var(--primary-color);
    }
}

.user .parsley-error .choices__inner {
    border-color: #fc5555;
}

.user__change-form-checkbox {
    display: flex;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 4rem;
    user-select: none;
    cursor: pointer;

    @include breakpoint(mobile) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.user__change-form-checkbox-input {
    @include visuallyHidden();
}

.user__change-form-checkbox-mark {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: 1.2rem;
    border: 2px solid #d1dae6;
    border-radius: 0.3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, border-color 0.2s;
    svg {
        width: 1.2rem;
        height: 1.2rem;
        flex-shrink: 0;
        fill: white;
        transition: opacity 0.3s;
        opacity: 1;
    }
}

.user__change-form-checkbox-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #99a6b6;
    padding-top: 0.1rem;
}
.user__change-form-checkbox-input:checked ~ .user__change-form-checkbox-mark {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.user__change-form-checkbox-input:checked ~ .user__change-form-checkbox-mark svg {
    opacity: 1;
}

.user__change-form-submit {
    margin-top: 2.4rem;
    margin-left: auto;

    @include breakpoint(mobile) {
        margin: 0;
        margin-top: 2rem;
        width: 100%;
        display: block;
        text-align: center;
        height: 5.8rem;
        border-radius: 1.5rem;
    }
}

.user__inner-nav {
    border-bottom: 1px solid #d1dae6;
    margin-bottom: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    @include breakpoint(mobile) {
        margin-bottom: 3.2rem;
    }
}

.user__inner-nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.user__inner-nav-links-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.user__inner-nav--reports {
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
        border: none;
        .user__inner-nav-links-wrapper {
            border-bottom: 1px solid #d1dae5;
        }
        .user__inner-nav-links {
            flex-wrap: nowrap;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            margin: 0 calc(-1 * var(--content-padding));
            // margin-bottom: -1rem;
            // padding-bottom: 1rem;
            position: relative;
            @include noScrollbar();

            &::after {
                content: '';
                width: 1px;
                height: 1px;
                flex-shrink: 0;
            }
        }

        .user__inner-nav-link {
            &:first-child {
                margin-left: var(--content-padding);
            }

            &:last-child {
                margin-right: var(--content-padding);
            }
        }
    }
}

.user__inner-nav-link {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2.3rem;
    padding: 2rem 0;
    margin-right: 3.2rem;
    position: relative;
    transition: color 0.2s;
    z-index: 2;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 0.5rem;
        background-color: var(--primary-color);
        pointer-events: none;
        transition: opacity 0.2s;
        opacity: 0;
        z-index: 4;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &.active {
        &::after {
            opacity: 1;
        }
    }

    &:not(.active) {
        &:hover {
            color: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding: 1.6rem 0;
        white-space: nowrap;
        flex-shrink: 0;
    }
}

.user__inner-nav-only-ready {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    @include breakpoint(mobile) {
        margin: 0;
        margin-top: 2.4rem;
    }
}

.user__inner-nav-only-ready-input {
    @include visuallyHidden();
}

.user__inner-nav-only-ready-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-right: 0.8rem;
}

.user__inner-nav-only-ready-mark {
    border: 2px solid #d1dae6;
    border-radius: 0.7rem;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, border-color 0.2s;

    svg {
        width: 1.2rem;
        height: 1.2rem;
        flex-shrink: 0;
        fill: white;
        opacity: 0;
        transition: opacity 0.2s;
    }

    @include breakpoint(mobile) {
        order: -1;
        margin: 0;
        margin-right: 0.8rem;
    }
}

.user__inner-nav-only-ready-input:checked ~ .user__inner-nav-only-ready-mark {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    svg {
        opacity: 1;
    }
}

.user__reports-list-item {
    margin-bottom: 3.2rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.user__reports-card {
    background: #ebf1f5;
    border-radius: 4rem;
    padding: 2.4rem;
    display: flex;

    @include breakpoint(mobile) {
        padding: 2rem;
        border-radius: 2rem;
        flex-direction: column;
    }
}

.user__reports-card-image-container {
    position: relative;
    border-radius: 2.2rem;
    overflow: hidden;
    margin-right: 1.6rem;
    width: 20rem;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 75%;
        @include breakpoint(mobile) {
            padding-bottom: 56.25%;
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
        border-radius: 1.5rem;
        margin: 0;
        margin-bottom: 2rem;
    }
}

.user__reports-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.user__reports-card-content {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.user__reports-card-top-row {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        margin-bottom: 0.6rem;
    }
}

.user__reports-card-title {
    width: 50%;
    flex-grow: 1;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.user__reports-card-date {
    white-space: nowrap;
    font-size: 1.2rem;
    line-height: 132%;
    color: #99a6b6;
    margin-left: 2rem;

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 0.8rem;
        order: -1;
    }
}

.user__reports-card-price {
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: var(--primary-color);
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1.9rem;
        line-height: 1.2;
        margin-bottom: 2.4rem;
    }
}

.user__reports-card-btns {
    margin-top: auto;
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column;
        align-items: initial;
    }
}

.user__reports-card-download {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1.6rem;
    background: #13b17c;
    border-radius: 0.9rem;
    color: white;
    flex-shrink: 0;
    margin-right: 2.4rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    transition: background-color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    svg {
        width: 1.1rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-right: 0.9rem;

        @include breakpoint(mobile) {
            width: 1.5rem;
            height: 2rem;
        }
    }
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: var(--text-color);
    }

    @include breakpoint(mobile) {
        display: flex;
        width: 100%;
        text-align: center;
        min-height: 6rem;
        margin: 0;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;

        margin-bottom: 1.8rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.user__reports-card-details {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--text-color);
    padding: 1rem 1.2rem;
    border: 2px solid #d1dae6;
    margin-right: 2.4rem;
    justify-content: center;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    border-radius: 0.9rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        color: white;
    }

    @include breakpoint(mobile) {
        display: flex;
        width: 100%;
        text-align: center;
        min-height: 6rem;
        margin: 0;

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;

        margin-bottom: 1.8rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.user__reports-card-in-progress {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--text-color);
    margin-right: 2.4rem;
    background: #d1dae6;
    border-radius: 0.9rem;
    padding: 1.2rem 1.6rem;
    display: inline-flex;
    align-items: center;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    justify-content: center;
    svg {
        width: 1.3rem;
        height: 1.3rem;
        flex-shrink: 0;
        margin-right: 0.8rem;
        animation-name: spin;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    @include breakpoint(mobile) {
        display: flex;
        width: 100%;
        text-align: center;
        min-height: 6rem;
        margin: 0;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;

        margin-bottom: 1.8rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.user__reports-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.8rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
        margin-top: 2rem;
    }
}

.user__subscriptions-list-item {
    margin-bottom: 3.7rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.user__subscriptions-card {
    display: flex;

    background: #ebf1f5;
    border-radius: 4rem;
    padding: 2.4rem;
    @include breakpoint(mobile) {
        padding: 2rem;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: 8rem minmax(0, 1fr);
        grid-gap: 2rem;
        grid-template-areas: 'image title' 'info info' 'buttons buttons';
    }
}

.user__subscriptions-card-info-block {
    @include breakpoint(mobile) {
        grid-area: info;
    }
}

.user__subscriptions-card-image-container {
    width: 24.2rem;
    flex-shrink: 0;
    margin-right: 2.4rem;
    position: relative;
    border-radius: 2.3rem;
    overflow: hidden;
    background: linear-gradient(91.34deg, #13b17c 2.06%, #0099cc 100%);

    &--premium {
        background: linear-gradient(108.2deg, #313250 4.83%, #000120 100%);
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 60%;
        @include breakpoint(mobile) {
            padding-bottom: 100%;
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        grid-area: image;
    }
}

.user__subscriptions-card-image {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6.2rem;
    height: 6.2rem;
    transform: translate(-50%, -50%);
    z-index: 20;
    @include objectFitContain();

    @include breakpoint(mobile) {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.user__subscriptions-card-content {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.user__subscriptions-card-top-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
        grid-area: title;
        align-self: center;
    }
}

.user__subscriptions-card-top-row-left-col {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.user__subscriptions-card-top-row-right-col {
    flex-shrink: 0;
    margin-left: 2rem;

    @include breakpoint(mobile) {
        flex-shrink: 0;
        margin: 0;
    }
}

.user__subscriptions-card-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        font-size: 1.9rem;
        line-height: 2.3rem;
        margin-bottom: 0.6rem;
    }
}

.user__subscriptions-card-price {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8rem;
    flex-shrink: 0;
    text-align: right;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: left;
    }
}

.user__subscriptions-card-info,
.user__subscriptions-card-payment-card {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 0.8rem;
    color: #99a6b6;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.user__subscriptions-card-bottom-links {
    display: flex;
    align-items: baseline;
    margin-top: auto;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        grid-area: buttons;
        margin: 0;
    }
}

.user__subscriptions-card-change-link,
.user__subscriptions-card-unsubscribe-link {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--text-color);
    margin-right: 2.4rem;
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        margin: 0;
        display: block;
        width: 100%;
    }
}

.user__subscriptions-card-unsubscribe-link {
    &:link,
    &:visited {
        color: #fc5555;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        // padding: 2.2rem 4rem;
        text-align: center;
    }
}

.user__subscriptions-card-change-link {
    @include breakpoint(mobile) {
        padding: 2.2rem 4rem;
        text-align: center;
        border: 2px solid #d1dae6;
        border-radius: 0.9rem;
        margin-bottom: 1.8rem;
    }
}

.user__notifications-list-item {
    margin-bottom: 3.2rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.user__notifications-card {
    background: #ebf1f5;
    border-radius: 4rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding: 2rem;
        border-radius: 2rem;
    }
}

.user__notifications-card-top-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.4rem;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
}

.user__notifications-card-image-container {
    position: relative;
    border-radius: 2.1rem;
    overflow: hidden;
    margin-right: 1.6rem;
    flex-shrink: 0;
    width: 4.8rem;
    background-color: var(--primary-color);
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    @include breakpoint(mobile) {
        width: 5rem;
        margin-right: 1.2rem;
        border-radius: 3.5rem;
    }
}

.user__notifications-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include objectFitCover();
}

.user__notifications-card-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 132%;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 132%;
    }
}

.user__notifications-card-action {
    margin-bottom: 2.4rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.user__notifications-card-action-type {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 0.8rem;

    svg {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        margin-right: 1rem;
        align-self: center;
        @include breakpoint(mobile) {
            align-self: flex-start;
            margin-right: 0.8rem;
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 1.2rem;
    }
}

.user__notifications-card-action-new-photos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -0.2rem;
    @include breakpoint(mobile) {
        margin-bottom: -1.2rem;
    }
}

.user__notifications-card-action-new-photo {
    width: 7.4rem;
    flex-shrink: 1;
    margin-right: 0.2rem;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    background-color: var(--primary-color);
    margin-bottom: 0.2rem;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    &:hover {
        .user__notifications-card-action-new-photo-image {
            transform: scale(1.05);
        }
    }

    @include breakpoint(mobile) {
        width: 5rem;
        margin-right: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

.user__notifications-card-action-new-photo-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    @include objectFitCover();
}

.user__notifications-card-action-new-photo-more {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.6);
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;
    color: white;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

.user__notifications-card-action-date {
    font-size: 1.2rem;
    color: #99a6b6;
    text-align: right;
    line-height: 132%;
    font-weight: 400;
    margin-left: 2rem;
    white-space: nowrap;
}

.user__notifications-card-action-text {
    margin-right: auto;
}

.user__notifications-card-action-object {
    display: flex;

    &:link,
    &:visited {
        color: inherit;
    }

    &:hover {
        .user__notifications-card-action-object-image {
            transform: scale(1.05);
        }

        .user__notifications-card-action-object-name {
            color: var(--primary-color);
        }
    }
}

.user__notifications-card-action-object-image-container {
    width: 10.6rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 1.6rem;
    background-color: var(--primary-color);
    border-radius: 2.7rem;
    overflow: hidden;
    align-self: flex-start;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    @include breakpoint(mobile) {
        width: 5rem;
        margin-right: 1.2rem;
        border-radius: 2rem;
    }
}

.user__notifications-card-action-object-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
    transition: transform 0.5s;
}

.user__notifications-card-action-object-content {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.user__notifications-card-action-object-name {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 132%;
    margin-bottom: 2rem;
    transition: color 0.2s;
}

.user__notifications-card-action-object-filters {
    margin-top: auto;
}

.user__notifications-card-action-object-filters-title {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0.4rem;
}

.user__notifications-card-action-object-filters-items {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.user__notifications-card-title-type {
    font-size: 1.2rem;
    display: block;
    line-height: 132%;
    margin-bottom: 0.2rem;
    font-weight: 400;
}

.user__notifications-card-action-question-text {
    font-size: 1.5rem;
    line-height: 132%;
    margin-bottom: 1.6rem;
    padding-left: 1.2rem;
    position: relative;
    border-left: 0.4rem solid var(--primary-color);
    margin-top: 1.6rem;
    font-style: italic;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 132%;
    }
}

.user__notifications-card-action-answer-text {
    font-size: 1.5rem;
    line-height: 132%;

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 132%;
    }
}

.user__notifications-card-action-price-accepted,
.user__notifications-card-action-price-declined {
    display: inline-flex;
    align-items: center;
    font-size: 3rem;
    line-height: 3.7rem;
    color: #ffffff;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    align-self: flex-start;
    background-color: var(--primary-color);
    &:link,
    &:visited {
        color: #ffffff;
    }
    svg {
        width: 2.6rem;
        height: 2.6rem;
        flex-shrink: 0;
        margin-right: 1.1rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 1.2;

        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.user__notifications-card-action-price-declined {
    background: #fc5555;
}

.user__notifications-card-action-price-message {
    font-size: 1.5rem;
    line-height: 132%;
    margin-top: 2.4rem;

    @include breakpoint(mobile) {
        margin-top: 1.6rem;
    }
}

.user__inner-nav-notification-filters {
    margin-left: auto;
    position: relative;

    &:hover {
        .user__inner-nav-notification-filters-btn {
            background: #ebf1f5;
        }

        .user__inner-nav-notification-filters-dropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.user__inner-nav-notification-filters-btn {
    width: 4.4rem;
    height: 3.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    border-radius: 0.9rem;

    svg {
        width: 2.4rem;
        height: 1.4rem;
        fill: var(--text-color);

        @include breakpoint(mobile) {
            width: 21.5rem;
            height: 1.3rem;
        }
    }
}

.user__inner-nav-notification-filters-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    padding-top: 1rem;
    min-width: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 100;
}

.user__inner-nav-notification-filters-dropdown-inner {
    background-color: #fff;
    padding: 1.6rem;
    box-shadow: 0 1rem 4.5rem rgba(5, 12, 66, 0.25);
    border-radius: 0.8rem;
}

.user__inner-nav-notification-filters-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    cursor: pointer;
    user-select: none;
    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        .user__inner-nav-notification-filters-checkbox-input:not(:checked) ~ .user__inner-nav-notification-filters-checkbox-mark {
            background: #ebf1f5;
        }
    }
}

.user__inner-nav-notification-filters-checkbox-input {
    @include visuallyHidden();
}

.user__inner-nav-notification-filters-checkbox-mark {
    position: relative;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: 1rem;
    border: 2px solid #d1dae6;
    border-radius: 0.3rem;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
        width: 1.5rem;
        height: 1rem;
        flex-shrink: 0;
        fill: white;
        opacity: 0;
        transition: opacity 0.2s;
    }
}

.user__inner-nav-notification-filters-checkbox-input:checked ~ .user__inner-nav-notification-filters-checkbox-mark {
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    svg {
        opacity: 1;
    }
}

.user__inner-nav-notification-filters-checkbox-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.user__my-lots-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
        margin-bottom: 2rem;
    }
}

.user__my-lots-btns {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    @include breakpoint(mobile) {
        margin: 0;
        margin-top: 2rem;
    }
}

.user__my-lots-btn {
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border: 1px solid #99a6b6;
    border-radius: 0.9rem;
    padding: 1.1rem 1.3rem;
    margin-right: 1rem;
    flex-shrink: 0;
    white-space: nowrap;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
    &:last-child {
        margin-right: 0;
    }
    svg {
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
        margin-right: 0.6rem;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        background-color: var(--text-color);
        color: white;
        border-color: var(--text-color);
    }
}

.user__my-lots-heading {
    line-height: 1;
}

.user__my-lots-table {
    @include breakpoint(mobile) {
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        margin: 0 calc(-1 * var(--content-padding));
    }
    table {
        width: 100%;
        border-collapse: collapse;
        font-family: var(--fira);

        @include breakpoint(mobile) {
            width: auto;
        }
    }

    thead th {
        text-align: left;
        vertical-align: top;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 132%;
        color: #050c42;
        padding: 1.5rem 0;
        padding-right: 1.8rem;
        border-bottom: 1px solid #ebf1f5;
    }

    tbody {
        td {
            text-align: left;
            vertical-align: middle;
            padding: 1.2rem 0;
            padding-right: 2rem;
            border-bottom: 1px solid #ebf1f5;
            font-size: 1.5rem;
            line-height: 132%;
            transition: background-color 0.2s;

            position: relative;

            @include breakpoint(mobile) {
                white-space: nowrap;
            }

            & > a {
                transition: color 0.2s;
                &:link,
                &:visited {
                    color: inherit;
                }

                &:hover {
                    color: var(--primary-color);
                }
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: opacity 0.2s;
                background-color: #ebf1f5;
                z-index: -10;
                opacity: 0;
            }

            &:nth-child(1) {
                white-space: nowrap;
            }

            &:first-child {
                &::before {
                    right: 0;
                    left: -1.5rem;
                    width: auto;
                    border-top-left-radius: 1.5rem;
                    border-bottom-left-radius: 1.5rem;
                }
            }

            &:last-child {
                padding-right: 0;
                &::before {
                    left: 0;
                    width: auto;
                    right: -1.5rem;
                    border-top-right-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }
            }
        }

        tr {
            &:hover {
                td {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }

        .price {
            white-space: nowrap;
            font-weight: bold;
        }
    }
}

.user__my-lots-table-wrapper {
    @include breakpoint(mobile) {
        padding: 0 var(--content-padding);
        flex-shrink: 0;
    }
}

.user__my-lots-actions {
    position: relative;
    &:hover {
        .user__my-lots-actions-btn {
            background-color: #fff;

            svg {
                fill: var(--primary-color);
            }
        }

        .user__my-lots-actions-dropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0s linear 0.3s;
        }
    }
}

.user__my-lots-actions-btn {
    border-radius: 1.5rem;
    width: 4.4rem;
    height: 4.1rem;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    svg {
        width: 1.8rem;
        height: 0.3rem;
        transition: fill 0.2s;
        fill: #99a6b6;
    }

    &:hover {
        .user__my-lots-actions-dropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0s linear 0.3s;
        }
    }
}

.user__my-lots-actions-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    padding-top: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.user__my-lots-actions-dropdown-inner {
    padding: 0.8rem;
    background-color: #fff;
    box-shadow: 0px 0px 3.4rem rgba(10, 17, 70, 0.1);
    border-radius: 2rem;
}

.user__my-lots-actions-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 132%;
    transition: color 0.2s, background-color 0.2s;
    border-radius: 1.3rem;
    padding: 1rem 1.1rem;

    font-family: 'Formular', 'Roboto', sans-serif;
    &:last-child {
        margin-bottom: 0;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }
    svg {
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        margin-right: 1rem;
        fill: var(--primary-color);
    }

    &:hover {
        background: #ebf1f5;
    }
}

.user__cards-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 6.5rem;
    grid-row-gap: 4.8rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 4rem;
    }
}

.user__cards-card {
    padding: 2.4rem 2.8rem;
    background: #ebf1f5;
    border-radius: 3rem;
    display: flex;

    @include breakpoint(mobile) {
        padding: 2rem;
        border-radius: 2rem;
        display: grid;

        grid-template-columns: 11.6rem minmax(0, 1fr);
        grid-gap: 2rem;
        grid-row-gap: 1.6rem;
        grid-template-areas: 'image info' 'remove remove';
    }
}

.user__cards-card-info {
    @include breakpoint(mobile) {
        grid-area: info;
        align-self: center;
    }
}

.user__cards-card-image {
    width: 13.7rem;
    height: auto;
    flex-shrink: 0;
    margin-right: 3.2rem;
    align-self: center;
    @include breakpoint(mobile) {
        width: 100%;
        grid-area: image;
        margin: 0;
    }
}

.user__cards-card-content {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.user__cards-card-title {
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 0.5rem;
    }
}

.user__cards-card-number {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    @include breakpoint(mobile) {
        margin-bottom: 0;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.user__cards-card-remove {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #fc5555;
    transition: color 0.2s;
    margin-top: auto;
    &:link,
    &:visited {
        color: #fc5555;
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        grid-area: remove;

        font-weight: 500;
        border: 2px solid #d1dae6;
        border-radius: 0.9rem;
        padding: 1.6rem 4rem;
        text-align: center;
    }
}

.user__cards-add-card {
    display: flex;
    align-items: center;
    padding: 2.4rem 2.8rem;
    position: relative;
    transition: color 0.2s;
    border: 1px dashed #d1dae6;
    border-radius: 3rem;
    &:link,
    &:visited {
        color: var(--text-color);
    }

    &:hover {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        padding: 2rem;
        border-radius: 2rem;
    }
}

.user__cards-add-card-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.user__cards-add-card-content {
    width: 50%;
    flex-grow: 1;
}

.user__cards-add-card-icon {
    width: 13.7rem;
    flex-shrink: 0;
    margin-right: 3.2rem;
    position: relative;
    background: #ebf1f5;
    border-radius: 1.7rem;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 56.25%;

        @include breakpoint(mobile) {
            padding-bottom: 70%;
        }
    }

    svg {
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: var(--text-color);
    }

    @include breakpoint(mobile) {
        width: 11.6rem;
        margin-right: 2rem;
    }
}

.user__cards-add-card-content {
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.5rem;
}
