<section class="all-articles">
    <div class="container">
        <div class="inner-container">
            <h2 class="secondary-heading all-articles__heading">
                Все статьи
            </h2>
            <div class="all-articles__layout">
                <div class="all-articles__main">
                    <ul class="all-articles__catalog">
                        <li class="all-articles__catalog-item">
                            <a href="#" class="all-articles__card">
                                <div class="all-articles__card-image-container">
                                    <img src="img/articles/1.jpg" alt="" class="all-articles__card-image">
                                    <span class="all-articles__tag">
                                        Статистика и аналитика
                                    </span>
                                </div>
                                <h4 class="all-articles__card-heading">
                                    ПАО «МИнБанк» объявил продажу прав требований на НЭП-Фабрикант
                                </h4>
                                <div class="all-articles__info">
                                    01.06.2020 • 10 мин
                                </div>

                            </a>
                        </li>
                        <li class="all-articles__catalog-item">
                            <a href="#" class="all-articles__card">
                                <div class="all-articles__card-image-container">
                                    <img src="img/articles/2.jpg" alt="" class="all-articles__card-image">
                                    <span class="all-articles__tag">
                                        Анонсы
                                    </span>
                                </div>
                                <h4 class="all-articles__card-heading">
                                    Банк непрофильных активов «Траст» объявил новый аукцион
                                </h4>
                                <div class="all-articles__info">
                                    01.06.2020 • 10 мин
                                </div>

                            </a>
                        </li>
                        <li class="all-articles__catalog-item">
                            <a href="#" class="all-articles__card">
                                <div class="all-articles__card-image-container">
                                    <img src="img/articles/3.jpg" alt="" class="all-articles__card-image">
                                    <span class="all-articles__tag">
                                        Статистика и аналитика
                                    </span>
                                </div>
                                <h4 class="all-articles__card-heading">
                                    ПАО «МИнБанк» объявил продажу прав требований на НЭП-Фабрикант
                                </h4>
                                <div class="all-articles__info">
                                    01.06.2020 • 10 мин
                                </div>

                            </a>
                        </li>
                        <li class="all-articles__catalog-item">
                            <a href="#" class="all-articles__card">
                                <div class="all-articles__card-image-container">
                                    <img src="img/articles/4.jpg" alt="" class="all-articles__card-image">
                                    <span class="all-articles__tag">
                                        Статистика и аналитика
                                    </span>
                                </div>
                                <h4 class="all-articles__card-heading">
                                    Банк непрофильных активов «Траст» объявил новый аукцион
                                </h4>
                                <div class="all-articles__info">
                                    01.06.2020 • 10 мин
                                </div>

                            </a>
                        </li>
                        <li class="all-articles__catalog-item">
                            <a href="#" class="all-articles__card">
                                <div class="all-articles__card-image-container">
                                    <img src="img/articles/5.jpg" alt="" class="all-articles__card-image">
                                    <span class="all-articles__tag">
                                        Статистика и аналитика
                                    </span>
                                </div>
                                <h4 class="all-articles__card-heading">
                                    ПАО «МИнБанк» объявил продажу прав требований на НЭП-Фабрикант
                                </h4>
                                <div class="all-articles__info">
                                    01.06.2020 • 10 мин
                                </div>

                            </a>
                        </li>
                        <li class="all-articles__catalog-item">
                            <a href="#" class="all-articles__card">
                                <div class="all-articles__card-image-container">
                                    <img src="img/articles/2.jpg" alt="" class="all-articles__card-image">
                                    <span class="all-articles__tag">
                                        Анонсы
                                    </span>
                                </div>
                                <h4 class="all-articles__card-heading">
                                    Банк непрофильных активов «Траст» объявил новый аукцион
                                </h4>
                                <div class="all-articles__info">
                                    01.06.2020 • 10 мин
                                </div>

                            </a>
                        </li>
                        <li class="all-articles__catalog-item">
                            <a href="#" class="all-articles__card">
                                <div class="all-articles__card-image-container">
                                    <img src="img/articles/6.jpg" alt="" class="all-articles__card-image">
                                    <span class="all-articles__tag">
                                        Статистика и аналитика
                                    </span>
                                </div>
                                <h4 class="all-articles__card-heading">
                                    ПАО «МИнБанк» объявил продажу прав требований на НЭП-Фабрикант
                                </h4>
                                <div class="all-articles__info">
                                    01.06.2020 • 10 мин
                                </div>

                            </a>
                        </li>
                        <li class="all-articles__catalog-item">
                            <a href="#" class="all-articles__card">
                                <div class="all-articles__card-image-container">
                                    <img src="img/articles/7.jpg" alt="" class="all-articles__card-image">
                                    <span class="all-articles__tag">
                                        Статистика и аналитика
                                    </span>
                                </div>
                                <h4 class="all-articles__card-heading">
                                    Банк непрофильных активов «Траст» объявил новый аукцион
                                </h4>
                                <div class="all-articles__info">
                                    01.06.2020 • 10 мин
                                </div>

                            </a>
                        </li>
                    </ul>
                    <div class="all-articles__bottom-nav">
                        <div class="pagination">
                            <ul class="pagination__list">
                                <li class="pagination__list-item active">
                                    <a href="#" class="pagination__link">
                                        1
                                    </a>
                                </li>
                                <li class="pagination__list-item">
                                    <a href="#" class="pagination__link">
                                        2
                                    </a>
                                </li>
                                <li class="pagination__list-item">
                                    <a href="#" class="pagination__link">
                                        3
                                    </a>
                                </li>
                                <li class="pagination__list-item">
                                    <a href="#" class="pagination__link">
                                        4
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="btn catalog__lots-show-more-items">
                            Показать еще
                        </a>
                    </div>
                </div>
                <div class="all-articles__sidebar">
                    <div class="all-articles__categories">
                        <h3 class="all-articles__categories-heading">
                            Категории
                        </h3>
                        <ul class="all-articles__categories-list">
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link">
                                    Статистика и аналитика
                                </a>
                            </li>
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link">
                                    Биржа
                                </a>
                            </li>
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link active">
                                    Материалы СМИ
                                    <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link">
                                    Банкротство
                                </a>
                            </li>
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link">
                                    Мнение эксперта
                                </a>
                            </li>
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link">
                                    Недвижимость
                                </a>
                            </li>
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link">
                                    Разъяснения законодательства
                                </a>
                            </li>
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link">
                                    Анонсы и итоги конференций
                                </a>
                            </li>
                            <li class="all-articles__categories-list-item">
                                <a href="#" class="all-articles__categories-link">
                                    Долги
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="all-articles__show-more">
                            Показать еще
                            <svg width="12" height="12" aria-hidden="true" class="icon-vertical-dots">
                                <use xlink:href="#vertical-dots"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="all-articles__popular">
                        <h3 class="all-articles__popular-heading">
                            Популярные статьи
                        </h3>
                        <ul class="all-articles__popular-list">
                            <li class="all-articles__popular-list-item">
                                <a href="#" class="all-articles__popular-card">
                                    <div class="all-articles__popular-card-number">
                                        01
                                    </div>
                                    <div class="all-articles__popular-card-content">
                                        <h4 class="all-articles__popular-card-heading">
                                            ПАО «МИнБанк» объявил продажу прав требований на НЭП-Фабрикант
                                        </h4>
                                        <div class="all-articles__popular-card-info">
                                            01.06.2020 • 10 мин
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="all-articles__popular-list-item">
                                <a href="#" class="all-articles__popular-card">
                                    <div class="all-articles__popular-card-number">
                                        02
                                    </div>
                                    <div class="all-articles__popular-card-content">
                                        <h4 class="all-articles__popular-card-heading">
                                            Банк непрофильных активов «Траст» объявил новый аукцион
                                        </h4>
                                        <div class="all-articles__popular-card-info">
                                            01.06.2020 • 10 мин
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="all-articles__popular-list-item">
                                <a href="#" class="all-articles__popular-card">
                                    <div class="all-articles__popular-card-number">
                                        03
                                    </div>
                                    <div class="all-articles__popular-card-content">
                                        <h4 class="all-articles__popular-card-heading">
                                            Процесс реорганизации АО «Почта России» обсудили на заседании Комитета
                                            Совета
                                        </h4>
                                        <div class="all-articles__popular-card-info">
                                            01.06.2020 • 10 мин
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="all-articles__popular-list-item">
                                <a href="#" class="all-articles__popular-card">
                                    <div class="all-articles__popular-card-number">
                                        04
                                    </div>
                                    <div class="all-articles__popular-card-content">
                                        <h4 class="all-articles__popular-card-heading">
                                            Закупки в сфере строительства
                                        </h4>
                                        <div class="all-articles__popular-card-info">
                                            01.06.2020 • 10 мин
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="all-articles__popular-list-item">
                                <a href="#" class="all-articles__popular-card">
                                    <div class="all-articles__popular-card-number">
                                        05
                                    </div>
                                    <div class="all-articles__popular-card-content">
                                        <h4 class="all-articles__popular-card-heading">
                                            Закупки - как инструмент реализации национальных проектов
                                        </h4>
                                        <div class="all-articles__popular-card-info">
                                            01.06.2020 • 10 мин
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="all-articles__popular-list-item">
                                <a href="#" class="all-articles__popular-card">
                                    <div class="all-articles__popular-card-number">
                                        06
                                    </div>
                                    <div class="all-articles__popular-card-content">
                                        <h4 class="all-articles__popular-card-heading">
                                            ПАО «МИнБанк» объявил продажу прав требований на НЭП-Фабрикант
                                        </h4>
                                        <div class="all-articles__popular-card-info">
                                            01.06.2020 • 10 мин
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>