<section class="catalog">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">
                    Главная
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Реестры
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
            </div>
            <h1 class="main-heading catalog__main-heading">
                Арбитражные управляющие
                <span class="main-heading__count">
                    124
                </span>
            </h1>

            <div class="catalog__layout">
                <div class="catalog__layout-sidebar">
                    <div class="catalog-filters">
                        <h2 class="catalog-filters__heading">
                            Сортировка и фильтры
                            <button class="js-mobile-filters-close">
                                <svg width="22" height="22" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross"></use>
                                </svg>
                            </button>

                        </h2>

                        <nav class="catalog-filters__nav">
                            <ul class="catalog-filters__nav-list">
                                <li class="catalog-filters__nav-list-item">
                                    <a href="#" class="catalog-filters__nav-root-category-link js-accordion-btn">
                                        Реестры
                                    </a>
                                    <ul class="catalog-filters__nav-subcategories-list js-accordion-content">
                                        <li class="catalog-filters__nav-subcategories-list-item active">
                                            <a href="#" class="catalog-filters__nav-subcategories-link">
                                                Арбитражные управляющие
                                            </a>
                                        </li>
                                        <li class="catalog-filters__nav-subcategories-list-item">
                                            <a href="#" class="catalog-filters__nav-subcategories-link">
                                                Должники
                                            </a>
                                        </li>
                                        <li class="catalog-filters__nav-subcategories-list-item">
                                            <a href="#" class="catalog-filters__nav-subcategories-link">
                                                СРО
                                            </a>
                                        </li>
                                        <li class="catalog-filters__nav-subcategories-list-item">
                                            <a href="#" class="catalog-filters__nav-subcategories-link">
                                                Организации
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <form action="/" method="GET" class="catalog-filters__form js-catalog-filters-form" data-total-found="240">
                            <div class="catalog-filters__form-group catalog-filters__form-group--mobile-sort">
                                <h4 class="catalog-filters__form-group-heading js-accordion-btn">
                                    Сортировать
                                </h4>
                                <div class="catalog-filters__accordion-content js-accordion-content">
                                    <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                        <label class="checkbox catalog-filters__radio">
                                            <input type="radio" name="sortby" class="radio__input" checked/>
                                            <span class="radio__checkmark"></span>
                                            <span class="radio__text">
                                                От А до Я
                                            </span>
                                        </label>
                                    </div>
                                    <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                        <label class="checkbox catalog-filters__radio">
                                            <input type="radio" name="sortby" class="radio__input"/>
                                            <span class="radio__checkmark"></span>
                                            <span class="radio__text">
                                                От Я до А
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="catalog-filters__form-group">
                                <h4 class="catalog-filters__form-group-heading js-accordion-btn">
                                    Поиск
                                </h4>
                                <div class="catalog-filters__accordion-content js-accordion-content">
                                    <div class="catalog-filters__search-input-wrapper js-clearable-search">
                                        <input type="search" name="arbitrname" class="catalog-filters__search-input" placeholder="ИНН или ФИО">
                                        <button class="catalog-filters__search-clear" type="button">
                                            <svg width="22" height="22" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#cross"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-filters__form-group">
                                <h4 class="catalog-filters__form-group-heading js-accordion-btn">
                                    Категория
                                </h4>
                                <div class="catalog-filters__accordion-content js-accordion-content">
                                    <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                        <label class="checkbox catalog-filters__checkbox">
                                            <input type="checkbox" name="type" class="checkbox__input" checked/>
                                            <span class="checkbox__checkmark">
                                                <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                            <span class="checkbox__text">
                                                Банкротное имущество
                                            </span>
                                        </label>
                                    </div>
                                    <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                        <label class="checkbox catalog-filters__checkbox">
                                            <input type="checkbox" name="type" class="checkbox__input"/>
                                            <span class="checkbox__checkmark">
                                                <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                            <span class="checkbox__text">
                                                Арестованное
                                            </span>
                                        </label>
                                    </div>
                                    <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                        <label class="checkbox catalog-filters__checkbox">
                                            <input type="checkbox" name="type" class="checkbox__input"/>
                                            <span class="checkbox__checkmark">
                                                <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                            <span class="checkbox__text">
                                                Имущество организаций
                                            </span>
                                        </label>
                                    </div>
                                    <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                        <label class="checkbox catalog-filters__checkbox">
                                            <input type="checkbox" name="type" class="checkbox__input" disabled/>
                                            <span class="checkbox__checkmark">
                                                <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                            <span class="checkbox__text">
                                                Муниципальное имущество
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-filters__form-group">
                                <h4 class="catalog-filters__form-group-heading js-accordion-btn">
                                    Регион
                                </h4>
                                <div class="catalog-filters__accordion-content js-accordion-content">
                                    <div class="catalog-filters__desktop-region">
                                        <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                            <label class="checkbox catalog-filters__checkbox">
                                                <input type="checkbox" name="type" class="checkbox__input" checked/>
                                                <span class="checkbox__checkmark">
                                                    <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                        <use xlink:href="#checkmark"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__text">
                                                    Москва
                                                </span>
                                            </label>
                                        </div>
                                        <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                            <label class="checkbox catalog-filters__checkbox">
                                                <input type="checkbox" name="type" class="checkbox__input"/>
                                                <span class="checkbox__checkmark">
                                                    <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                        <use xlink:href="#checkmark"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__text">
                                                    Московская область
                                                </span>
                                            </label>
                                        </div>
                                        <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                            <label class="checkbox catalog-filters__checkbox">
                                                <input type="checkbox" name="type" class="checkbox__input"/>
                                                <span class="checkbox__checkmark">
                                                    <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                        <use xlink:href="#checkmark"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__text">
                                                    Санкт-Петербург
                                                </span>
                                            </label>
                                        </div>
                                        <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                            <label class="checkbox catalog-filters__checkbox">
                                                <input type="checkbox" name="type" class="checkbox__input"/>
                                                <span class="checkbox__checkmark">
                                                    <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                        <use xlink:href="#checkmark"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__text">
                                                    Республика Татарстан
                                                </span>
                                            </label>
                                        </div>
                                        <div class="catalog-filters__show-more-content js-show-more-content">
                                            <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                                <label class="checkbox catalog-filters__checkbox">
                                                    <input type="checkbox" name="type" class="checkbox__input"/>
                                                    <span class="checkbox__checkmark">
                                                        <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                            <use xlink:href="#checkmark"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="checkbox__text">
                                                        Республика Марий Эл
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <button class="catalog-filters__show-more js-show-more">
                                            Показать все
                                        </button>
                                    </div>
                                    <div class="catalog-filters__mobile-region">
                                        <select multiple name="mobileregion" class="js-mobile-region">
                                            <option value="">Найти регион</option>
                                            <option value="Moscow">Москва</option>
                                            <option value="Moscow Region">Московская область</option>
                                            <option value="Peter">Санкт-Петербург</option>
                                            <option value="Tatarstan">Татарстан</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-filters__form-group">
                                <h4 class="catalog-filters__form-group-heading js-accordion-btn">
                                    Тип торгов
                                </h4>
                                <div class="catalog-filters__accordion-content js-accordion-content">
                                    <div class="catalog-filters__results-btn-wrapper catalog-filters__results-btn-wrapper--checkbox">
                                        <label class="checkbox catalog-filters__checkbox">
                                            <input type="checkbox" name="type" class="checkbox__input" checked/>
                                            <span class="checkbox__checkmark">
                                                <svg width="15" height="12" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark"></use>
                                                </svg>
                                            </span>
                                            <span class="checkbox__text">
                                                Активные торги
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <button type="submit" class="btn catalog-filters__form-submit">
                                Найти
                            </button>
                            <button type="button" class="catalog-filters__save-search">
                                <span class="catalog-filters__save-search-content">
                                    <svg width="28" height="28" aria-hidden="true" class="icon-favourites">
                                        <use xlink:href="#favourites"></use>
                                    </svg>
                                    Сохранить поиск
                                </span>
                            </button>
                            <button class="catalog-filters__form-reset" type="reset">
                                Очистить фильтр
                            </button>
                        </form>
                        <div class="catalog-filters__mobile-btns">
                            <a class="catalog-filters__mobile-btn-save">
                                <svg width="28" height="28" aria-hidden="true" class="icon-favourites">
                                    <use xlink:href="#favourites"></use>
                                </svg>
                                Сохранить
                            </a>
                            <button class="catalog-filters__mobile-btn-submit js-mobile-filters-submit">
                                <span class="catalog-filters__mobile-btn-submit-content">
                                    <span class="catalog-filters__mobile-btn-submit-text">
                                        Показать
                                    </span>
                                    <span class="catalog-filters__mobile-btn-submit-count">
                                        124 управляющих
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="catalog__layout-main">
                    <div class="catalog__top-block">
                        <div class="catalog__view-modes">
                            <div class="catalog__view-sort">
                                <div class="custom-select">
                                    <select name="sort-order" class="js-custom-select">
                                        <option value="asc" selected>От А до Я</option>
                                        <option value="dsc">От Я до А</option>
                                    </select>
                                </div>
                            </div>
                            <button class="catalog__mobile-filters-btn js-mobile-filters-open">
                                <span class="catalog__mobile-filters-btn-content">
                                    <svg width="22" height="24" aria-hidden="true" class="icon-mobile-filters">
                                        <use xlink:href="#mobile-filters"></use>
                                    </svg>
                                    Сортировка и фильтры
                                </span>
                            </button>

                        </div>
                        {{!-- <div class="catalog__applied-filters">
                            <a href="#" class="catalog__applied-filters-link">
                                Арестованное имущество
                                <svg width="8" height="8" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross"></use>
                                </svg>
                            </a>
                            <a href="#" class="catalog__applied-filters-link">
                                До 500 000
                                <svg width="8" height="8" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross"></use>
                                </svg>
                            </a>
                            <a href="#" class="catalog__applied-filters-link">
                                Только с фото
                                <svg width="8" height="8" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross"></use>
                                </svg>
                            </a>
                            <a href="#" class="catalog__applied-filters-save-search">
                                <svg width="12" height="12" aria-hidden="true" class="icon-favourites">
                                    <use xlink:href="#favourites"></use>
                                </svg>
                                Сохранить поиск
                            </a>
                            <a href="#" class="catalog__applied-filters-save-clear">
                                Очистить фильтр
                                <svg width="8" height="8" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross"></use>
                                </svg>
                            </a>
                        </div> --}}
                    </div>
                    <div class="catalog__lots">
                        <div class="arbitrs">
                            <ul class="arbitrs__list">
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>
                                <li class="arbitrs__list-item">
                                    <a href="#" class="arbitrs__card">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </li>


                            </ul>
                        </div>


                        <div class="catalog__lots-bottom-nav">
                            <div class="pagination">
                                <ul class="pagination__list">
                                    <li class="pagination__list-item active">
                                        <a href="#" class="pagination__link">
                                            1
                                        </a>
                                    </li>
                                    <li class="pagination__list-item">
                                        <a href="#" class="pagination__link">
                                            2
                                        </a>
                                    </li>
                                    <li class="pagination__list-item">
                                        <a href="#" class="pagination__link">
                                            3
                                        </a>
                                    </li>
                                    <li class="pagination__list-item">
                                        <a href="#" class="pagination__link">
                                            4
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="btn catalog__lots-show-more-items">
                                Показать еще
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
