<section class="arbitr-detail">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">
                    Главная
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Реестры
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Арбитражные управляющие
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    № 8066
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
            </div>
            <div class="arbitr-detail__top-row">
                <h1 class="main-heading arbitr-detail__main-heading">
                    Константинов Константин Константинович

                </h1>

                <a href="#" class="catalog-detail__btn arbitr-detail__go-to-website">
                    Смотреть на портале ЕФРСБ
                    <svg width="12" height="12" aria-hidden="true" class="icon-link">
                        <use xlink:href="#link"></use>
                    </svg>
                </a>
            </div>
            <div class="short-info js-short-info">
                <div class="short-info__tabs-nav">
                    <a href="#" class="short-info__tabs-nav-link js-tabs-nav">
                        Основная информация
                    </a>
                    <a href="#" class="short-info__tabs-nav-link js-tabs-nav">
                        Данные СРО
                    </a>
                    <a href="#" class="short-info__tabs-nav-link js-tabs-nav">
                        Статистика
                    </a>
                </div>
                <div class="short-info__tab-items">
                    <div class="short-info__tab-item js-tabs-item">
                        <div class="short-info__table">
                            <table>
                                <tr>
                                    <th>
                                        № в реестре EI
                                    </th>
                                    <td>
                                        8066
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Рег.номер
                                    </th>
                                    <td>
                                        12696
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        ИНН
                                    </th>
                                    <td>
                                        1001 251 33310 
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        ОГРН
                                    </th>
                                    <td>
                                        5360 059 1197
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        СНИЛС
                                    </th>
                                    <td>
                                        118-155-010 25
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Юридический адрес
                                    </th>
                                    <td>
                                        185031, Респ Карелия, Петрозаводск, Шуйское шоссе, д. 6
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="short-info__tab-item js-tabs-item">
                        <div class="short-info__table">
                            <table>
                                <tr>
                                    <th>
                                        № в реестре EI
                                    </th>
                                    <td>
                                        8066
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Рег.номер
                                    </th>
                                    <td>
                                        12696
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        ИНН
                                    </th>
                                    <td>
                                        1001 251 33310 
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        ОГРН
                                    </th>
                                    <td>
                                        5360 059 1197
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        СНИЛС
                                    </th>
                                    <td>
                                        118-155-010 25
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Юридический адрес
                                    </th>
                                    <td>
                                        185031, Респ Карелия, Петрозаводск, Шуйское шоссе, д. 6
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="short-info__tab-item js-tabs-item">
                        <div class="short-info__table">
                            <table>
                                <tr>
                                    <th>
                                        № в реестре EI
                                    </th>
                                    <td>
                                        8066
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Рег.номер
                                    </th>
                                    <td>
                                        12696
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        ИНН
                                    </th>
                                    <td>
                                        1001 251 33310 
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        ОГРН
                                    </th>
                                    <td>
                                        5360 059 1197
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        СНИЛС
                                    </th>
                                    <td>
                                        118-155-010 25
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Юридический адрес
                                    </th>
                                    <td>
                                        185031, Респ Карелия, Петрозаводск, Шуйское шоссе, д. 6
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>