<section class="article-header-photo">
    <img src="img/article/header-image.jpg" alt="" class="article-header-photo__image">
    <div class="container">
        <div class="inner-container">
            <div class="article-header-photo__content">
                <div class="breadcrumbs article-header-photo__breadcrumbs">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                        <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                            <use xlink:href="#arrow-right-rounded"></use>
                        </svg>
                    </a>
                    <a href="#" class="breadcrumbs__link">
                        Полезные статьи
                        <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                            <use xlink:href="#arrow-right-rounded"></use>
                        </svg>
                    </a>
                </div>
                <h1 class="main-heading article-header-photo__heading">
                    Процесс реорганизации АО «Почта России» обсудили на заседании Комитета Совета Федерации
                </h1>
                <div class="article-header-photo__description">
                    <p>
                        Заместитель руководителя Росимущества Алексей Павлов выступил на заседании Комитета Совета
                        Федерации по экономической политике. Заседание, посвященное результатам реорганизации АО «Почта
                        России»
                    </p>
                </div>
               
            </div>

        </div>
    </div>
</section>