<section class="catalog-detail">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">
                    Главная
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Недвижимость
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Земельные участки
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
            </div>
            <h1 class="catalog-detail__main-heading">
                Лот №10 (Залог повт.) – Хозяйственное строение, пл. 247 кв.м., з/у, пл. 226 кв.м., кн
                23:49:0122005:1289, адрес: г. Сочи, Лазаревский р-н, п. Нижняя Хобза, ул. Магнитогорская, на земельном
                участке расположено хозяйственное строение №152. С-к Аведян А.К.
            </h1>
            <div class="catalog-detail__layout">
                <div class="catalog-detail__layout-main">
                    <div class="catalog-detail__gallery js-catalog-gallery">
                        <div class="catalog-detail__gallery-thumbs">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="catalog-detail__gallery-thumbs-card">
                                            <img src="img/gallery/1.jpg" alt=""
                                                class="catalog-detail__gallery-thumbs-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="catalog-detail__gallery-thumbs-card">
                                            <img src="img/gallery/1.jpg" alt=""
                                                class="catalog-detail__gallery-thumbs-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="catalog-detail__gallery-thumbs-card">
                                            <img src="img/gallery/1.jpg" alt=""
                                                class="catalog-detail__gallery-thumbs-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="catalog-detail__gallery-thumbs-card">
                                            <img src="img/gallery/1.jpg" alt=""
                                                class="catalog-detail__gallery-thumbs-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-detail__gallery-main">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="catalog-detail__gallery-card">
                                            <img src="img/gallery/1.jpg" alt=""
                                                class="catalog-detail__gallery-card-image">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="catalog-detail__gallery-card">
                                            <img src="img/gallery/1.jpg" alt=""
                                                class="catalog-detail__gallery-card-image">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="catalog-detail__gallery-card">
                                            <img src="img/gallery/1.jpg" alt=""
                                                class="catalog-detail__gallery-card-image">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="catalog-detail__gallery-card">
                                            <img src="img/gallery/1.jpg" alt=""
                                                class="catalog-detail__gallery-card-image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-detail__accordions">
                        <div class="catalog-detail__accordion js-catalog-accordion">
                            <div class="catalog-detail__accordion-btn js-accordion-btn" role="button">
                                Информация о лоте
                                <div class="catalog-detail__accordion-btn-cross">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="catalog-detail__accordion-content js-accordion-content">
                                <div class="catalog-detail__accordion-content-inner">
                                    <div class="catalog-detail__description">
                                        <p>
                                            Лот №10 (Залог повт.) – Хозяйственное строение, пл. 247 кв.м., з/у, пл. 226
                                            кв.м., кн 23:49:0122005:1289, адрес: г. Сочи, Лазаревский р-н, п. Нижняя
                                            Хобза, ул. Магнитогорская, на земельном участке расположено хозяйственное
                                            строение №152. С-к Аведян А.К.
                                        </p>
                                    </div>
                                    <a href="#" class="catalog-detail__btn catalog-detail__accordion-link">
                                        Открыть торги на ЕФРСБ
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-detail__accordion js-catalog-accordion">
                            <div class="catalog-detail__accordion-btn js-accordion-btn" role="button">
                                Информация из реестра
                                <div class="catalog-detail__accordion-btn-cross">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="catalog-detail__accordion-content js-accordion-content">
                                <div class="catalog-detail__accordion-content-inner">
                                    <div class="catalog-detail__register-info">
                                        <h2 class="catalog-detail__register-info-heading">
                                            ЗЕМЕЛЬНЫЙ УЧАСТОК 56:21:0000000:18469
                                        </h2>
                                        <div
                                            class="catalog-detail__general-info-table catalog-detail__general-info-table--medium-first-col catalog-detail__accordion-table">
                                            <table>
                                                <tr>
                                                    <th>
                                                        Кадастровый номер
                                                    </th>
                                                    <td>
                                                        Константинопольский Александр Сергеевич
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Адрес
                                                    </th>
                                                    <td>
                                                        <a
                                                            href="mailto:namehere@mailservice.com">namehere@mailservice.com</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Телефон
                                                    </th>
                                                    <td>
                                                        <a href="tel:+79995555555">+7 999 555-55-55</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Площадь
                                                    </th>
                                                    <td>
                                                        <span class="locked">
                                                            Информация скрыта

                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-lock">
                                                                <use xlink:href="#lock"></use>
                                                            </svg>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Тип объекта
                                                    </th>
                                                    <td>
                                                        <span class="locked">
                                                            Информация скрыта

                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-lock">
                                                                <use xlink:href="#lock"></use>
                                                            </svg>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Кадастровый номер
                                                    </th>
                                                    <td>
                                                        <span class="locked">
                                                            Информация скрыта

                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-lock">
                                                                <use xlink:href="#lock"></use>
                                                            </svg>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Статус объекта
                                                    </th>
                                                    <td>
                                                        <span class="locked">
                                                            Информация скрыта

                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-lock">
                                                                <use xlink:href="#lock"></use>
                                                            </svg>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <a href="#" class="catalog-detail__btn catalog-detail__accordion-link">
                                        Открыть торги на ЕФРСБ
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-detail__accordion js-catalog-accordion">
                            <div class="catalog-detail__accordion-btn js-accordion-btn" role="button">
                                Этапы снижения цены
                                <div class="catalog-detail__accordion-btn-cross">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div
                                class="catalog-detail__accordion-content catalog-detail__accordion-content--fullwidth js-accordion-content">
                                <div class="catalog-detail__accordion-content-inner">
                                    <div class="catalog-detail__price-dynamics">
                                        <div class="catalog-detail__price-dynamics-actual">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Начало периода
                                                        </th>
                                                        <th>
                                                            Конец
                                                        </th>
                                                        <th>
                                                            Цена
                                                        </th>
                                                        <th>
                                                            Задаток
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-th="Начало периода">
                                                            24 июня в 00:00
                                                        </td>
                                                        <td data-th="Конец">
                                                            29 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            127 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Начало периода">
                                                            25 июня в 00:00
                                                        </td>
                                                        <td data-th="Конец">
                                                            28 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            117 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Начало периода">26 июня в 00:00</td>
                                                        <td data-th="Конец">
                                                            27 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            107 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Начало периода">
                                                            27 июня в 00:00
                                                        </td>
                                                        <td data-th="Конец">
                                                            26 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            97 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-th="Начало периода">
                                                            28 июня в 00:00
                                                        </td>
                                                        <td data-th="Конец">
                                                            25 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            87 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <a href="#"
                                                                class="catalog-detail__btn catalog-detail__btn--table-btn js-hide-old-stages">
                                                                Скрыть прошедшие этапы
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="old">
                                                        <td data-th="Начало периода">
                                                            23 июня в 00:00
                                                        </td>
                                                        <td data-th="Конец">
                                                            28 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            117 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                    <tr class="old">
                                                        <td data-th="Начало периода">
                                                            22 июня в 00:00
                                                        </td>
                                                        <td data-th="Конец">
                                                            27 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            107 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                    <tr class="old">
                                                        <td data-th="Начало периода">
                                                            21 июня в 00:00
                                                        </td>
                                                        <td data-th="Конец">
                                                            26 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            97 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                    <tr class="old">
                                                        <td data-th="Начало периода">
                                                            20 июня в 00:00
                                                        </td>
                                                        <td data-th="Конец">
                                                            25 июня в 00:00
                                                        </td>
                                                        <td data-th="Цена">
                                                            87 000 500,00 ₽
                                                        </td>
                                                        <td data-th="Задаток">
                                                            1 270 000,00 ₽
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="catalog-detail__accordion js-catalog-accordion">
                            <div class="catalog-detail__accordion-btn js-accordion-btn" role="button">
                                Информация о должнике
                                <div class="catalog-detail__accordion-btn-cross">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="catalog-detail__accordion-content js-accordion-content">
                                <div class="catalog-detail__accordion-content-inner">
                                    <div
                                        class="catalog-detail__general-info-table catalog-detail__general-info-table--short-first-col catalog-detail__accordion-table">
                                        <table>
                                            <tr>
                                                <th>
                                                    ФИО
                                                </th>
                                                <td>
                                                    Константинопольский Александр Сергеевич
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    ИНН
                                                </th>
                                                <td>
                                                    7 708 543 210
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    ОГРН
                                                </th>
                                                <td>
                                                    1 026 400 005 577
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="catalog-detail__accordion js-catalog-accordion">
                            <div class="catalog-detail__accordion-btn js-accordion-btn" role="button">
                                Организатор торгов
                                <div class="catalog-detail__accordion-btn-cross">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="catalog-detail__accordion-content js-accordion-content">
                                <div class="catalog-detail__accordion-content-inner">
                                    <div
                                        class="catalog-detail__general-info-table catalog-detail__general-info-table--short-first-col catalog-detail__accordion-table">
                                        <table>
                                            <tr>
                                                <th>
                                                    ФИО
                                                </th>
                                                <td>
                                                    Константинопольский Александр Сергеевич
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Эл. почта
                                                </th>
                                                <td>
                                                    <a
                                                        href="mailto:namehere@mailservice.com">namehere@mailservice.com</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Телефон
                                                </th>
                                                <td>
                                                    <a href="tel:+79995555555">+7 999 555-55-55</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    ИНН
                                                </th>
                                                <td>
                                                    7 708 543 210
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <a href="#write-org"
                                        class="catalog-detail__btn catalog-detail__accordion-link js-modal-open">
                                        <svg width="12" height="12" aria-hidden="true" class="icon-pencil">
                                            <use xlink:href="#pencil"></use>
                                        </svg>
                                        Написать организатору
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="catalog-detail__announcement">
                            <img src="img/banner.jpg" alt="" class="catalog-detail__announcement-image">
                            <h3 class="catalog-detail__announcement-heading">Тариф «Турбо» на 1 месяц</h3>
                            <span class="catalog-detail__link-text">
                                Попробуйте бесплатно
                                <svg width="6" height="10" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                        </a>

                        <div class="catalog-detail__accordion js-catalog-accordion">
                            <div class="catalog-detail__accordion-btn js-accordion-btn" role="button">
                                Арбитражный управляющий
                                <div class="catalog-detail__accordion-btn-cross">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="catalog-detail__accordion-content js-accordion-content">
                                <div class="catalog-detail__accordion-content-inner">
                                    <div
                                        class="catalog-detail__general-info-table catalog-detail__general-info-table--short-first-col catalog-detail__accordion-table">
                                        <table>
                                            <tr>
                                                <th>
                                                    ФИО
                                                </th>
                                                <td>
                                                    Константинопольский Александр Сергеевич
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Эл. почта
                                                </th>
                                                <td>
                                                    <a
                                                        href="mailto:namehere@mailservice.com">namehere@mailservice.com</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Телефон
                                                </th>
                                                <td>
                                                    <a href="tel:+79995555555">+7 999 555-55-55</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    ИНН
                                                </th>
                                                <td>
                                                    7 708 543 210
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="catalog-detail__accordion js-catalog-accordion">
                            <div class="catalog-detail__accordion-btn js-accordion-btn" role="button">
                                Порядок участия в торгах
                                <div class="catalog-detail__accordion-btn-cross">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="catalog-detail__accordion-content js-accordion-content">
                                <div class="catalog-detail__accordion-content-inner">
                                    <div class="catalog-detail__rules">
                                        <h2 class="catalog-detail__rules-heading">
                                            Порядок оформления участия в торгах, перечень документов участника
                                            и требования к оформлению:
                                        </h2>

                                        <div class="catalog-detail__rules-content">
                                            <p>
                                                Для участия в торгах заявителю необходимо представить Организатору
                                                торгов в электронном виде заявку на участие в торгах, которая должна
                                                содержать следующие сведения: наименование, организационно-правовую
                                                форму, место нахождения, почтовый адрес (для юридического лица)
                                                заявителя...
                                            </p>
                                        </div>
                                        <a href="#" class="catalog-detail__btn catalog-detail__accordion-link">
                                            Читать полностью
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="catalog-detail__accordion js-catalog-accordion">
                            <div class="catalog-detail__accordion-btn js-accordion-btn" role="button">
                                Необходимые документы
                                <div class="catalog-detail__accordion-btn-cross">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="catalog-detail__accordion-content js-accordion-content">
                                <div class="catalog-detail__accordion-content-inner">
                                    <div class="catalog-detail__documents">
                                        <a href="#" class="catalog-detail__documents-link">
                                            <svg width="22" height="30" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc"></use>
                                            </svg>
                                            <div class="catalog-detail__documents-link-content">
                                                <div class="catalog-detail__documents-link-title">
                                                    Договор задатка
                                                </div>
                                                <div class="catalog-detail__documents-link-format">
                                                    PDF • 1.4 MB
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="catalog-detail__documents-link">
                                            <svg width="22" height="30" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc"></use>
                                            </svg>
                                            <div class="catalog-detail__documents-link-content">
                                                <div class="catalog-detail__documents-link-title">
                                                    Договор задатка на перечень лотов на лучшем сервисе по банкротным
                                                    торгам конечно же ei.ru, лучшем в России и даже в мире
                                                </div>
                                                <div class="catalog-detail__documents-link-format">
                                                    PDF • 1.4 MB
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="catalog-detail__documents-link">
                                            <svg width="22" height="30" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc"></use>
                                            </svg>
                                            <div class="catalog-detail__documents-link-content">
                                                <div class="catalog-detail__documents-link-title">
                                                    Договор задатка
                                                </div>
                                                <div class="catalog-detail__documents-link-format">
                                                    PDF • 1.4 MB
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <a href="#" class="catalog-detail__announcement">
                            <img src="img/banner.jpg" alt="" class="catalog-detail__announcement-image">
                            <h3 class="catalog-detail__announcement-heading">Тариф «Турбо» на 1 месяц</h3>
                            <span class="catalog-detail__link-text">
                                Попробуйте бесплатно
                                <svg width="6" height="10" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="catalog-detail__layout-sidebar js-sticky-sidebar">
                    <div class="catalog-detail__layout-sidebar-content">
                        <div class="catalog-detail__price">
                            <div class="catalog-detail__current-price">
                                295 500 000 ₽
                            </div>
                            <div class="catalog-detail__minimal-price">
                                Минимальная цена — 187 386 743 ₽
                            </div>
                        </div>

                        <div class="catalog-detail__actions">
                            <a href="#buy-lot" class="catalog-detail__timer js-modal-open" style="--lot-progress: 0.5;"
                                ie-style="--lot-progress: 0.5;">
                                <div class="catalog-detail__timer-countdown">
                                    <svg width="200" height="200" viewBox="0 0 200 200"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-opacity="0.3" stroke-width="20"></circle>
                                        <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                            stroke-width="20" stroke-dasharray="500"></circle>
                                    </svg>
                                </div>
                                <div class="catalog-detail__timer-content">
                                    <div class="catalog-detail__timer-buy-text">
                                        Купить лот
                                    </div>
                                    <div class="catalog-detail__remaining-time">
                                        59 дней до подачи заявки
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="catalog-detail__like-btn">
                                <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                        </div>


                        <div class="catalog-detail__additional-actions">
                            <ul class="catalog-detail__additional-actions-list">
                                <li class="catalog-detail__additional-actions-list-item">
                                    <a href="#tell-your-price" class="catalog-detail__btn js-modal-open">
                                        <svg width="12" height="12" aria-hidden="true" class="icon-rub">
                                            <use xlink:href="#rub"></use>
                                        </svg>
                                        Предложить цену
                                    </a>
                                </li>
                                <li class="catalog-detail__additional-actions-list-item">
                                    <a href="#" class="catalog-detail__btn">
                                        <svg width="12" height="12" aria-hidden="true" class="icon-doc">
                                            <use xlink:href="#doc"></use>
                                        </svg>
                                        Получить отчет
                                    </a>
                                </li>
                                <li class="catalog-detail__additional-actions-list-item">
                                    <a href="#write-org" class="catalog-detail__btn js-modal-open">
                                        <svg width="12" height="12" aria-hidden="true" class="icon-pencil">
                                            <use xlink:href="#pencil"></use>
                                        </svg>
                                        Написать организатору
                                    </a>
                                </li>
                            </ul>



                        </div>
                        <div class="catalog-detail__general-info">
                            <div class="catalog-detail__general-info-table">
                                <table>
                                    <tr>
                                        <th>
                                            № лота
                                        </th>
                                        <td>
                                            717 434
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Начальная цена
                                        </th>
                                        <td>
                                            187 386,00 ₽
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Размер задатка
                                        </th>
                                        <td>
                                            20% от начальной цены
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Шаг
                                        </th>
                                        <td>
                                            5% — 14 419,31 ₽
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Шаг
                                        </th>
                                        <td>
                                            5% — 14 419,31 ₽
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="catalog-detail__general-info-table">
                                <table>
                                    <tr>
                                        <th>Секция торгов</th>
                                        <td>
                                            Банкротное имущество
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Тип торгов
                                        </th>
                                        <td>
                                            Публичные торги
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Текущий статус
                                        </th>
                                        <td>
                                            Идет прием заявок
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Начало приема заявок
                                        </th>
                                        <td>
                                            16.07.2020, 12:00
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Конец приема заявок
                                        </th>
                                        <td>
                                            30.07.2020, 12:00
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Организатор торгов
                                        </th>
                                        <td>
                                            ООО «Рога и копыта»
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Площадка
                                        </th>
                                        <td>
                                            <span class="locked">

                                                Информация скрыта
                                                <span class="locked__remark">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-lock">
                                                        <use xlink:href="#lock"></use>
                                                    </svg>
                                                    <span class="locked__dropdown">
                                                        <span class="locked__dropdown-inner">
                                                            Доступно пользователям с <a href="#">премиум-подпиской</a>
                                                        </span>
                                                    </span>
                                                </span>


                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>