<section class="catalog">
    <div class="container">
        <div class="inner-container">
            <h1 class="main-heading catalog__main-heading">
                Легковые автомобили
                <span class="main-heading__count">
                    124
                </span>
            </h1>
            <div class="catalog__layout">
                <div class="catalog__layout-sidebar">
                    {{> catalog-filters }}
                </div>
                <div class="catalog__layout-main">
                    <div class="breadcrumbs">
                        <a href="#" class="breadcrumbs__link">
                            Главная
                            <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                                <use xlink:href="#arrow-right-rounded"></use>
                            </svg>
                        </a>
                        <a href="#" class="breadcrumbs__link">
                            Транспорт и техника
                            <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                                <use xlink:href="#arrow-right-rounded"></use>
                            </svg>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>