<section class="contacts">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">
                    Главная
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Контакты
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
            </div>
            <h1 class="main-heading contacts__heading">
                Контакты
            </h1>
            <div class="contacts__layout">
                <div class="contacts__layout-main">
                    <div class="contacts__social">
                        <h4 class="contacts__social-title">
                            Следите за новостями
                        </h4>
                        <ul class="contacts__social-list">
                            <li class="contacts__social-list-item">
                                <a href="#" class="contacts__social-link">
                                    <img src="img/contacts-social/facebook.svg" alt="" onload="SVGInject(this)">
                                </a>
                            </li>
                            <li class="contacts__social-list-item">
                                <a href="#" class="contacts__social-link">
                                    <img src="img/contacts-social/vk.svg" alt="" onload="SVGInject(this)">
                                </a>
                            </li>
                            <li class="contacts__social-list-item">
                                <a href="#" class="contacts__social-link">
                                    <img src="img/contacts-social/telegram.svg" alt="" onload="SVGInject(this)">
                                </a>
                            </li>
                            <li class="contacts__social-list-item">
                                <a href="#" class="contacts__social-link">
                                    <img src="img/contacts-social/twitter.svg" alt="" onload="SVGInject(this)">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="contacts__info">
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-block-heading">
                                Клиентская поддержка
                            </h3>
                            <div class="contacts__info-block-items">
                                <div class="contacts__info-block-item">
                                    <a href="tel:+78006003305" class="contacts__info-block-link">
                                        8-800-600-33-05
                                    </a>
                                    <div class="contacts__info-block-small-remark">
                                        Звонок по России бесплатный
                                    </div>
                                    <div class="contacts__info-block-large-remark">
                                        По будням 9:00–18:00 МСК
                                    </div>
                                </div>
                                <div class="contacts__info-block-item">
                                    <a href="tel:+78436003305" class="contacts__info-block-link">
                                        8 843 600-33-05
                                    </a>
                                    <div class="contacts__info-block-small-remark">
                                        Звонок по России бесплатный
                                    </div>
                                    <div class="contacts__info-block-large-remark">
                                        По будням 9:00–18:00 МСК
                                    </div>
                                </div>
                                <div class="contacts__info-block-item">
                                    <a href="mailto:hello@ei.ru"
                                        class="contacts__info-block-link contacts__info-block-link--green">
                                        hello@ei.ru
                                    </a>

                                    <div class="contacts__info-block-large-remark">
                                        Отвечаем в течение двух рабочих дней
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-block-heading">
                                Партнерство и реклама
                            </h3>
                            <div class="contacts__info-block-items">
                                <div class="contacts__info-block-item">
                                    <a href="tel:+78006004405" class="contacts__info-block-link">
                                        8-800-600-44-05
                                    </a>
                                    <div class="contacts__info-block-small-remark">
                                        Звонок по России бесплатный
                                    </div>
                                    <div class="contacts__info-block-large-remark">
                                        По будням 9:00–18:00 МСК
                                    </div>
                                </div>
                                <div class="contacts__info-block-item">
                                    <a href="tel:+78006004405" class="contacts__info-block-link">
                                        8-800-600-44-05
                                    </a>
                                    <div class="contacts__info-block-small-remark">
                                        Звонок по России бесплатный
                                    </div>
                                    <div class="contacts__info-block-large-remark">
                                        По будням 9:00–18:00 МСК
                                    </div>
                                </div>
                                <div class="contacts__info-block-item">
                                    <a href="mailto:business@ei.ru"
                                        class="contacts__info-block-link contacts__info-block-link--green">
                                        business@ei.ru
                                    </a>

                                    <div class="contacts__info-block-large-remark">
                                        Отвечаем в течение двух рабочих дней
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-block-heading">
                                Наш адрес
                            </h3>
                            <div class="contacts__info-block-items">
                                <div class="contacts__info-block-item">
                                    <div class="contacts__info-block-text">
                                        Казань, м. Козья слобода,
                                        Проспект Ибрагимова 56А, офис 20Г
                                    </div>
                                    <div class="contacts__info-block-small-remark">
                                        Ежедневно: 9:00–18:00
                                    </div>

                                </div>
                                <div class="contacts__info-block-item">
                                    <a href="tel:+78005555555" class="contacts__info-block-link">
                                        8 800 555-55-55
                                    </a>

                                    <div class="contacts__info-block-large-remark">
                                        Звонок бесплатный
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts__layout-sidebar">
                    <form action="/" method="POST" class="contacts__contact-us-form" data-need-validation>
                        <h4 class="contacts__contact-us-form-title">
                            Свяжитесь с нашим консультантом
                        </h4>
                        <div class="contacts__contact-us-form-row">
                            <input type="text" name="name" class="contacts__contact-us-form-input" placeholder="Имя"
                                required>
                        </div>
                        <div class="contacts__contact-us-form-row">
                            <input name="email" type="email" class="contacts__contact-us-form-input"
                                placeholder="Электронная почта" required>
                        </div>
                        <div class="contacts__contact-us-form-row">
                            <textarea name="comment" class="contacts__contact-us-form-input"
                                placeholder="Сообщение"></textarea>
                        </div>
                        <div class="contacts__contact-us-form-row contacts__contact-us-form-row--checkbox">
                            <label class="contacts__contact-us-form-checkbox">
                                <input type="checkbox" class="contacts__contact-us-form-checkbox-input">
                                <span class="contacts__contact-us-form-checkbox-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="contacts__contact-us-form-checkbox-text">
                                    Я принимаю условия <a href="#">
                                        Пользовательского соглашения
                                    </a>
                                </span>
                            </label>
                        </div>
                        <button type="submit" class="contacts__contact-us-form-checkbox-submit">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>


            <div class="contacts__map-container">
                <div class="contacts__map js-contacts-map" data-lat="55.820587" data-lng="49.095481"
                    data-pin="img/contacts-pin.svg"></div>
            </div>
        </div>
    </div>
</section>