<section class="contacts">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">
                    Главная
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Контакты
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
            </div>
            <h1 class="main-heading contacts__heading">
                Контакты
            </h1>
            <div class="contacts__top-block">
                <div class="contacts__top-row">
                    <div class="contacts__top-col">
                        <div class="contacts__top-card">
                            Казань, м. Козья слобода,<br>
                            Проспект Ибрагимова 56А, офис 20Г
                            <span class="contacts__top-card-remark">
                                Ежедневно: 9:00–18:00
                            </span>
                        </div>
                    </div>
                    <div class="contacts__top-col">
                        <div class="contacts__top-card">
                            <a href="+78005555555">8 800 555-55-55</a>
                            <span class="contacts__top-card-remark">
                                Ежедневно: 9:00–18:00
                            </span>
                        </div>
                    </div>
                    <div class="contacts__top-col">
                        <div class="contacts__social">
                            <a href="#" class="contacts__social-link">
                                <img src="img/contacts-social/facebook.svg" onload="SVGInject(this)">
                            </a>
                            <a href="#" class="contacts__social-link">
                                <img src="img/contacts-social/vk.svg" onload="SVGInject(this)">
                            </a>
                            <a href="#" class="contacts__social-link">
                                <img src="img/contacts-social/telegram.svg" onload="SVGInject(this)">
                            </a>
                            <a href="#" class="contacts__social-link">
                                <img src="img/contacts-social/twitter.svg" onload="SVGInject(this)">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts__map-container">
                <div class="contacts__map js-contacts-map" data-lat="55.820587" data-lng="49.095481"
                    data-pin="img/contacts-pin.svg"></div>
            </div>
            <div class="contacts__info-blocks">
                <div class="contacts__info-block">
                    <h3 class="contacts__info-block-heading">
                        Клиентская поддержка
                    </h3>
                    <div class="contacts__info-block-items">
                        <div class="contacts__info-block-item">
                            <a href="tel:+78006003305">8-800-600-33-05</a>
                            <span class="contacts__info-block-item-small-remark">
                                Звонок по России бесплатный
                            </span>
                            <span class="contacts__info-block-item-large-remark">
                                По будням 9:00–18:00 МСК
                            </span>
                        </div>
                        <div class="contacts__info-block-item">
                            <a href="tel:+78436003305">8-843-600-33-05</a>
                            <span class="contacts__info-block-item-small-remark">
                                Для звонков из-за рубежа
                            </span>
                            <span class="contacts__info-block-item-large-remark">
                                По будням 9:00–18:00 МСК
                            </span>
                        </div>
                        <div class="contacts__info-block-item">
                            <a href="mailto:hello@ei.ru">hello@ei.ru</a>

                            <span class="contacts__info-block-item-large-remark">
                                Отвечаем в течение двух рабочих дней
                            </span>
                        </div>
                    </div>
                </div>
                <div class="contacts__info-block">
                    <h3 class="contacts__info-block-heading">
                        Партнерство и реклама
                    </h3>
                    <div class="contacts__info-block-items">
                        <div class="contacts__info-block-item">
                            <a href="tel:+78006004405">8-800-600-44-05</a>
                            <span class="contacts__info-block-item-small-remark">
                                Звонок по России бесплатный
                            </span>
                            <span class="contacts__info-block-item-large-remark">
                                По будням 9:00–18:00 МСК
                            </span>
                        </div>
                        <div class="contacts__info-block-item">
                            <a href="tel:+78436004405">8-843-600-44-05</a>
                            <span class="contacts__info-block-item-small-remark">
                                Для звонков из-за рубежа
                            </span>
                            <span class="contacts__info-block-item-large-remark">
                                По будням 9:00–18:00 МСК
                            </span>
                        </div>
                        <div class="contacts__info-block-item">
                            <a href="mailto:business@ei.ru">business@ei.ru</a>

                            <span class="contacts__info-block-item-large-remark">
                                Отвечаем в течение двух рабочих дней
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>