<section class="contact-us">
    <div class="container">
        <div class="inner-container">
            <h2 class="contact-us__heading">
                Свяжитесь с нашим<br> консультантом
            </h2>
            <form action="/" method="POST" class="contact-us__form" data-need-validation>
                <div class="contact-us__form-groups">
                    <div class="contact-us__form-group">
                        <input type="text" name="name" class="contact-us__form-input" required placeholder="Имя">
                    </div>
                    <div class="contact-us__form-group">
                        <input type="email" name="email" class="contact-us__form-input" required placeholder="E-mail">
                    </div>
                    <div class="contact-us__form-group contact-us__form-group--fullwidth">
                        <textarea name="comment" class="contact-us__form-textarea" placeholder="Сообщение"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn contact-us__form-submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>
</section>