<footer class="page-footer">
    <div class="container">
        <div class="page-footer__grid">
            <div class="page-footer__logo-wrapper">
                <a href="index.html" class="page-footer__logo-link">
                    <img src="img/logo-white.svg" alt="Логотип" class="page-footer__logo-image" width="160">
                </a>
            </div>

            <div class="page-footer__main-content">
                <div class="page-footer__contacts">
                    <h3 class="page-footer__contacts-heading">
                        Мы собираем<br> и обрабатываем информацию<br> с десятков торговых<br> площадок страны для вас.
                    </h3>
                    <div class="page-footer__contacts-links">
                        <a href="tel:+78006003305" class="page-footer__contacts-link">
                            8 800 600 33 05
                        </a>
                        <a href="mailto:help@ei.ru" class="page-footer__contacts-link">
                            help@ei.ru
                        </a>
                        <div class="page-footer__social">
                            <a href="#" class="page-footer__social-link">
                                <svg width="20" height="20" aria-hidden="true" class="icon-instagram">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                            <a href="#" class="page-footer__social-link">
                                <svg width="20" height="20" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-footer__nav">
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Все категории
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Банкротное имущество
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Арестованное имущество
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Имущество организаций
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Муниципальное имущество
                            </a>
                        </li>
                    </ul>
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Арбитражные управляющие
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                СРО
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Должники
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Услуги и тарифы
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Партнерам
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="page-footer__info">
                <div class="page-footer__copyright">
                    © EI.RU, 2020
                </div>
                <a href="#" class="page-footer__info-link">
                    Политика конфиденциальности
                </a>
                <a href="#" class="page-footer__info-link">
                    Лицензионное соглашение
                </a>
                <a href="#" class="page-footer__made-by">
                    Создание сайта
                    <img src="img/markweber-logo.svg" alt="" class="page-footer__made-by-logo">
                </a>
            </div>
        </div>
    </div>
</footer>