<header class="page-header">
    <div class="container">
        <div class="page-header__nav-row">
            <nav class="page-header__main-nav">
                <ul class="page-header__main-nav-list">
                    {{#each menuLinks}}
                    <li class="page-header__main-nav-list-item">
                        <a href="{{ this.url }}" class="page-header__main-nav-link">
                            {{ this.title }}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </nav>

            <a href="#" class="page-header__how-to-use-link">
                Как пользоваться сервисом
            </a>
        </div>
        <div class="page-header__search-row">
            <div class="page-header__burger-header">
                <div class="page-header__mobile-menu">
                    <div class="page-header__mobile-menu-content-width">


                        <div class="page-header__mobile-menu-user">
                            <a href="#" class="page-header__user-link">
                                <span class="page-header__user-link-icon-container">
                                    <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                    <span class="page-header__user-link-amount">
                                        12
                                    </span>
                                </span>
                                Избранное
                            </a>
                            <a href="#" class="page-header__user-link">
                                <span class="page-header__user-link-icon-container">
                                    <svg width="28" height="28" aria-hidden="true" class="icon-favourites">
                                        <use xlink:href="#favourites"></use>
                                    </svg>

                                </span>
                                Сохраненные<br>
                                поиски
                            </a>
                            <a href="#" class="page-header__user-link">
                                <span class="page-header__user-link-icon-container">
                                    <svg width="28" height="28" aria-hidden="true" class="icon-bell">
                                        <use xlink:href="#bell"></use>
                                    </svg>

                                </span>
                                Уведомления
                            </a>
                        </div>
                    </div>
                    <div class="page-header__mobile-menu-scroll-container">
                        <div class="page-header__mobile-menu-content-width">
                            <nav class="page-header__mobile-menu-navigation">
                                <ul class="page-header__mobile-menu-navigation-list">
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Транспорт и техника
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Недвижимость
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Оборудование
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Сельское хозяйство
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Имущественный комплекс
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Товарно-материальные ценности
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Дебиторская задолженность
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Ценные бумаги, нма, доли в уставных капиталах
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Сырье
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                    <li class="page-header__mobile-menu-navigation-list-item">

                                        <div class="page-header__mobile-menu-navigation-link js-accordion-btn">
                                            <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                            Прочее
                                        </div>
                                        <div class="page-header__mobile-menu-navigation-dropdown js-accordion-content">
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 1
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 2
                                            </a>
                                            <a href="#" class="page-header__mobile-menu-navigation-dropdown-link">
                                                Пункт 3
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                        <div class="page-header__mobile-regular-menu">
                            <a href="#" class="page-header__mobile-regular-menu-link">
                                Реестры
                            </a>
                            <a href="#" class="page-header__mobile-regular-menu-link">
                                Полезные статьи
                            </a>
                            <a href="#" class="page-header__mobile-regular-menu-link">
                                Услуги и тарифы
                            </a>
                            <a href="#" class="page-header__mobile-regular-menu-link">
                                Партнерам
                            </a>
                            <a href="#" class="page-header__mobile-regular-menu-link">
                                Вопросы и ответы
                            </a>
                            <a href="#" class="page-header__mobile-regular-menu-link">
                                Контакты
                            </a>
                            <a href="#" class="page-header__mobile-regular-menu-link">
                                О сервисе
                            </a>
                            <a href="#" class="page-header__mobile-regular-menu-link">
                                Как пользоваться сервисом
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#" class="page-header__logo-link">
                    <img src="img/logo.svg" width="190" alt="Логотип" class="page-header__logo-image">
                </a>
                <button class="page-header__mobile-menu-burger">
                    <svg width="30" height="30" aria-hidden="true" class="icon-person">
                        <use xlink:href="#person"></use>
                    </svg>
                </button>
            </div>


            <form action="/" method="GET" class="page-header__search-form">
                <a href="#" class="page-header__catalog-link">
                    <span class="page-header__catalog-link-text">
                        Каталог
                    </span>

                    <span class="page-header__catalog-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <input type="search" name="q" class="page-header__search-form-input" placeholder="Поиск по лотам">
                <button type="submit" class="page-header__search-form-submit">
                    <svg width="20" height="20" aria-hidden="true" class="icon-search">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
            <div class="page-header__user-links">
                <div class="page-header__user-link">
                    <span class="page-header__user-link-icon-container">
                        <svg width="28" height="28" aria-hidden="true" class="icon-person">
                            <use xlink:href="#person"></use>
                        </svg>
                    </span>
                    Профиль

                    <div class="page-header__user-dropdown">
                        <div class="page-header__user-account">
                            <a href="#" class="page-header__user-account-username">
                                <div class="page-header__user-account-username-avatar">
                                    КК
                                </div>
                                <div class="page-header__user-account-username-content">
                                    <div class="page-header__user-account-username-name">
                                        Константин<br> Константинопольский
                                    </div>
                                    <div class="page-header__user-account-username-email">konstantin@ei.ru</div>
                                </div>
                            </a>
                            <nav class="page-header__user-account-nav">
                                <ul class="page-header__user-account-nav-list">
                                    <li class="page-header__user-account-nav-list-item">
                                        <a href="#" class="page-header__user-account-nav-link">
                                            Изменить данные


                                        </a>
                                    </li>
                                    <li class="page-header__user-account-nav-list-item">
                                        <a href="#" class="page-header__user-account-nav-link">
                                            Мои заказы


                                        </a>
                                    </li>
                                    <li class="page-header__user-account-nav-list-item">
                                        <a href="#" class="page-header__user-account-nav-link">
                                            Избранное


                                        </a>
                                    </li>
                                    <li class="page-header__user-account-nav-list-item">
                                        <a href="#" class="page-header__user-account-nav-link">
                                            Сохраненные поиски


                                        </a>
                                    </li>
                                    <li class="page-header__user-account-nav-list-item">
                                        <a href="#" class="page-header__user-account-nav-link">
                                            Уведомления

                                        </a>
                                    </li>
                                    <li class="page-header__user-account-nav-list-item">
                                        <a href="#"
                                            class="page-header__user-account-nav-link page-header__user-account-nav-link--red">
                                            Выйти

                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <a href="#" class="page-header__user-account-username">
                                <div
                                    class="page-header__user-account-username-avatar page-header__user-account-username-avatar--violet">
                                    ВК
                                </div>
                                <div class="page-header__user-account-username-content">
                                    <div class="page-header__user-account-username-name">
                                        Владимир<br> Константинопольский
                                    </div>
                                    <div class="page-header__user-account-username-email">konstantin@ei.ru</div>
                                </div>
                            </a>

                            <a href="#" class="page-header__user-account-add-link">
                                <span class="page-header__user-account-add-link-plus">
                                    <svg width="15" height="15" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </span>
                                Добавить аккаунт
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#" class="page-header__user-link">
                    <span class="page-header__user-link-icon-container">
                        <svg width="28" height="28" aria-hidden="true" class="icon-heart">
                            <use xlink:href="#heart"></use>
                        </svg>
                        <span class="page-header__user-link-amount">
                            12
                        </span>
                    </span>
                    Избранное
                </a>
                <a href="#" class="page-header__user-link">
                    <span class="page-header__user-link-icon-container">
                        <svg width="28" height="28" aria-hidden="true" class="icon-favourites">
                            <use xlink:href="#favourites"></use>
                        </svg>

                    </span>
                    Сохраненные<br>
                    поиски
                </a>
                <a href="#" class="page-header__user-link">
                    <span class="page-header__user-link-icon-container">
                        <svg width="28" height="28" aria-hidden="true" class="icon-bell">
                            <use xlink:href="#bell"></use>
                        </svg>

                    </span>
                    Уведомления
                </a>
            </div>
        </div>
    </div>
</header>