<section class="how-to-use">
    <div class="container">
        <div class="inner-container">
            <h1 class="main-heading how-to-use__heading">
                Как пользоваться сервисом?
            </h1>
            <div class="how-to-use__layout">
                <div class="how-to-use__sidebar">
                    <div class="how-to-use__nav">
                        <h3 class="how-to-use__nav-heading">
                            Категории
                        </h3>
                        <nav class="how-to-use__nav-links">
                            <a href="#" class="how-to-use__nav-link">
                                О работе сервиса
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Мой профиль
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Регистрация
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Услуги и тарифы
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                О работе сервиса
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Мой профиль
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Регистрация
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Услуги и тарифы
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                О работе сервиса
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Мой профиль
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Регистрация
                            </a>
                            <a href="#" class="how-to-use__nav-link">
                                Услуги и тарифы
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="how-to-use__main">
                    <div class="how-to-use__items">
                        <div class="how-to-use__item">
                            <h4 class="how-to-use__item-heading">
                                <img src="img/how-to-use/person.svg" width="26" height="26" alt=""
                                    class="how-to-use__item-heading-icon">
                                Регистрация
                            </h4>
                            <div class="how-to-use__item-links">
                                <a href="#" class="how-to-use__item-link">
                                    Для чего нужна регистраиция?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Для чего нужна регистраиция?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Какие данные указывать?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Какие данные указывать?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Как зарегистрироваться?
                                </a>
                            </div>
                        </div>
                        <div class="how-to-use__item">
                            <h4 class="how-to-use__item-heading">
                                <img src="img/how-to-use/label.svg" width="26" height="26" alt=""
                                    class="how-to-use__item-heading-icon">
                                Услуги и тарифы
                            </h4>
                            <div class="how-to-use__item-links">
                                <a href="#" class="how-to-use__item-link">
                                    Для чего нужна регистраиция?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Для чего нужна регистраиция?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Какие данные указывать?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Какие данные указывать?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Как зарегистрироваться?
                                </a>
                            </div>
                        </div>
                        <div class="how-to-use__item">
                            <h4 class="how-to-use__item-heading">
                                <img src="img/how-to-use/user.svg" width="26" height="26" alt=""
                                    class="how-to-use__item-heading-icon">
                                Профиль
                            </h4>
                            <div class="how-to-use__item-links">
                                <a href="#" class="how-to-use__item-link">
                                    Для чего нужна регистраиция?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Для чего нужна регистраиция?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Какие данные указывать?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Какие данные указывать?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Как зарегистрироваться?
                                </a>
                            </div>
                        </div>
                        <div class="how-to-use__item">
                            <h4 class="how-to-use__item-heading">
                                <img src="img/how-to-use/info.svg" width="26" height="26" alt=""
                                    class="how-to-use__item-heading-icon">
                                О сервисе
                            </h4>
                            <div class="how-to-use__item-links">
                                <a href="#" class="how-to-use__item-link">
                                    Для чего нужна регистраиция?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Для чего нужна регистраиция?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Какие данные указывать?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Какие данные указывать?
                                </a>
                                <a href="#" class="how-to-use__item-link">
                                    Как зарегистрироваться?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>