<div class="messages">
    <div class="message" id="subscription-cancelled-message">
        Подписка отменена
    </div>
    <div class="message" id="card-removed-message">
        Карта успешно удалена
    </div>
    <div class="message" id="link-copied">
        Ссылка скопирована
    </div>
    <div class="message message--error" id="change-rules-fail-message">
        <svg width="20" height="20" aria-hidden="true" class="icon-warning">
            <use xlink:href="#warning"></use>
        </svg>
        Во время настроек условий<br> возникли проблемы, повторите<br> попытку позже
    </div>

    <div class="message" id="lot-saved-message">
        <div class="message__lot-saved">
            <img src="img/lots/1.jpg" alt="" class="message__lot-saved-image">
            <div class="message__lot-saved-content">
                <h5 class="message__lot-saved-title">
                    Лот добавлен в избранное
                </h5>
                <div class="message__lot-saved-text">
                    Здание нежилое, доля в праве 21/100, .н. 58:05: 0320103:9 28, общ. площадь 1204,1...
                </div>
            </div>

        </div>
    </div>
</div>