<div class="modals">
    <div class="modals__modal" id="cancel-subscription">
        <div class="modals__modal-content">
            <h3 class="modals__heading">
                Отмена подписки
            </h3>
            <div class="modals__message">
                Вы действительно хотите отменить<br>
                подписку на нашем сервисе?
            </div>
            <div class="modals__buttons">
                <a href="#" class="modal__btn">
                    Отписаться
                </a>
                <a href="#cancel-subscription" class="modal__btn modal__btn--hollow js-modal-close">
                    Отмена
                </a>
            </div>
        </div>
    </div>
    <div class="modals__modal" id="remove-card">
        <div class="modals__modal-content">
            <h3 class="modals__heading">
                Удаленние данных карты
            </h3>
            <div class="modals__message">
                Вы действительно хотите удалить данные вашей карты?
            </div>
            <div class="modals__card-number">
                Tinkoff Black 5321 **** **** 3883
            </div>
            <div class="modals__buttons">
                <a href="#" class="modal__btn" id="remove-card-btn">
                    Удалить
                </a>
                <a href="#cancel-subscription" class="modal__btn modal__btn--hollow js-modal-close">
                    Отмена
                </a>
            </div>
        </div>
    </div>
    <div class="modals__modal" id="register-confirmation">
        <div class="modals__modal-content">
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <div class="modals__message">
                По адресу
                <a href="mailto:info@markweber.ru">info@markweber.ru</a>
                отправлена ссылка для подтверждения электронной почты
            </div>
            <a href="#" class="modal__btn modal__btn--fullwidth">
                Вернуться на главную
            </a>
        </div>
    </div>
    <div class="modals__modal" id="write-org">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <h3 class="modals__heading">
                Напишите организатору
            </h3>
            <div class="modals__message">
                Вы можете связаться с организатором торгов<br>
                и предложить свою цену
            </div>
            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <label for="price" class="modals__form-label">
                        Ваша цена
                    </label>
                    <input type="tel" name="price" class="modals__form-input js-numeric-input" id="price" required>
                </div>
                <div class="modals__form-row">
                    <label for="org-message" class="modals__form-label">
                        Текст сообщения
                    </label>
                    <textarea name="message" id="org-message" class="modals__form-input"></textarea>
                </div>
                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Отправить
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="modals__modal" id="tell-your-price">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <h3 class="modals__heading">
                Предложить свою цену
            </h3>
            <div class="modals__message">
                Вы можете связаться с организатором торгов<br>
                и предложить свою цену
            </div>
            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <label for="your-price" class="modals__form-label">
                        Ваша цена
                    </label>
                    <input type="tel" name="price" class="modals__form-input js-numeric-input" id="your-price" required>
                </div>
                <div class="modals__form-row">
                    <label for="your-price-message" class="modals__form-label">
                        Текст сообщения
                    </label>
                    <textarea name="message" id="your-price-message" class="modals__form-input"></textarea>
                </div>
                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Отправить
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="modals__modal" id="buy-lot">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <h3 class="modals__heading">
                Мы выкупим интересующее<br>
                вас имущество!
            </h3>
            <div class="modals__lot-info">
                <div class="modals__lot-info-image-container">
                    <img src="img/lots/1.jpg" alt="" class="modals__lot-info-image">
                </div>
                <div class="modals__lot-info-content">
                    <h4 class="modals__lot-info-title">
                        Здание нежилое, доля в праве 21/100, .н. 58:05: 0320103:9 28, общ. площадь 1204,1 кв. м...
                    </h4>
                    <div class="modals__lot-info-number">
                        № лота: 5462819210
                    </div>
                </div>
            </div>
            <div class="modals__lot-price">
                <p>
                    Выкупите этот лот через агента!<br>
                    Стоимость участия в торгах
                </p>

                <span class="modals__lot-price-amount">
                    8 000 ₽
                </span>
            </div>

            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Участвовать через агента</button>
                </div>
                <div class="modals__form-row">
                    <label class="modal__checkbox">
                        <input name="privacy" value="Y" type="checkbox" class="modal__checkbox-input" required>
                        <span class="modal__checkbox-mark">
                            <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="modal__checkbox-text">
                            Я принимаю условия
                            <a href="#">Пользовательского соглашения</a>
                        </span>

                    </label>
                </div>

            </form>


        </div>
    </div>
    <div class="modals__modal" id="signin">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <h3 class="modals__heading">
                Вход
            </h3>
            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <label for="login" class="modals__form-label">
                        Телефон или email
                    </label>
                    <input type="text" name="login" class="modals__form-input" id="login" required>
                </div>
                <div class="modals__form-row" id="password-wrapper">
                    <label for="password" class="modals__form-label">
                        Пароль
                    </label>
                    <div class="modals__form-input-password-wrapper js-show-password">
                        <input type="password" name="login" class="modals__form-input" id="password"
                            data-parsley-errors-container="#password-wrapper" required>
                        <button class="modals__form-input-show-password-btn" type="button">
                            <svg width="12" height="12" aria-hidden="true" class="icon-show-password">
                                <use xlink:href="#show-password"></use>
                            </svg>
                        </button>
                    </div>

                </div>

                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Войти
                    </button>
                </div>
            </form>
            <div class="modals__sign-in-with">
                <h5 class="modals__sign-in-with-title">
                    Войти с помощью
                </h5>
                <div class="modals__sign-in-with-links">
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/google.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/facebook.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/vk.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/twitter.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                </div>
            </div>
            <div class="modals__not-registered">
                <div class="modals__not-registered-text">
                    Еще не зарегистрированы?
                    <a href="#signup" class="js-modal-open">
                        Регистрация
                    </a>
                </div>
                <a href="#reset-password" class="modals__remember-password js-modal-open">
                    Забыли пароль?
                </a>
            </div>
        </div>
    </div>
    <div class="modals__modal" id="signup">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <h3 class="modals__heading">
                Регистрация
            </h3>
            <form action="/" method="POST" class="modals__form" data-need-validation id="signup-modal-form">
                <div class="modals__form-row">
                    <label for="login-register" class="modals__form-label">
                        Телефон или email
                    </label>
                    <input type="text" name="login-registration" class="modals__form-input" id="login-register"
                        required>
                    <span class="modals__form-remark">
                        Данные будут использоваться в качестве логина
                    </span>
                </div>
                <div class="modals__form-row" id="signup-password-wrapper">
                    <label for="signup-password" class="modals__form-label">
                        Пароль
                    </label>
                    <div class="modals__form-input-password-wrapper js-show-password">
                        <input type="password" name="password" class="modals__form-input" id="signup-password"
                            data-parsley-errors-container="#signup-password-wrapper" required>
                        <button class="modals__form-input-show-password-btn" type="button">
                            <svg width="12" height="12" aria-hidden="true" class="icon-show-password">
                                <use xlink:href="#show-password"></use>
                            </svg>
                        </button>
                    </div>

                </div>
                <div class="modals__form-row" id="signup-password-confirmation-wrapper">
                    <label for="signup-password-confirmation" class="modals__form-label">
                        Повторите пароль
                    </label>
                    <div class="modals__form-input-password-wrapper js-show-password">
                        <input type="password" name="password-confirmation" class="modals__form-input"
                            id="signup-password-confirmation" data-parsley-equalto="#signup-password" required
                            data-parsley-errors-container="#signup-password-confirmation-wrapper">
                        <button class="modals__form-input-show-password-btn" type="button">
                            <svg width="12" height="12" aria-hidden="true" class="icon-show-password">
                                <use xlink:href="#show-password"></use>
                            </svg>
                        </button>
                    </div>

                </div>

                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Зарегистрироваться
                    </button>
                </div>
                <div class="modals__form-row">
                    <label class="modal__checkbox">
                        <input name="privacy" value="Y" type="checkbox" class="modal__checkbox-input" required>
                        <span class="modal__checkbox-mark">
                            <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="modal__checkbox-text">
                            Я принимаю условия
                            <a href="#">Пользовательского соглашения</a>
                        </span>

                    </label>
                </div>
            </form>
            <div class="modals__sign-in-with">
                <h5 class="modals__sign-in-with-title">
                    Зарегистрироваться с помощью
                </h5>
                <div class="modals__sign-in-with-links">
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/google.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/facebook.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/vk.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/twitter.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                </div>
            </div>
            <div class="modals__not-registered">
                <div class="modals__not-registered-text">
                    У вас есть учетная запись?
                    <a href="#signin" class="js-modal-open">
                        Войти
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="modals__modal" id="reset-password">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <h3 class="modals__heading">
                Восстановление пароля
            </h3>
            <div class="modals__message">
                Для восстановления пароля введите ваш e-mail. На почту придёт сообщение c ссылкой для восстановления.
            </div>
            <form action="/" method="POST" class="modals__form js-reset-password-test-form" data-need-validation>
                <div class="modals__form-row">
                    <label for="reset-email" class="modals__form-label">
                        Email
                    </label>
                    <input type="email" name="email" class="modals__form-input" id="reset-email" required>
                </div>
                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Сбросить пароль
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="modals__modal" id="reset-password-success">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <div class="modals__message">
                Мы отправили письмо на почту, чтобы вы смогли восстановить пароль от аккаунта
            </div>
            <a href="#" class="modal__btn modal__btn--fullwidth">
                Перейти на главную
            </a>

        </div>
    </div>
    <div class="modals__modal" id="create-lot">
        <div class="modals__modal-content modals__modal-content--wide">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>

            <h3 class="modals__heading modals__heading--text-align">
                Добавление нового лота
            </h3>
            <form action="/" method="POST" class="user__change-form user__change-form--small-padding"
                data-need-validation>
                <div class="user__change-form-group">
                    <h4 class="user__change-form-heading">
                        Параметры торгов
                    </h4>
                    <div class="user__change-form-row">
                        <label for="trade-type" class="user__change-form-label">
                            Тип торга
                        </label>
                        <div class="user__change-form-input-wrapper" id="trade-type-error">
                            <select name="trade-type" id="trade-type"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#trade-type-error"
                                data-parsley-errors-container="#trade-type-error" data-trigger="change">
                                <option value="">Тип торга</option>
                                <option value="1">Тип 1</option>
                                <option value="2">Тип 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="application-time" class="user__change-form-label">
                            Начало и конец приема заявок
                        </label>
                        <div class="user__change-form-input-wrapper" id="application-time-errors">
                            <div class="user__change-form-date">
                                <input type="text" name="application-time" id="application-time"
                                    class="user__change-form-input js-datepicker" data-range="true"
                                    data-multiple-dates-separator=" - "
                                    data-parsley-errors-container="#application-time-errors" readonly required>
                            </div>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="trade-end" class="user__change-form-label">
                            Конец торгов
                        </label>
                        <div class="user__change-form-input-wrapper" id="trade-end-errors">
                            <div class="user__change-form-date">
                                <input type="text" name="trade-end" id="trade-end"
                                    class="user__change-form-input js-datepicker"
                                    data-parsley-errors-container="#trade-end-errors" readonly required>
                            </div>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="trade-pub" class="user__change-form-label">
                            Публикация лота
                        </label>
                        <div class="user__change-form-input-wrapper" id="trade-pub-errors">
                            <div class="user__change-form-date">
                                <input type="text" name="trade-pub" id="trade-pub"
                                    class="user__change-form-input js-datepicker"
                                    data-parsley-errors-container="#trade-pub-errors" readonly required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user__change-form-group">
                    <h4 class="user__change-form-heading">
                        Описание лота
                    </h4>
                    <div class="user__change-form-row">
                        <label for="lot-type" class="user__change-form-label">
                            Тип лота
                        </label>
                        <div class="user__change-form-input-wrapper" id="lot-type-error">
                            <select name="lot-type" id="lot-type"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#lot-type-error"
                                data-parsley-errors-container="#lot-type-error" data-trigger="change">
                                <option value="">Тип лота</option>
                                <option value="1">Тип 1</option>
                                <option value="2">Тип 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-heading" class="user__change-form-label">
                            Заголовок лота
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <input type="text" name="lot-heading" id="lot-heading" class="user__change-form-input"
                                required placeholder="Заголовок лота">
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-desc" class="user__change-form-label">
                            Описание лота
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <textarea name="lot-desc" id="lot-desc" class="user__change-form-input" required
                                placeholder="Описание лота"></textarea>

                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label class="user__change-form-label">
                            Фотографии лота
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <div class="user__change-form-file-upload js-file-upload">
                                <div class="user__change-form-file-upload-dropzone"
                                    data-upload-text="Загрузить изображение">
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file1" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file2" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file3" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file4" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file5" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file6" accept=".jpg, .jpeg, .png" />
                                    </label>
                                </div>
                                <div class="user__change-form-file-upload-files"></div>
                            </div>

                        </div>

                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-category" class="user__change-form-label">
                            Категория лота
                        </label>
                        <div class="user__change-form-input-wrapper" id="lot-category-error">
                            <select name="lot-category" id="lot-category"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#lot-category-error"
                                data-parsley-errors-container="#lot-category-error" data-trigger="change">
                                <option value="">Категория лота</option>
                                <option value="1">Категория 1</option>
                                <option value="2">Категория 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-subcategory" class="user__change-form-label">
                            Подкатегория лота
                        </label>
                        <div class="user__change-form-input-wrapper" id="lot-subcategory-error">
                            <select name="lot-subcategory" id="lot-subcategory"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#lot-subcategory-error"
                                data-parsley-errors-container="#lot-subcategory-error" data-trigger="change">
                                <option value="">Подкатегория лота</option>
                                <option value="1">Подкатегория 1</option>
                                <option value="2">Подкатегория 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="user__change-form-group">
                    <h4 class="user__change-form-heading">
                        Цена
                    </h4>
                    <div class="user__change-form-row">
                        <label for="lot-price" class="user__change-form-label">
                            Начальная цена
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <input type="tel" name="lot-price" id="lot-price"
                                class="user__change-form-input js-numeric-input" required placeholder="Начальная цена">
                        </div>
                    </div>

                    <div class="user__change-form-row">
                        <label for="lot-step" class="user__change-form-label">
                            Тип шага торга
                        </label>
                        <div class="user__change-form-input-wrapper" id="lot-step-error">
                            <select name="lot-step" id="lot-step"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#lot-step-error"
                                data-parsley-errors-container="#lot-step-error" data-trigger="change">
                                <option value="">Тип шага торга</option>
                                <option value="1">Тип 1</option>
                                <option value="2">Тип 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-garantee" class="user__change-form-label">
                            Задаток для участия
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <input type="tel" name="lot-price" id="lot-garantee"
                                class="user__change-form-input js-numeric-input" required
                                placeholder="Задаток для участия">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn user__change-form-submit">
                    Добавить
                </button>
            </form>
        </div>
    </div>
    <div class="modals__modal" id="subscribe">
        <div class="modals__modal-content modals__modal-content--ultrawide">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <h3 class="modals__heading">
                Оформление подписки
            </h3>
            <div class="modals__choose-your-plan">
                <div class="modals__choose-your-plan-tab-btns">
                    <a href="#" class="modals__choose-your-plan-tab-btn js-tabs-nav">
                        Ежемесечно
                    </a>
                    <a href="#" class="modals__choose-your-plan-tab-btn js-tabs-nav">
                        Ежегодно
                        <span class="modals__choose-your-plan-tab-btn-remark">
                            3 месяца бесплатно
                        </span>
                    </a>
                </div>


                <div class="modals__choose-your-plan-intro">
                    <h3 class="modals__choose-your-plan-heading">
                        Выберите план
                    </h3>
                    <div class="modals__choose-your-plan-text">
                        <p>
                            Выберите наиболее подходящий вам план
                        </p>
                    </div>
                </div>
                <div class="modals__choose-your-plan-tabs">
                    <div class="modals__choose-your-plan-tab js-tabs-item">
                        <div class="modals__choose-your-plan-items">
                            <div class="modals__choose-your-plan-item">
                                <div class="modals__choose-your-plan-item-header">
                                    <img src="img/dm.svg" alt="" class="modals__choose-your-plan-item-image">
                                    Тариф «Турбо»
                                </div>
                                <div class="modals__choose-your-plan-item-content">
                                    <div class="modals__choose-your-plan-item-price">
                                        250 ₽/мес
                                    </div>
                                    <div class="modals__choose-your-plan-item-text">
                                        Сэкономьте 3 200 ₽ с подпиской на год
                                    </div>
                                    <ul class="modals__choose-your-plan-item-advantages-list">
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Просмотр информации о лоте
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Добавление в избранное
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Запрос организатору
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Поисковые подборки
                                        </li>
                                    </ul>
                                    <a href="#" class="btn modals__choose-your-plan-item-btn">
                                        Выбрать план
                                    </a>

                                </div>
                            </div>
                            <div class="modals__choose-your-plan-item">
                                <div class="modals__choose-your-plan-item-header">
                                    <img src="img/case.svg" alt="" class="modals__choose-your-plan-item-image">
                                    Тариф «Премиум»
                                </div>
                                <div class="modals__choose-your-plan-item-content">
                                    <div class="modals__choose-your-plan-item-price">
                                        500 ₽/мес
                                    </div>
                                    <div class="modals__choose-your-plan-item-text">
                                        Сэкономьте 3 200 ₽ с подпиской на год
                                    </div>
                                    <ul class="modals__choose-your-plan-item-advantages-list">
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Просмотр информации о лоте
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Добавление в избранное
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Запрос организатору
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Поисковые подборки
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            История просмотров
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Скидка на покупку через агента
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Ссылка на источник торгов
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Уведомление об изменении избранного лота
                                        </li>
                                    </ul>
                                    <a href="#" class="btn modals__choose-your-plan-item-btn">
                                        Выбрать план
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modals__choose-your-plan-tab js-tabs-item">
                        <div class="modals__choose-your-plan-items">
                            <div class="modals__choose-your-plan-item">
                                <div class="modals__choose-your-plan-item-header">
                                    <img src="img/dm.svg" alt="" class="modals__choose-your-plan-item-image">
                                    Тариф «Турбо»
                                </div>
                                <div class="modals__choose-your-plan-item-content">
                                    <div class="modals__choose-your-plan-item-price">
                                        1000 ₽/год
                                    </div>
                                    <div class="modals__choose-your-plan-item-text">
                                        Сэкономьте 3 200 ₽ с подпиской на год
                                    </div>
                                    <ul class="modals__choose-your-plan-item-advantages-list">
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Просмотр информации о лоте
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Добавление в избранное
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Запрос организатору
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Поисковые подборки
                                        </li>
                                    </ul>
                                    <a href="#" class="btn modals__choose-your-plan-item-btn">
                                        Выбрать план
                                    </a>

                                </div>
                            </div>
                            <div class="modals__choose-your-plan-item">
                                <div class="modals__choose-your-plan-item-header">
                                    <img src="img/case.svg" alt="" class="modals__choose-your-plan-item-image">
                                    Тариф «Премиум»
                                </div>
                                <div class="modals__choose-your-plan-item-content">
                                    <div class="modals__choose-your-plan-item-price">
                                        1500 ₽/год
                                    </div>
                                    <div class="modals__choose-your-plan-item-text">
                                        Сэкономьте 3 200 ₽ с подпиской на год
                                    </div>
                                    <ul class="modals__choose-your-plan-item-advantages-list">
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Просмотр информации о лоте
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Добавление в избранное
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Запрос организатору
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Поисковые подборки
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            История просмотров
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Скидка на покупку через агента
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Ссылка на источник торгов
                                        </li>
                                        <li class="modals__choose-your-plan-item-advantages-list-item">
                                            <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                                                <use xlink:href="#plus"></use>
                                            </svg>
                                            Уведомление об изменении избранного лота
                                        </li>
                                    </ul>
                                    <a href="#" class="btn modals__choose-your-plan-item-btn">
                                        Выбрать план
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modals__modal" id="select-payment">
        <div class="modals__modal-content modals__modal-content--ultrawide">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <h3 class="modals__heading">
                Тариф «Турбо»<br>
                Подписка на 1 год за 2500 ₽
            </h3>
            <div class="modals__heading-remark">
                Продление подписки можно отключить в любое время
            </div>
            <form method="POST" action="/" class="modals__select-payment">
                <h4 class="modals__select-payment-heading">
                    Выберите способ оплаты
                </h4>
                <div class="modals__select-payment-cards">
                    <label class="modals__select-payment-cards-checkbox">
                        <input type="radio" name="card" value="tinkoff"
                            class="modals__select-payment-cards-checkbox-input">
                        <span class="user__cards-card">
                            <img src="img/cards/1.png" alt="" class="user__cards-card-image">
                            <span class="user__cards-card-content">
                                <span class="user__cards-card-info">
                                    <span class="user__cards-card-title">
                                        Tinkoff Black
                                    </span>
                                    <span class="user__cards-card-number">
                                        5321 **** **** 3883
                                    </span>
                                </span>

                            </span>
                        </span>

                    </label>
                    <label class="modals__select-payment-cards-checkbox">
                        <input type="radio" name="card" value="alfa"
                            class="modals__select-payment-cards-checkbox-input">
                        <span class="user__cards-card">
                            <img src="img/cards/2.png" alt="" class="user__cards-card-image">
                            <span class="user__cards-card-content">
                                <span class="user__cards-card-info">
                                    <span class="user__cards-card-title">
                                        Alfa Bank
                                    </span>
                                    <span class="user__cards-card-number">
                                        5321 **** **** 3883
                                    </span>
                                </span>

                            </span>
                        </span>

                    </label>

                    <a href="#" class="user__cards-add-card">
                        <div class="user__cards-add-card-icon">
                            <svg width="26" height="26" aria-hidden="true" class="icon-plus-in-circle">
                                <use xlink:href="#plus-in-circle"></use>
                            </svg>
                        </div>
                        <div class="user__cards-add-card-content">
                            Добавить карту
                        </div>
                    </a>
                </div>
                <button type="submit" class="btn modals__select-payment-submit">
                    Оформить подписку
                </button>
            </form>

        </div>
    </div>
</div>