<div class="modals">
    <div class="modals__modal" id="cancel-subscription">
        <div class="modals__modal-content">
            <h3 class="modals__heading">
                Отмена подписки
            </h3>
            <div class="modals__message">
                Вы действительно хотите отменить<br> подписку на нашем сервисе?
            </div>
            <div class="modals__buttons">
                <a href="#" class="modal__btn">
                    Отписаться
                </a>
                <a href="#cancel-subscription" class="modal__btn modal__btn--hollow js-modal-close">
                    Отмена
                </a>
            </div>
        </div>
    </div>
    <div class="modals__modal" id="remove-card">
        <div class="modals__modal-content">
            <h3 class="modals__heading">
                Удаленние данных карты
            </h3>
            <div class="modals__message">
                Вы действительно хотите удалить данные вашей карты?
            </div>
            <div class="modals__card-number">
                Tinkoff Black 5321 **** **** 3883
            </div>
            <div class="modals__buttons">
                <a href="#" class="modal__btn" id="remove-card-btn">
                    Удалить
                </a>
                <a href="#cancel-subscription" class="modal__btn modal__btn--hollow js-modal-close">
                    Отмена
                </a>
            </div>
        </div>
    </div>
    <div class="modals__modal" id="write-org">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <h3 class="modals__heading">
                Напишите организатору
            </h3>
            <div class="modals__message">
                Вы можете связаться с организатором торгов<br> и предложить свою цену
            </div>
            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <label for="price" class="modals__form-label">
                        Ваша цена
                    </label>
                    <input type="tel" name="price" class="modals__form-input js-numeric-input" id="price" required>
                </div>
                <div class="modals__form-row">
                    <label for="org-message" class="modals__form-label">
                        Текст сообщения
                    </label>
                    <textarea name="message" id="org-message" class="modals__form-input"></textarea>
                </div>
                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Отправить
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="modals__modal" id="tell-your-price">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <h3 class="modals__heading">
                Предложить свою цену
            </h3>
            <div class="modals__message">
                Вы можете связаться с организатором торгов<br> и предложить свою цену
            </div>
            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <label for="your-price" class="modals__form-label">
                        Ваша цена
                    </label>
                    <input type="tel" name="price" class="modals__form-input js-numeric-input" id="your-price" required>
                </div>
                <div class="modals__form-row">
                    <label for="your-price-message" class="modals__form-label">
                        Текст сообщения
                    </label>
                    <textarea name="message" id="your-price-message" class="modals__form-input"></textarea>
                </div>
                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Отправить
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="modals__modal" id="buy-lot">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <h3 class="modals__heading">
                Мы выкупим интересующее<br> вас имущество!
            </h3>
            <div class="modals__lot-info">
                <div class="modals__lot-info-image-container">
                    <img src="img/lots/1.jpg" alt="" class="modals__lot-info-image">
                </div>
                <div class="modals__lot-info-content">
                    <h4 class="modals__lot-info-title">
                        Здание нежилое, доля в праве 21/100, .н. 58:05: 0320103:9 28, общ. площадь 1204,1 кв. м./
                        земельный участок, доля в праве
                    </h4>
                    <div class="modals__lot-info-number">
                        № лота: 5462819210
                    </div>
                </div>
            </div>
            <div class="modals__lot-price">
                <p>
                    Выкупите этот лот через агента!
                </p>
                <p>
                    Стоимость участия в торгах
                </p>
                <span class="modals__lot-price-amount">
                    8 000 ₽
                </span>
            </div>

            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth"> Участвовать через агента</button>
                </div>
                <div class="modals__form-row">
                    <label class="modal__checkbox">
                        <input name="privacy" value="Y" type="checkbox" class="modal__checkbox-input" required>
                        <span class="modal__checkbox-mark">
                            <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="modal__checkbox-text">
                            Я принимаю условия <a href="#">Пользовательского соглашения</a>
                        </span>

                    </label>
                </div>

            </form>




        </div>
    </div>
    <div class="modals__modal" id="signin">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <h3 class="modals__heading">
                Вход
            </h3>
            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <label for="login" class="modals__form-label">
                        Телефон или email
                    </label>
                    <input type="text" name="login" class="modals__form-input" id="login" required>
                </div>
                <div class="modals__form-row" id="password-wrapper">
                    <label for="password" class="modals__form-label">
                        Пароль
                    </label>
                    <div class="modals__form-input-password-wrapper js-show-password">
                        <input type="password" name="login" class="modals__form-input" id="password"
                            data-parsley-errors-container="#password-wrapper" required>
                        <button class="modals__form-input-show-password-btn" type="button">
                            <svg width="12" height="12" aria-hidden="true" class="icon-show-password">
                                <use xlink:href="#show-password"></use>
                            </svg>
                        </button>
                    </div>

                </div>

                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Войти
                    </button>
                </div>
            </form>
            <div class="modals__sign-in-with">
                <h5 class="modals__sign-in-with-title">
                    Войти с помощью
                </h5>
                <div class="modals__sign-in-with-links">
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/google.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/facebook.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/vk.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/twitter.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                </div>
            </div>
            <div class="modals__not-registered">
                <div class="modals__not-registered-text">
                    Еще не зарегистрированы? <a href="#signup" class="js-modal-open">
                        Регистрация
                    </a>
                </div>
                <a href="#reset-password" class="modals__remember-password js-modal-open">
                    Забыли пароль?
                </a>
            </div>
        </div>
    </div>
    <div class="modals__modal" id="signup">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <h3 class="modals__heading">
                Регистрация
            </h3>
            <form action="/" method="POST" class="modals__form" data-need-validation>
                <div class="modals__form-row">
                    <label for="login-register" class="modals__form-label">
                        Телефон или email
                    </label>
                    <input type="text" name="login-registration" class="modals__form-input" id="login-register"
                        required>
                    <span class="modals__form-remark">
                        Данные будут использоваться в качестве логина
                    </span>
                </div>
                <div class="modals__form-row" id="signup-password-wrapper">
                    <label for="signup-password" class="modals__form-label">
                        Пароль
                    </label>
                    <div class="modals__form-input-password-wrapper js-show-password">
                        <input type="password" name="password" class="modals__form-input" id="signup-password"
                            data-parsley-errors-container="#signup-password-wrapper" required>
                        <button class="modals__form-input-show-password-btn" type="button">
                            <svg width="12" height="12" aria-hidden="true" class="icon-show-password">
                                <use xlink:href="#show-password"></use>
                            </svg>
                        </button>
                    </div>

                </div>
                <div class="modals__form-row" id="signup-password-confirmation-wrapper">
                    <label for="signup-password-confirmation" class="modals__form-label">
                        Повторите пароль
                    </label>
                    <div class="modals__form-input-password-wrapper js-show-password">
                        <input type="password" name="password-confirmation" class="modals__form-input"
                            id="signup-password-confirmation" data-parsley-equalto="#signup-password" required
                            data-parsley-errors-container="#signup-password-confirmation-wrapper">
                        <button class="modals__form-input-show-password-btn" type="button">
                            <svg width="12" height="12" aria-hidden="true" class="icon-show-password">
                                <use xlink:href="#show-password"></use>
                            </svg>
                        </button>
                    </div>

                </div>

                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Зарегистрироваться
                    </button>
                </div>
                <div class="modals__form-row">
                    <label class="modal__checkbox">
                        <input name="privacy" value="Y" type="checkbox" class="modal__checkbox-input" required>
                        <span class="modal__checkbox-mark">
                            <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="modal__checkbox-text">
                            Я принимаю условия <a href="#">Пользовательского соглашения</a>
                        </span>

                    </label>
                </div>
            </form>
            <div class="modals__sign-in-with">
                <h5 class="modals__sign-in-with-title">
                    Зарегистрироваться с помощью
                </h5>
                <div class="modals__sign-in-with-links">
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/google.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/facebook.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/vk.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                    <a href="#" class="modals__sign-in-with-link">
                        <img src="img/oauth/twitter.svg" alt="" class="modals__sign-in-with-link-image">
                    </a>
                </div>
            </div>
            <div class="modals__not-registered">
                <div class="modals__not-registered-text">
                    У вас есть учетная запись? <a href="#signin" class="js-modal-open">
                        Войти
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="modals__modal" id="reset-password">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <img src="img/logo-green.svg" alt="" class="modals__logo">
            <h3 class="modals__heading">
                Восстановление пароля
            </h3>
            <div class="modals__message">
                Для восстановления пароля введите ваш e-mail. На почту придёт сообщение c ссылкой для восстановления.
            </div>
            <form action="/" method="POST" class="modals__form js-reset-password-test-form" data-need-validation>
                <div class="modals__form-row">
                    <label for="reset-email" class="modals__form-label">
                        Email
                    </label>
                    <input type="email" name="email" class="modals__form-input" id="reset-email" required>
                </div>
                <div class="modals__form-row">
                    <button type="submit" class="modal__btn modal__btn--fullwidth">
                        Сбросить пароль
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="modals__modal" id="reset-password-success">
        <div class="modals__modal-content">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>

            <div class="modals__message">
                Мы отправили письмо на почту, чтобы вы смогли восстановить пароль от аккаунта
            </div>
            <a href="#" class="modal__btn modal__btn--fullwidth">
                Перейти на главную
            </a>

        </div>
    </div>
    <div class="modals__modal" id="create-lot">
        <div class="modals__modal-content modals__modal-content--wide">
            <button class="modals__modal-close-btn js-modal-close">
                <svg width="12" height="12" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>

            <h3 class="modals__heading modals__heading--text-align">
                Добавление нового лота
            </h3>
            <form action="/" method="POST" class="user__change-form user__change-form--small-padding"
                data-need-validation>
                <div class="user__change-form-group">
                    <h4 class="user__change-form-heading">
                        Параметры торгов
                    </h4>
                    <div class="user__change-form-row">
                        <label for="trade-type" class="user__change-form-label">
                            Тип торга
                        </label>
                        <div class="user__change-form-input-wrapper" id="trade-type-error">
                            <select name="trade-type" id="trade-type"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#trade-type-error"
                                data-parsley-errors-container="#trade-type-error" data-trigger="change">
                                <option value="">Тип торга</option>
                                <option value="1">Тип 1</option>
                                <option value="2">Тип 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="application-time" class="user__change-form-label">
                            Начало и конец приема заявок
                        </label>
                        <div class="user__change-form-input-wrapper" id="application-time-errors">
                            <div class="user__change-form-date">
                                <input type="text" name="application-time" id="application-time"
                                    class="user__change-form-input js-datepicker" data-range="true"
                                    data-multiple-dates-separator=" - "
                                    data-parsley-errors-container="#application-time-errors" readonly required>
                            </div>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="trade-end" class="user__change-form-label">
                            Конец торгов
                        </label>
                        <div class="user__change-form-input-wrapper" id="trade-end-errors">
                            <div class="user__change-form-date">
                                <input type="text" name="trade-end" id="trade-end"
                                    class="user__change-form-input js-datepicker"
                                    data-parsley-errors-container="#trade-end-errors" readonly required>
                            </div>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="trade-pub" class="user__change-form-label">
                            Публикация лота
                        </label>
                        <div class="user__change-form-input-wrapper" id="trade-pub-errors">
                            <div class="user__change-form-date">
                                <input type="text" name="trade-pub" id="trade-pub"
                                    class="user__change-form-input js-datepicker"
                                    data-parsley-errors-container="#trade-pub-errors" readonly required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user__change-form-group">
                    <h4 class="user__change-form-heading">
                        Описание лота
                    </h4>
                    <div class="user__change-form-row">
                        <label for="lot-type" class="user__change-form-label">
                            Тип лота
                        </label>
                        <div class="user__change-form-input-wrapper" id="lot-type-error">
                            <select name="lot-type" id="lot-type"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#lot-type-error"
                                data-parsley-errors-container="#lot-type-error" data-trigger="change">
                                <option value="">Тип лота</option>
                                <option value="1">Тип 1</option>
                                <option value="2">Тип 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-heading" class="user__change-form-label">
                            Заголовок лота
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <input type="text" name="lot-heading" id="lot-heading" class="user__change-form-input"
                                required placeholder="Заголовок лота">
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-desc" class="user__change-form-label">
                            Описание лота
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <textarea name="lot-desc" id="lot-desc" class="user__change-form-input" required
                                placeholder="Описание лота"></textarea>

                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label class="user__change-form-label">
                            Фотографии лота
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <div class="user__change-form-file-upload js-file-upload">
                                <div class="user__change-form-file-upload-dropzone"
                                    data-upload-text="Загрузить изображение">
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file1" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file2" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file3" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file4" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file5" accept=".jpg, .jpeg, .png" />
                                    </label>
                                    <label class="user__change-form-file-upload-label">
                                        <input type="file" name="file6" accept=".jpg, .jpeg, .png" />
                                    </label>
                                </div>
                                <div class="user__change-form-file-upload-files">

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-category" class="user__change-form-label">
                            Категория лота
                        </label>
                        <div class="user__change-form-input-wrapper" id="lot-category-error">
                            <select name="lot-category" id="lot-category"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#lot-category-error"
                                data-parsley-errors-container="#lot-category-error" data-trigger="change">
                                <option value="">Категория лота</option>
                                <option value="1">Категория 1</option>
                                <option value="2">Категория 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-subcategory" class="user__change-form-label">
                            Подкатегория лота
                        </label>
                        <div class="user__change-form-input-wrapper" id="lot-subcategory-error">
                            <select name="lot-subcategory" id="lot-subcategory"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#lot-subcategory-error"
                                data-parsley-errors-container="#lot-subcategory-error" data-trigger="change">
                                <option value="">Подкатегория лота</option>
                                <option value="1">Подкатегория 1</option>
                                <option value="2">Подкатегория 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="user__change-form-group">
                    <h4 class="user__change-form-heading">
                        Цена
                    </h4>
                    <div class="user__change-form-row">
                        <label for="lot-price" class="user__change-form-label">
                            Начальная цена
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <input type="tel" name="lot-price" id="lot-price" class="user__change-form-input js-numeric-input"
                                required placeholder="Начальная цена">
                        </div>
                    </div>

                    <div class="user__change-form-row">
                        <label for="lot-step" class="user__change-form-label">
                            Тип шага торга
                        </label>
                        <div class="user__change-form-input-wrapper" id="lot-step-error">
                            <select name="lot-step" id="lot-step"
                                class="user__change-form-select js-change-detail-select" required
                                data-parsley-class-handler="#lot-step-error"
                                data-parsley-errors-container="#lot-step-error" data-trigger="change">
                                <option value="">Тип шага торга</option>
                                <option value="1">Тип 1</option>
                                <option value="2">Тип 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="user__change-form-row">
                        <label for="lot-garantee" class="user__change-form-label">
                            Задаток для участия
                        </label>
                        <div class="user__change-form-input-wrapper">
                            <input type="tel" name="lot-price" id="lot-garantee" class="user__change-form-input js-numeric-input"
                                required placeholder="Задаток для участия">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn user__change-form-submit">
                    Добавить
                </button>
            </form>
        </div>
    </div>
</div>