<section class="news-detail">
    <div class="container">
        <div class="inner-container">
            <div class="news-detail__layout">
                <div class="news-detail__sidebar">
                    <div class="news-detail__tags">
                        <a href="#" class="news-detail__tag">
                            Статистика и аналитика
                        </a>
                    </div>
                    <div class="news-detail__date">
                        01.06.2020 • 10 мин
                    </div>

                    <div class="news-detail__social">
                        <h4 class="news-detail__social-heading">
                            Поделиться
                        </h4>
                        <div class="news-detail__social-links">
                            <a href="#" class="news-detail__social-link">
                                <svg width="18" height="18" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                            <a href="#" class="news-detail__social-link">
                                <svg width="18" height="18" aria-hidden="true" class="icon-vk">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                            <a href="#" class="news-detail__social-link">
                                <svg width="18" height="18" aria-hidden="true" class="icon-telegram">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                            <a href="#" class="news-detail__social-link">
                                <svg width="18" height="18" aria-hidden="true" class="icon-twitter">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="news-detail__main">
                    <div class="news-detail__content">
                        <p>
                            Росимущество в рамках компетенции обеспечило формирование корпоративной структуры управления
                            Почты России в соответствии с законодательством Российской Федерации, с учетом передовых
                            практик в области корпоративного управления.
                        </p>
                        <div class="news-detail__gallery js-news-gallery">
                            <div class="news-detail__gallery-main">
                                <button class="news-detail__gallery-arrow news-detail__gallery-arrow--prev">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="#" class="news-detail__gallery-card">
                                                <img src="img/article/gallery-image.jpg" alt=""
                                                    class="news-detail__gallery-card-image">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="news-detail__gallery-card">
                                                <img src="img/article/gallery-image.jpg" alt=""
                                                    class="news-detail__gallery-card-image">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="news-detail__gallery-card">
                                                <img src="img/article/gallery-image.jpg" alt=""
                                                    class="news-detail__gallery-card-image">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <button class="news-detail__gallery-arrow news-detail__gallery-arrow--next">
                                    <svg width="18" height="18" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="news-detail__gallery-thumbs">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="news-detail__gallery-thumbs-card">
                                                <img src="img/article/gallery-image.jpg" alt=""
                                                    class="news-detail__gallery-thumbs-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="news-detail__gallery-thumbs-card">
                                                <img src="img/article/gallery-image.jpg" alt=""
                                                    class="news-detail__gallery-thumbs-card-image">
                                                <svg width="18" height="18" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="news-detail__gallery-thumbs-card">
                                                <img src="img/article/gallery-image.jpg" alt=""
                                                    class="news-detail__gallery-thumbs-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <p>
                            Росимущество в рамках компетенции обеспечило формирование корпоративной структуры управления
                            Почты России в соответствии с законодательством Российской Федерации, с учетом передовых
                            практик в области корпоративного управления. На текущий момент в соответствии с уставом
                            Общества приняты решения о назначении состава совета директоров, назначены члены правления и
                            генеральный директор Общества, избрана ревизионная комиссия. Для регламентации ключевых
                            принципов и процедур корпоративного управления с учетом новой корпоративной структуры были
                            разработаны первоочередные внутренние корпоративные документы акционерного общества.
                        </p>
                        <blockquote>
                            <p>Продолжается работа по подготовке 10000 объектов недвижимого имущества и 3300 земельных
                                участков к внесению в качестве второго дополнительного вклада в уставный капитал АО
                                «Почта России»</p>
                            <footer>отметил Алексей Павлов</footer>
                        </blockquote>
                        <h3>
                            Заседание прошло онлайн
                        </h3>
                        <p>
                            Заместитель руководителя Росимущества Алексей Павлов выступил на заседании Комитета Совета Федерации по экономической политике. Заседание, посвященное результатам реорганизации АО «Почта России» и перспективам развития компании, состоялось 9 июня в режиме видеоконференции.
                        </p>
                        <ul>
                            <li>
                                Маркированный текст
                            </li>
                            <li>
                                Маркированный текст
                            </li>
                            <li>
                                Маркированный текст
                            </li>
                        </ul>
                        <h3>
                            Формирование структуры
                        </h3>
                        <p>
                            Росимущество в рамках компетенции обеспечило формирование корпоративной структуры управления Почты России в соответствии с законодательством Российской Федерации, с учетом передовых практик в области корпоративного управления. 
                        </p>
                        <ol>
                            <li>
                                Прономерованный текст
                            </li>
                            <li>
                                Прономерованный текст
                            </li>
                            <li>
                                Прономерованный текст
                            </li>
                        </ol>
                        <h3>
                            Заседание прошло онлайн
                        </h3>
                        <p>
                            Росимущество в рамках компетенции обеспечило формирование корпоративной структуры управления Почты России в соответствии с законодательством Российской Федерации, с учетом передовых практик в области корпоративного управления. 
                        </p>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Название первой колонки таблицы
                                    </th>
                                    <th>
                                        Данные таблицы
                                    </th>
                                    <th>
                                        Данные таблицы
                                    </th>
                                    <th>
                                        Данные таблицы
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-th="Название первой колонки таблицы">
                                        Информация первой колонки таблицы
                                    </td>
                                    <td data-th="Данные таблицы">
                                        Информация второй колонки
                                    </td>
                                    <td data-th="Данные таблицы">
                                        Информация
                                    </td>
                                    <td data-th="Данные таблицы">
                                        Информация
                                    </td>
                                </tr>
                                <tr>
                                    <td data-th="Название первой колонки таблицы">
                                        Информация первой колонки таблицы
                                    </td>
                                    <td data-th="Данные таблицы">
                                        Информация второй колонки
                                    </td>
                                    <td data-th="Данные таблицы">
                                        Информация
                                    </td>
                                    <td data-th="Данные таблицы">
                                        Информация
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="news-detail__info">
                        <div class="news-detail__info-author">
                            Автор: Наталия Густова
                        </div>
                          <div class="news-detail__social">
                        <h4 class="news-detail__social-heading">
                            Поделиться
                        </h4>
                        <div class="news-detail__social-links">
                            <a href="#" class="news-detail__social-link">
                                <svg width="18" height="18" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                            <a href="#" class="news-detail__social-link">
                                <svg width="18" height="18" aria-hidden="true" class="icon-vk">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                            <a href="#" class="news-detail__social-link">
                                <svg width="18" height="18" aria-hidden="true" class="icon-telegram">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                            <a href="#" class="news-detail__social-link">
                                <svg width="18" height="18" aria-hidden="true" class="icon-twitter">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>