<section class="news-slider js-news-slider">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__link">
                    Главная
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Полезные статьи
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
            </div>
            <h2 class="secondary-heading news-slider__heading">
                Свежие статьи
            </h2>

        </div>
        <div class="news-slider__content">
            <button class="news-slider__arrow news-slider__arrow--prev">
                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="news-slider__card">
                            <img src="img/news-slider/1.jpg" alt="" class="news-slider__card-image">
                            <div class="news-slider__card-overlay"
                                style="background: linear-gradient(90deg, rgba(5, 12, 66, 0.7) 29.75%, rgba(5, 12, 66, 0.308) 79.5%); ">
                            </div>
                            <div class="news-slider__card-content">
                                <div class="news-slider__card-tag">
                                    Долги
                                </div>
                                <h3 class="news-slider__card-heading">
                                    Процесс реорганизации АО «Почта России» обсудили на заседании Комитета Совета
                                    Федерации
                                </h3>
                                <div class="news-slider__card-date">
                                    01.06.2020 • 10 мин
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news-slider__card">
                            <img src="img/news-slider/2.jpg" alt="" class="news-slider__card-image">
                            <div class="news-slider__card-overlay"
                                style="background: linear-gradient(90deg, rgba(2, 4, 17, 0.85) 41.19%, rgba(0, 0, 0, 0.085) 110.1%);">
                            </div>
                            <div class="news-slider__card-content">
                                <div class="news-slider__card-tag">
                                    Долги
                                </div>
                                <h3 class="news-slider__card-heading">
                                    Процесс реорганизации АО «Почта России» обсудили на заседании Комитета Совета
                                    Федерации
                                </h3>
                                <div class="news-slider__card-date">
                                    01.06.2020 • 10 мин
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news-slider__card">
                            <img src="img/news-slider/1.jpg" alt="" class="news-slider__card-image">
                            <div class="news-slider__card-overlay"
                                style="background: linear-gradient(90deg, rgba(5, 12, 66, 0.7) 29.75%, rgba(5, 12, 66, 0.308) 79.5%); ">
                            </div>
                            <div class="news-slider__card-content">
                                <div class="news-slider__card-tag">
                                    Долги
                                </div>
                                <h3 class="news-slider__card-heading">
                                    Процесс реорганизации АО «Почта России» обсудили на заседании Комитета Совета
                                    Федерации
                                </h3>
                                <div class="news-slider__card-date">
                                    01.06.2020 • 10 мин
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news-slider__card">
                            <img src="img/news-slider/2.jpg" alt="" class="news-slider__card-image">
                            <div class="news-slider__card-overlay"
                                style="background: linear-gradient(90deg, rgba(2, 4, 17, 0.85) 41.19%, rgba(0, 0, 0, 0.085) 110.1%);">
                            </div>
                            <div class="news-slider__card-content">
                                <div class="news-slider__card-tag">
                                    Долги
                                </div>
                                <h3 class="news-slider__card-heading">
                                    Процесс реорганизации АО «Почта России» обсудили на заседании Комитета Совета
                                    Федерации
                                </h3>
                                <div class="news-slider__card-date">
                                    01.06.2020 • 10 мин
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
              <button class="news-slider__arrow news-slider__arrow--next">
                <svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>