<section class="other-items js-other-items">
    <div class="container">
        <div class="inner-container">
            <h2 class="other-items__heading">
                Другие арбитражные управляющие
            </h2>
            <div class="other-items__top-row">
                <div class="other-items__tabs-nav">
                    <a href="#" class="other-items__tabs-nav-link js-tabs-nav">
                        Из этой СРО
                    </a>
                    <a href="#" class="other-items__tabs-nav-link js-tabs-nav">
                        Из других СРО
                    </a>
                </div>
                <div class="other-items__arrows">
                    <button class="other-items__arrow other-items__arrow--prev">
                        <svg width="8" height="12" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="other-items__arrow other-items__arrow--next">
                        <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="other-items__tabs-items">
                <div class="other-items__tabs-item js-tabs-item">
                    <div class="other-items__slider">


                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="arbitrs__card arbitrs__card--white">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true"
                                                class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="arbitrs__card arbitrs__card--white">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true"
                                                class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="arbitrs__card arbitrs__card--white">

                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true"
                                                class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="arbitrs__card arbitrs__card--white">
                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true"
                                                class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="other-items__tabs-item js-tabs-item">
                    <div class="other-items__slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="arbitrs__card arbitrs__card--white">
                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true"
                                                class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="arbitrs__card arbitrs__card--white">
                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true"
                                                class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="arbitrs__card arbitrs__card--white">
                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true"
                                                class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="arbitrs__card arbitrs__card--white">
                                        <div class="arbitrs__card-cases-count">
                                            ИНН 7677001212

                                            <svg width="24" height="24" aria-hidden="true" class="icon-ok-decorative">
                                                <use xlink:href="#ok-decorative"></use>
                                            </svg>
                                        </div>
                                        <h3 class="arbitrs__card-title">
                                            Константинопольский Константин Константинович
                                        </h3>
                                        <div class="arbitrs__card-rating">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star-checked">
                                                <use xlink:href="#star-checked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true"
                                                class="icon-star-halfchecked">
                                                <use xlink:href="#star-halfchecked"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                            <svg width="16" height="16" aria-hidden="true" class="icon-star">
                                                <use xlink:href="#star"></use>
                                            </svg>
                                        </div>
                                        <div class="arbitrs__card-info">
                                            Челябинская область, г. Челябинск ·<br>
                                            <span class="arbitrs__card-info-association">
                                                Ассоциация ведущих арбитражных управляющих «Достояние»
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>