<section class="participate js-participate">
    <div class="container">
        <div class="inner-container">
            <div class="participate__row">
                <div class="participate__left-col">
                    <h2 class="participate__heading">
                        Как принять участие в торгах
                    </h2>
                    <div class="participate__nav">
                        <a href="#" class="participate__nav-link">
                            Найти лот каталоге
                        </a>
                        <a href="#" class="participate__nav-link">
                            Пройти регистрацию
                        </a>
                        <a href="#" class="participate__nav-link">
                            Подать заявку на участие
                        </a>
                        <a href="#" class="participate__nav-link">
                            Собрать пакет документов
                        </a>
                        <a href="#" class="participate__nav-link">
                            Ждать окончания торгов
                        </a>
                        <a href="#" class="participate__nav-link">
                            Наслаждаться покупкой!
                        </a>
                    </div>
                </div>
                <div class="participate__right-col">
                    <div class="participate__items">
                        <div class="participate__item">
                            <button class="participate__item-btn">
                                <span class="participate__item-btn-content">
                                    Найти лот каталоге

                                    <svg width="12" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </span>
                            </button>
                            <div class="participate__content">
                                <img src="img/participate/participate.jpg" alt="" class="participate__image">
                            </div>
                        </div>
                        <div class="participate__item">
                            <button class="participate__item-btn">
                                <span class="participate__item-btn-content">
                                    Найти лот каталоге

                                    <svg width="12" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </span>
                            </button>
                            <div class="participate__content">
                                <img src="img/participate/participate.jpg" alt="" class="participate__image">
                            </div>
                        </div>
                        <div class="participate__item">
                            <button class="participate__item-btn">
                                <span class="participate__item-btn-content">
                                    Найти лот каталоге

                                    <svg width="12" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </span>
                            </button>
                            <div class="participate__content">
                                <img src="img/participate/participate.jpg" alt="" class="participate__image">
                            </div>
                        </div>
                        <div class="participate__item">
                            <button class="participate__item-btn">
                                <span class="participate__item-btn-content">
                                    Найти лот каталоге

                                    <svg width="12" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </span>
                            </button>
                            <div class="participate__content">
                                <img src="img/participate/participate.jpg" alt="" class="participate__image">
                            </div>
                        </div>
                        <div class="participate__item">
                            <button class="participate__item-btn">
                                <span class="participate__item-btn-content">
                                    Найти лот каталоге

                                    <svg width="12" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </span>
                            </button>
                            <div class="participate__content">
                                <img src="img/participate/participate.jpg" alt="" class="participate__image">
                            </div>
                        </div>
                        <div class="participate__item">
                            <button class="participate__item-btn">
                                <span class="participate__item-btn-content">
                                    Найти лот каталоге

                                    <svg width="12" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </span>
                            </button>
                            <div class="participate__content">
                                <img src="img/participate/participate.jpg" alt="" class="participate__image">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>