<section class="partners js-partners">
    <div class="container">
        <h2 class="partners__heading">
            С нами сотрудничают
        </h2>
        <div class="partners__row">
            <div class="partners__items-wrapper">
                <div class="partners__item">
                    <a href="#" class="partners__link">
                        <img src="img/partners/spb.png" alt="Система быстрых платежей" class="partners__link-logo" width="200">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="#" class="partners__link">
                        <img src="img/partners/expobank.png" alt="Экспобанк" class="partners__link-logo" width="200">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="#" class="partners__link">
                        <img src="img/partners/interprom.png" alt="Интерпромбанк" class="partners__link-logo" width="275">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="#" class="partners__link">
                        <img src="img/partners/modul.png" alt="Модульбанк" class="partners__link-logo" width="275">
                    </a>
                </div>
            </div>
        </div>
        <div class="partners__row">
            <div class="partners__items-wrapper">
                <div class="partners__item">
                    <a href="#" class="partners__link">
                        <img src="img/partners/mb.png" alt="Московская биржа" class="partners__link-logo" width="235">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="#" class="partners__link">
                        <img src="img/partners/kontur.png" alt="СКБ Контур" class="partners__link-logo" width="275">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="#" class="partners__link">
                        <img src="img/partners/vb.png" alt="Восточный банк" class="partners__link-logo" width="275">
                    </a>
                </div>
                <div class="partners__item">
                    <a href="#" class="partners__link">
                        <img src="img/partners/interprom.png" alt="Интерпромбанк" class="partners__link-logo" width="275">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
