<section class="is-interesting is-interesting--read-also">
    <div class="container">
        <div class="inner-container">
            <h2 class="is-interesting__heading">
                Читайте также
            </h2>
            <div class="is-interesting__slider js-is-interesting-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="is-interesting__card">
                                <div class="is-interesting__card-image-container">
                                    <img src="img/interesting/1.jpg" alt="" class="is-interesting__card-image">
                                    <span class="is-interesting__card-tag">
                                        Акции 
                                    </span>
                                </div>
                                <h4 class="is-interesting__card-heading">
                                    ПАО «МИнБанк» объявил продажу прав требований на НЭП-Фабрикант
                                </h4>
                                <div class="is-interesting__info">
                                    01.06.2020  •  10 мин
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="is-interesting__card">
                                <div class="is-interesting__card-image-container">
                                    <img src="img/interesting/2.jpg" alt="" class="is-interesting__card-image">
                                    <span class="is-interesting__card-tag">
                                       Торги
                                    </span>
                                </div>
                                <h4 class="is-interesting__card-heading">
                                    Банк непрофильных активов «Траст» объявил новый аукцион 
                                </h4>
                                <div class="is-interesting__info">
                                    01.06.2020  •  10 мин
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="is-interesting__special-card">
                                <div class="is-interesting__special-card-tag">
                                    Акции
                                </div>
                                <h4 class="is-interesting__special-card-heading">
                                    ФАС объяснила идею ограничить круг площадок для закупок госкомпаний
                                </h4>
                                <div class="is-interesting__special-card-description">
                                    Заместитель руководителя Росимущества Алексей Павлов выступил на заседании Комитета
                                </div>
                                 <div class="is-interesting__info">
                                    01.06.2020  •  10 мин
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="is-interesting__card">
                                <div class="is-interesting__card-image-container">
                                    <img src="img/interesting/3.jpg" alt="" class="is-interesting__card-image">
                                   
                                </div>
                                <h4 class="is-interesting__card-heading">
                                    Обзор изменений по 44-ФЗ
                                </h4>
                                <div class="is-interesting__info">
                                    01.06.2020  •  10 мин
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>