<section class="useful-articles">
    <div class="container">
        <div class="inner-container">
            <h2 class="useful-articles__heading">
                Полезные статьи
            </h2>
            <div class="useful-articles__row">
                <a href="#" class="useful-articles__large-card">
                    <img src="img/useful-articles/1.jpg" alt="" class="useful-articles__large-card-image">
                    <h3 class="useful-articles__large-card-heading">
                        ФАС России вводит дистанционное рассмотрение жалоб на торги.
                    </h3>
                    <time class="useful-articles__datetime" datetime="2020-06-12">12 июня</time>
                </a>
                <div class="useful-articles__small-cards js-small-cards-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="useful-articles__small-card useful-articles__small-card--white-text"
                                    style="--image-overlay-opacity: 0.6" ie-style="--image-overlay-opacity: 0.6">
                                    <img src="img/useful-articles/2.jpg" alt=""
                                        class="useful-articles__small-card-image">
                                    <h4 class="useful-articles__small-card-title">
                                        АО «ВЭБ-лизинг» объявляет о начале проведения торгов в электронной форме по
                                        продаже движимого имущества (транспортных средств)
                                    </h4>
                                    <time class="useful-articles__datetime" datetime="2020-06-12">12 июня</time>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="useful-articles__small-card">

                                    <h4 class="useful-articles__small-card-title">
                                        АО «ВЭБ-лизинг» объявляет о начале проведения торгов в электронной форме по
                                        продаже движимого имущества (транспортных средств)
                                    </h4>
                                    <time class="useful-articles__datetime" datetime="2020-06-12">12 июня</time>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="useful-articles__other-news js-other-news-slider">
                    <div class="swiper-container">
                        <ul class="swiper-wrapper useful-articles__other-news-list">
                            <li class="swiper-slide useful-articles__other-news-list-item">
                                <a href="#" class="useful-articles__other-news-card">
                                    <h3 class="useful-articles__other-news-card-title">
                                        АО «ВЭБ-лизинг» объявляет о начале проведения торгов в электронной форме по
                                        продаже
                                        движимого имущества
                                    </h3>
                                    <time class="useful-articles__datetime" datetime="2020-06-12">12 июня</time>
                                </a>
                            </li>
                            <li class="swiper-slide useful-articles__other-news-list-item">
                                <a href="#" class="useful-articles__other-news-card">
                                    <h3 class="useful-articles__other-news-card-title">
                                        ФАС России вводит дистанционное рассмотрение жалоб на торги.
                                    </h3>
                                    <time class="useful-articles__datetime" datetime="2020-06-12">12 июня</time>
                                </a>
                            </li>
                            <li class="swiper-slide useful-articles__other-news-list-item">
                                <a href="#" class="useful-articles__other-news-card">
                                    <h3 class="useful-articles__other-news-card-title">
                                        АО «ВЭБ-лизинг» объявляет о начале проведения торгов в электронной форме по
                                        продаже
                                        движимого имущества
                                    </h3>
                                    <time class="useful-articles__datetime" datetime="2020-06-12">12 июня</time>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>