<div class="user__panel">
    <div class="user__avatar">
        KK
    </div>
    <div class="user__name">
        Константин Константинопольский
    </div>
    <a href="#" class="user__change-data">
        Изменить данные
    </a>

    <nav class="user__nav">
        <a href="#" class="user__nav-link">
            Отчеты и выписки
        </a>
        <a href="#" class="user__nav-link">
            Избранное
        </a>
        <a href="#" class="user__nav-link">
            Сохраненные поиски
        </a>
        <a href="#" class="user__nav-link">
            Уведомления
        </a>
        <a href="#" class="user__nav-link">
            Подписка
        </a>
    </nav>
    <a href="#" class="user__logout-link">
        Выйти
    </a>

    <a href="#" class="user__try-premium">
        <div class="user__try-premium-type">
            Профессиональный аккаунт
        </div>
        <div class="user__try-premium-slogan">
            Попробуйте 30 дней бесплатно
        </div>
    </a>

    <div class="user__other-accounts">
        <h3 class="user__other-accounts-heading">
            Другие аккаунты
        </h3>
        <ul class="user__other-accounts-list">
            <li class="user__other-accounts-list-item">
                <a href="#" class="user__other-accounts-card">
                    <div class="user__other-accounts-card-avatar">
                        ВК
                    </div>
                    <div class="user__other-accounts-card-content">
                        <div class="user__other-accounts-card-name">
                            Владимир Константинопольсикй
                        </div>
                        <div class="user__other-accounts-card-email">
                            konstantin@ei.ru
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="user__other-accounts-create">
            <div class="user__other-accounts-create-icon">
                <svg width="12" height="12" aria-hidden="true" class="icon-plus">
                    <use xlink:href="#plus"></use>
                </svg>
            </div>
            Добавить аккаунт
        </a>
    </div>
</div>