{{#extend "layout"}}
{{#content "main"}}


<section class="notifications">
    <div class="container">
        <div class="inner-container">
            <div class="user">
                <div class="user__layout">
                    <div class="user__sidebar">
                        {{> user-panel }}
                    </div>
                    <div class="user__main">
                        <h1 class="main-heading user__heading">
                            Уведомления
                        </h1>
                        <div class="user__inner-nav user__inner-nav--reports">
                            <div class="user__inner-nav-links-wrapper">
                                <div class="user__inner-nav-links">
                                    <a href="#" class="user__inner-nav-link active">
                                        Новые
                                    </a>
                                    <a href="#" class="user__inner-nav-link">
                                        Прочитанные
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="user__notifications">
                            <ul class="user__notifications-list">
                                <li class="user__notifications-list-item">
                                    <div class="user__notifications-card">
                                        <div class="user__notifications-card-top-row">
                                            <div class="user__notifications-card-image-container">
                                                <img src="img/notifications/1.jpg" alt=""
                                                    class="user__notifications-card-image">
                                            </div>
                                            <h4 class="user__notifications-card-title">
                                                Транспортное средство Datsun On-Do, VIN Z8NBAABD0H0061518, тип ТС –
                                                легковой седан, категория ТС – В, год изготовления ТС – 2017 г.,
                                                модель...
                                            </h4>
                                        </div>
                                        <div class="user__notifications-card-action">
                                            <div class="user__notifications-card-action-type">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-picture">
                                                    <use xlink:href="#picture"></use>
                                                </svg>
                                                <span class="user__notifications-card-action-text">
                                                    Добавлено 16 новых изображений
                                                </span>

                                                <span class="user__notifications-card-action-date">
                                                    12.09.2020 15:00
                                                </span>
                                            </div>
                                            <div class="user__notifications-card-action-new-photos">
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/2.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/3.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/4.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/2.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/3.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/4.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/2.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/3.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/4.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/2.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                    <span class="user__notifications-card-action-new-photo-more">
                                                        Еще 8
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="user__notifications-card-action">
                                            <div class="user__notifications-card-action-type">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-graph">
                                                    <use xlink:href="#graph"></use>
                                                </svg>
                                                <span class="user__notifications-card-action-text">
                                                    Добавлен новый отчет
                                                </span>
                                                <span class="user__notifications-card-action-date">
                                                    12.09.2020 15:00
                                                </span>
                                            </div>

                                        </div>

                                    </div>
                                </li>
                                <li class="user__notifications-list-item">
                                    <div class="user__notifications-card">
                                        <div class="user__notifications-card-top-row">
                                            <div class="user__notifications-card-image-container">
                                                <img src="img/notifications/1.jpg" alt=""
                                                    class="user__notifications-card-image">
                                            </div>
                                            <h4 class="user__notifications-card-title">
                                                Транспортное средство Datsun On-Do, VIN Z8NBAABD0H0061518, тип ТС –
                                                легковой седан, категория ТС – В, год изготовления ТС – 2017 г.,
                                                модель...
                                            </h4>
                                        </div>
                                        <div class="user__notifications-card-action">
                                            <div class="user__notifications-card-action-type">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-picture">
                                                    <use xlink:href="#picture"></use>
                                                </svg>
                                                <span class="user__notifications-card-action-text">
                                                    Добавлено 16 новых изображений
                                                </span>

                                                <span class="user__notifications-card-action-date">
                                                    12.09.2020 15:00
                                                </span>
                                            </div>
                                            <div class="user__notifications-card-action-new-photos">
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/2.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>
                                                <a href="#" class="user__notifications-card-action-new-photo">
                                                    <img src="img/notifications/3.jpg" alt=""
                                                        class="user__notifications-card-action-new-photo-image">
                                                </a>

                                            </div>
                                        </div>


                                    </div>
                                </li>
                                <li class="user__notifications-list-item">
                                    <div class="user__notifications-card">
                                        <div class="user__notifications-card-top-row">
                                            <div class="user__notifications-card-image-container">
                                                <img src="img/notifications/ei.svg" alt=""
                                                    class="user__notifications-card-image">
                                            </div>
                                            <h4 class="user__notifications-card-title">
                                                <span class="user__notifications-card-title-type">
                                                    Системное уведомление
                                                </span>
                                                Единый Информатор
                                            </h4>
                                        </div>
                                        <div class="user__notifications-card-action">
                                            <div class="user__notifications-card-action-type">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-new-label">
                                                    <use xlink:href="#new-label"></use>
                                                </svg>
                                                <span class="user__notifications-card-action-text">
                                                    Появился новый лот, который вы могли искать
                                                </span>
                                                <span class="user__notifications-card-action-date">
                                                    12.09.2020 15:00
                                                </span>
                                            </div>
                                            <a href="#" class="user__notifications-card-action-object">
                                                <div class="user__notifications-card-action-object-image-container">
                                                    <img src="img/notifications/5.jpg" alt=""
                                                        class="user__notifications-card-action-object-image">
                                                </div>
                                                <div class="user__notifications-card-action-object-content">
                                                    <h5 class="user__notifications-card-action-object-name">
                                                        Нежилое помещение, площадью 56,5 кв.м, расположенное по адресу:
                                                        Хабаровский край, г. Хабаровск, ул. Гайдара, д. 13, пом. - I
                                                        (1-48, 50, 51)...
                                                    </h5>

                                                    <div class="user__notifications-card-action-object-filters">
                                                        <div
                                                            class="user__notifications-card-action-object-filters-title">
                                                            Используемые фильтры
                                                        </div>
                                                        <div
                                                            class="user__notifications-card-action-object-filters-items">
                                                            Недвижимость · до 2 300 000 ₽ · Муниципальное имущество ·
                                                            Аукцион
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="user__notifications-list-item">
                                    <div class="user__notifications-card">
                                        <div class="user__notifications-card-top-row">
                                            <div class="user__notifications-card-image-container">
                                                <img src="img/notifications/1.jpg" alt=""
                                                    class="user__notifications-card-image">
                                            </div>
                                            <h4 class="user__notifications-card-title">
                                                Транспортное средство Datsun On-Do, VIN Z8NBAABD0H0061518, тип ТС –
                                                легковой седан, категория ТС – В, год изготовления ТС – 2017 г.,
                                                модель...
                                            </h4>
                                        </div>
                                        <div class="user__notifications-card-action">
                                            <div class="user__notifications-card-action-type">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-message">
                                                    <use xlink:href="#message"></use>
                                                </svg>
                                                <span class="user__notifications-card-action-text">
                                                    Новое сообщение
                                                </span>

                                                <span class="user__notifications-card-action-date">
                                                    12.09.2020 15:00
                                                </span>
                                            </div>
                                            <div class="user__notifications-card-action-question">
                                                <div class="user__notifications-card-action-question-text">
                                                    Добрый день! Расскажите подробнее Верховодка, как следствие
                                                    уникальности почвообразования в данных условиях, инструментально
                                                    обнаружима. Желтозём горизонтально перемещает межагрегатный
                                                    влагомер...
                                                </div>
                                                <div class="user__notifications-card-action-answer-text">
                                                    Добрый день! Расскажите подробнее Верховодка, как следствие
                                                    уникальности почвообразования в данных условиях, инструментально
                                                    обнаружима. Желтозём горизонтально перемещает межагрегатный влагомер
                                                    никальности почвообразования в данных условиях, инструментально
                                                    обнаружима. Желтозём горизонтально перемещает межагрегатный
                                                    влагомер.
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </li>
                                <li class="user__notifications-list-item">
                                    <div class="user__notifications-card">
                                        <div class="user__notifications-card-top-row">
                                            <div class="user__notifications-card-image-container">
                                                <img src="img/notifications/1.jpg" alt=""
                                                    class="user__notifications-card-image">
                                            </div>
                                            <h4 class="user__notifications-card-title">
                                                Транспортное средство Datsun On-Do, VIN Z8NBAABD0H0061518, тип ТС –
                                                легковой седан, категория ТС – В, год изготовления ТС – 2017 г.,
                                                модель...
                                            </h4>
                                        </div>
                                        <div class="user__notifications-card-action">
                                            <div class="user__notifications-card-action-type">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-message">
                                                    <use xlink:href="#message"></use>
                                                </svg>
                                                <span class="user__notifications-card-action-text">
                                                    Предложенная цена одобрена
                                                </span>

                                                <span class="user__notifications-card-action-date">
                                                    12.09.2020 15:00
                                                </span>
                                            </div>
                                            <div class="user__notifications-card-action-price">
                                                <a href="#" class="user__notifications-card-action-price-accepted">
                                                    <svg width="12" height="12" aria-hidden="true" class="icon-ok">
                                                        <use xlink:href="#ok"></use>
                                                    </svg>
                                                    1 734 000 ₽
                                                </a>
                                                <div class="user__notifications-card-action-price-message">
                                                    Добрый день!<br> Расскажите подробнее Верховодка, как следствие
                                                    уникальности почвообразования в данных условиях, инструментально
                                                    обнаружима.
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </li>
                                <li class="user__notifications-list-item">
                                    <div class="user__notifications-card">
                                        <div class="user__notifications-card-top-row">
                                            <div class="user__notifications-card-image-container">
                                                <img src="img/notifications/1.jpg" alt=""
                                                    class="user__notifications-card-image">
                                            </div>
                                            <h4 class="user__notifications-card-title">
                                                Транспортное средство Datsun On-Do, VIN Z8NBAABD0H0061518, тип ТС –
                                                легковой седан, категория ТС – В, год изготовления ТС – 2017 г.,
                                                модель...
                                            </h4>
                                        </div>
                                        <div class="user__notifications-card-action">
                                            <div class="user__notifications-card-action-type">
                                                <svg width="12" height="12" aria-hidden="true" class="icon-message">
                                                    <use xlink:href="#message"></use>
                                                </svg>
                                                <span class="user__notifications-card-action-text">
                                                    Предложенная цена одобрена
                                                </span>

                                                <span class="user__notifications-card-action-date">
                                                    12.09.2020 15:00
                                                </span>
                                            </div>
                                            <div class="user__notifications-card-action-price">
                                                <a href="#" class="user__notifications-card-action-price-declined">
                                                    <svg width="12" height="12" aria-hidden="true" class="icon-not-ok">
                                                        <use xlink:href="#not-ok"></use>
                                                    </svg>
                                                    1 734 000 ₽
                                                </a>
                                                <div class="user__notifications-card-action-price-message">
                                                    Добрый день!<br> Расскажите подробнее Верховодка, как следствие
                                                    уникальности почвообразования в данных условиях, инструментально
                                                    обнаружима.
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </li>
                            </ul>
                            <div class="user__reports-pagination">
                                <div class="pagination">
                                    <ul class="pagination__list">
                                        <li class="pagination__list-item active">
                                            <a href="#" class="pagination__link">
                                                1
                                            </a>
                                        </li>
                                        <li class="pagination__list-item">
                                            <a href="#" class="pagination__link">
                                                2
                                            </a>
                                        </li>
                                        <li class="pagination__list-item">
                                            <a href="#" class="pagination__link">
                                                3
                                            </a>
                                        </li>
                                        <li class="pagination__list-item">
                                            <a href="#" class="pagination__link">
                                                4
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="btn catalog__lots-show-more-items">
                                    Показать еще
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}