{{#extend "layout"}}
{{#content "main"}}

<section class="change-data">
    <div class="container">
        <div class="inner-container">
            <div class="user">
                <div class="user__layout">
                    <div class="user__sidebar">
                        {{> user-panel }}
                    </div>
                    <div class="user__main">
                        <h1 class="main-heading user__heading">
                            Отчеты и выписки
                        </h1>
                        <div class="user__inner-nav user__inner-nav--reports">
                            <div class="user__inner-nav-links-wrapper">
                                <div class="user__inner-nav-links">
                                    <a href="#" class="user__inner-nav-link active">
                                        Все отчеты
                                    </a>
                                    <a href="#" class="user__inner-nav-link">
                                        Отчеты
                                    </a>
                                    <a href="#" class="user__inner-nav-link">
                                        Автотека
                                    </a>
                                    <a href="#" class="user__inner-nav-link">
                                        Росреестр
                                    </a>
                                </div>
                            </div>
                            <label class="user__inner-nav-only-ready">
                                <input type="checkbox" name="onlyready" class="user__inner-nav-only-ready-input">
                                <span class="user__inner-nav-only-ready-text">
                                    Только готовые
                                </span>
                                <span class="user__inner-nav-only-ready-mark">
                                    <svg width="12" height="12" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>

                            </label>
                        </div>
                        <div class="user__reports">
                            <ul class="user__reports-list">
                                <li class="user__reports-list-item">
                                    <div class="user__reports-card">
                                        <div class="user__reports-card-top-row">
                                            <div class="user__reports-card-lot-id">
                                                Лот № 567298
                                            </div>
                                            <span class="user__reports-card-date">
                                                12.09.2020 15:00
                                            </span>
                                        </div>
                                        <div class="user__reports-card-bottom-row">
                                            <div class="user__reports-card-image-container">
                                                <img src="img/lots/1.jpg" alt="" class="user__reports-card-image">
                                            </div>
                                            <div class="user__reports-card-content">
                                                <div class="user__reports-card-info">
                                                    <h4 class="user__reports-card-title">
                                                        Торги по реализации имущества Шелевестера Максима Валерьевича:
                                                        Транспортное средство, модель- INFINIT...
                                                    </h4>
                                                    <div class="user__reports-card-price">
                                                        499 ₽
                                                    </div>
                                                    <div class="user__reports-card-btns">
                                                        <a href="#" class="user__reports-card-download">
                                                            <svg width="12" height="12" aria-hidden="true"
                                                                class="icon-doc">
                                                                <use xlink:href="#doc"></use>
                                                            </svg>
                                                            Скачать ZIP · 325 КБ
                                                        </a>
                                                        <a href="#" class="user__reports-card-details">
                                                            Перейти к лоту
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="user__reports-card-params">
                                                    <div class="user__reports-card-manager">
                                                        <img src="img/notifications/ei.svg" alt=""
                                                            class="user__reports-card-manager-photo">
                                                        <div class="user__reports-card-manager-info">
                                                            <div class="user__reports-card-manager-name">
                                                                Павел Иванов
                                                            </div>
                                                            <div class="user__reports-card-manager-reports-count">
                                                                6 отчетов
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="user__reports-card-manager-opinion">
                                                        <h4 class="user__reports-card-manager-opinion-heading">
                                                            Мнение эксперта
                                                        </h4>
                                                        <div class="user__reports-card-manager-opinion-stats">
                                                            <div class="user__reports-card-manager-opinion-stats-item">
                                                                <div class="user__reports-card-manager-opinion-stats-amount"
                                                                    style="--amount: 0.6;" ie-style="--amount: 0.6;">
                                                                    <div
                                                                        class="user__reports-card-manager-opinion-stats-amount-progress">
                                                                        <svg width="200" height="200"
                                                                            viewBox="0 0 200 200"
                                                                            xmlns="http://www.w3.org/2000/svg">

                                                                            <defs>
                                                                                <linearGradient id="gradient" x1="0%"
                                                                                    y1="0%" x2="0%" y2="100%">
                                                                                    <stop offset="0%"
                                                                                        stop-color="#12AF81" />
                                                                                    <stop offset="100%"
                                                                                        stop-color="#019BC5" />
                                                                                </linearGradient>
                                                                            </defs>
                                                                            <circle cy="100" cx="100" r="80"
                                                                                fill="transparent" stroke="white"
                                                                                stroke-opacity="0.3" stroke-width="30">
                                                                            </circle>
                                                                            <circle cy="100" cx="100" r="80"
                                                                                fill="transparent"
                                                                                stroke="url(#gradient)"
                                                                                stroke-width="30"
                                                                                stroke-dasharray="500">
                                                                            </circle>
                                                                        </svg>
                                                                    </div>
                                                                    Интерес
                                                                </div>
                                                                <div
                                                                    class="user__reports-card-manager-opinion-stats-score">
                                                                    6/10
                                                                </div>
                                                            </div>
                                                            <div class="user__reports-card-manager-opinion-stats-item">
                                                                <div class="user__reports-card-manager-opinion-stats-amount"
                                                                    style="--amount: 0.3;" ie-style="--amount: 0.3;">
                                                                    <div
                                                                        class="user__reports-card-manager-opinion-stats-amount-progress user__reports-card-manager-opinion-stats-amount-progress--blue">
                                                                        <svg width="200" height="200"
                                                                            viewBox="0 0 200 200"
                                                                            xmlns="http://www.w3.org/2000/svg">
                                                                            <circle cy="100" cx="100" r="80"
                                                                                fill="transparent" stroke="white"
                                                                                stroke-opacity="0.3" stroke-width="30">
                                                                            </circle>
                                                                            <circle cy="100" cx="100" r="80"
                                                                                fill="transparent" stroke="white"
                                                                                stroke-width="30"
                                                                                stroke-dasharray="500">
                                                                            </circle>
                                                                        </svg>
                                                                    </div>
                                                                    Риск
                                                                </div>
                                                                <div
                                                                    class="user__reports-card-manager-opinion-stats-score">
                                                                    3/10
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="user__reports-list-item">
                                    <div class="user__reports-card">
                                        <div class="user__reports-card-top-row">
                                            <div class="user__reports-card-lot-id">
                                                Лот № 567298
                                            </div>
                                            <span class="user__reports-card-date">
                                                12.09.2020 15:00
                                            </span>
                                        </div>
                                        <div class="user__reports-card-bottom-row">
                                            <div class="user__reports-card-image-container">
                                                <img src="img/lots/10.jpg" alt="" class="user__reports-card-image">
                                            </div>
                                            <div class="user__reports-card-content">
                                                <div class="user__reports-card-info">
                                                    <h4 class="user__reports-card-title">
                                                        Торги по реализации имущества Шелевестера Максима Валерьевича:
                                                        Транспортное средство, модель- INFINIT...
                                                    </h4>
                                                    <div class="user__reports-card-price">
                                                        499 ₽
                                                    </div>
                                                    <div class="user__reports-card-btns">
                                                        <a class="user__reports-card-in-progress">
                                                            <svg width="12" height="12" aria-hidden="true"
                                                                class="icon-progress">
                                                                <use xlink:href="#progress"></use>
                                                            </svg>
                                                            Отчет в работе
                                                        </a>
                                                        <a href="#" class="user__reports-card-details">
                                                            Перейти к лоту
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="user__reports-card-params">
                                                    <div class="user__reports-card-manager">
                                                        <img src="img/notifications/ei.svg" alt=""
                                                            class="user__reports-card-manager-photo">
                                                        <div class="user__reports-card-manager-info">
                                                            <div class="user__reports-card-manager-name">
                                                                Павел Иванов
                                                            </div>
                                                            <div class="user__reports-card-manager-reports-count">
                                                                6 отчетов
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="user__reports-card-manager-opinion">
                                                        <h4 class="user__reports-card-manager-opinion-heading">
                                                            Мнение эксперта
                                                        </h4>
                                                        <div class="user__reports-card-manager-opinion-stats">
                                                            <div class="user__reports-card-manager-opinion-stats-item">
                                                                <div class="user__reports-card-manager-opinion-stats-amount"
                                                                    style="--amount: 1;" ie-style="--amount: 1;">
                                                                    <div
                                                                        class="user__reports-card-manager-opinion-stats-amount-progress">
                                                                        <svg width="200" height="200"
                                                                            viewBox="0 0 200 200"
                                                                            xmlns="http://www.w3.org/2000/svg">

                                                                            <defs>
                                                                                <linearGradient id="gradient" x1="0%"
                                                                                    y1="0%" x2="0%" y2="100%">
                                                                                    <stop offset="0%"
                                                                                        stop-color="#12AF81" />
                                                                                    <stop offset="100%"
                                                                                        stop-color="#019BC5" />
                                                                                </linearGradient>
                                                                            </defs>
                                                                            <circle cy="100" cx="100" r="80"
                                                                                fill="transparent" stroke="white"
                                                                                stroke-opacity="0.3" stroke-width="30">
                                                                            </circle>
                                                                            <circle cy="100" cx="100" r="80"
                                                                                fill="transparent"
                                                                                stroke="url(#gradient)"
                                                                                stroke-width="30"
                                                                                stroke-dasharray="500">
                                                                            </circle>
                                                                        </svg>
                                                                    </div>
                                                                    Интерес
                                                                </div>
                                                                <div
                                                                    class="user__reports-card-manager-opinion-stats-score">
                                                                    10/10
                                                                </div>
                                                            </div>
                                                            <div class="user__reports-card-manager-opinion-stats-item">
                                                                <div class="user__reports-card-manager-opinion-stats-amount"
                                                                    style="--amount: 1;" ie-style="--amount: 1;">
                                                                    <div
                                                                        class="user__reports-card-manager-opinion-stats-amount-progress user__reports-card-manager-opinion-stats-amount-progress--blue">
                                                                        <svg width="200" height="200"
                                                                            viewBox="0 0 200 200"
                                                                            xmlns="http://www.w3.org/2000/svg">
                                                                            <circle cy="100" cx="100" r="80"
                                                                                fill="transparent" stroke="white"
                                                                                stroke-opacity="0.3" stroke-width="30">
                                                                            </circle>
                                                                            <circle cy="100" cx="100" r="80"
                                                                                fill="transparent" stroke="white"
                                                                                stroke-width="30"
                                                                                stroke-dasharray="500">
                                                                            </circle>
                                                                        </svg>
                                                                    </div>
                                                                    Риск
                                                                </div>
                                                                <div
                                                                    class="user__reports-card-manager-opinion-stats-score">
                                                                    10/10
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                            <div class="user__reports-pagination">
                                <div class="pagination">
                                    <ul class="pagination__list">
                                        <li class="pagination__list-item active">
                                            <a href="#" class="pagination__link">
                                                1
                                            </a>
                                        </li>
                                        <li class="pagination__list-item">
                                            <a href="#" class="pagination__link">
                                                2
                                            </a>
                                        </li>
                                        <li class="pagination__list-item">
                                            <a href="#" class="pagination__link">
                                                3
                                            </a>
                                        </li>
                                        <li class="pagination__list-item">
                                            <a href="#" class="pagination__link">
                                                4
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="btn catalog__lots-show-more-items">
                                    Показать еще
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}