{{#extend "layout"}}
{{#content "main"}}

<section class="services-intro">
    <div class="services-intro__bg">
        <img src="img/services/waves.svg" alt="" class="services-intro__bg-image">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs services-intro__breadcrumbs">
                <a href="#" class="breadcrumbs__link">
                    Главная
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
                <a href="#" class="breadcrumbs__link">
                    Услуги и тарифы
                    <svg width="8" height="12" aria-hidden="true" class="icon-arrow-right-rounded">
                        <use xlink:href="#arrow-right-rounded"></use>
                    </svg>
                </a>
            </div>
            <div class="services-intro__row">
                <div class="services-intro__left-col">
                    <h1 class="main-heading services-intro__main-heading">
                        Полный доступ к информации о лотах у вас в руках
                    </h1>
                    <div class="services-intro__description">
                        <p>
                            Все подробности о лотах и торгах будут доступны вам с премиум подпиской
                        </p>
                    </div>
                    <a href="#" class="services-intro__try">
                        Попробовать 30 дней бесплатно
                    </a>
                </div>
                <div class="services-intro__right-col">
                    <img src="img/services/intro.png" alt="" class="services-intro__image">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="you-will-know-first">
    <div class="container">
        <div class="inner-container">
            <div class="you-will-know-first__row">
                <div class="you-will-know-first__left-col">
                    <div class="you-will-know-first__phone-block">
                        <img src="img/know-first/iphone.png" alt="" class="you-will-know-first__phone-image">
                        <div class="you-will-know-first__phone-message">
                            <svg width="29" height="39" aria-hidden="true" class="icon-bell">
                                <use xlink:href="#bell"></use>
                            </svg>
                            <div class="you-will-know-first__phone-message-content">
                                <div class="you-will-know-first__phone-message-text">
                                    Появились новые торги!
                                </div>
                                <div class="you-will-know-first__phone-message-type">
                                    Банкротные торги
                                </div>
                                <div class="you-will-know-first__phone-message-category">
                                    Категория: Автомобиль
                                </div>
                            </div>
                        </div>
                        <div class="you-will-know-first__phone-message">
                            <svg width="29" height="39" aria-hidden="true" class="icon-bell">
                                <use xlink:href="#bell"></use>
                            </svg>
                            <div class="you-will-know-first__phone-message-content">
                                <div class="you-will-know-first__phone-message-text">
                                    Появились новые торги!
                                </div>
                                <div class="you-will-know-first__phone-message-type">
                                    Банкротные торги
                                </div>
                                <div class="you-will-know-first__phone-message-category">
                                    Категория: Автомобиль
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="you-will-know-first__right-col">
                    <h2 class="you-will-know-first__heading">
                        Вы узнаете первым
                    </h2>
                    <div class="you-will-know-first__text">
                        <p>
                            С премиум подпиской вы будете одним из первых получать уведовления о новых торгах, лотах из
                            интересующих вас категорий
                        </p>
                    </div>
                    <a href="#" class="you-will-know-first__link">
                        Попробовать 30 дней бесплатно
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bonuses">

    <div class="container">
        <div class="inner-container">
            <div class="bonuses__row">
                <div class="bonuses__left-col">
                    <h2 class="bonuses__heading">
                        Приятные бонусы
                    </h2>
                    <div class="bonuses__text">
                        <p>
                            Вы получите скидку 20% при оформлении покупки через нашего агента
                        </p>
                    </div>
                    <a href="#" class="bonuses__link">
                        Попробовать 30 дней бесплатно
                    </a>
                </div>
                <div class="bonuses__right-col">
                    <div class="bonuses__amount">
                        20%
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tariffs-info">
    <div class="container">
        <div class="inner-container">
            <h2 class="tariffs-info__heading">
                Информация от тарифах
            </h2>
            <div class="tariffs-info__table">
                <div class="tariffs-info__table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <span class="visually-hidden">
                                        Возможности
                                    </span>
                                </th>
                                <th>
                                    <div class="tariffs-info__table-user-group tariffs-info__table-user-group--all">
                                        <div class="tariffs-info__table-user-group-title">
                                            Все пользователи
                                        </div>
                                        <div class="tariffs-info__table-user-group-amount">
                                            0
                                            <span class="tariffs-info__table-user-group-amount-currency">
                                                ₽
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tariffs-info__table-user-group-description">
                                        Все посетители сервиса Единый информатор
                                    </div>
                                </th>
                                <th>
                                    <div
                                        class="tariffs-info__table-user-group tariffs-info__table-user-group--authorized">
                                        <div class="tariffs-info__table-user-group-title">
                                            Авторизированные пользователи
                                        </div>
                                        <div class="tariffs-info__table-user-group-amount">
                                            0
                                            <span class="tariffs-info__table-user-group-amount-currency">
                                                ₽
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tariffs-info__table-user-group-description">
                                        Все посетители сервиса Единый информатор
                                    </div>
                                </th>
                                <th>
                                    <div class="tariffs-info__table-user-group tariffs-info__table-user-group--paid">
                                        <div class="tariffs-info__table-user-group-title">
                                            Платный доступ
                                        </div>
                                        <div class="tariffs-info__table-user-group-amount">
                                            5320
                                            <span class="tariffs-info__table-user-group-amount-currency">
                                                ₽
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tariffs-info__table-user-group-description">
                                        Все посетители сервиса Единый информатор
                                    </div>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    Просмотр информации о лоте
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Добавление в избранное
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Запрос организатору
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Поисковые подборки
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    История просмотров
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Скидка на покупку через агента
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ссылка на источник торгов
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Уведомление об изменении избранного лота
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-minus">
                                        <use xlink:href="#minus"></use>
                                    </svg>
                                </td>
                                <td>
                                    <svg width="22" height="22" aria-hidden="true" class="icon-plus">
                                        <use xlink:href="#plus"></use>
                                    </svg>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                </div>
            </div>
            <div class="tariffs-info__subscribe">
                <div class="tariffs-info__subscribe-content">
                    <a href="#" class="tariffs-info__subscribe-link">
                        Оформить подписку
                    </a>
                    на 30 дней бесплатно
                </div>

            </div>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="container">
        <div class="inner-container">
            <h2 class="subscribe__heading">
                Весь функционал в одном месте<br> 30 дней бесплатно
            </h2>
            <form action="/" method="POST" class="subscribe__form">
                <div class="subscribe__form-group">
                    <input type="email" placeholder="Введите email" class="subscribe__form-input" required>
                </div>
                <div class="subscribe__form-group">
                    <button type="submit" class="subscribe__form-submit">
                        Оформить подписку
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="not-offer">
    <div class="container">
        <div class="inner-container">
            <div class="not-offer__row">
                Данное предложение не является публичной офертой. Доступно только для авторизованных пользователей
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}